<div id="authors">

    <h1>À propos</h1>

    <p>
        Mis en ligne par Youri. Feedback, bugs, questions : <a href="mailto:ldvelh@ackx.net">ldvelh@ackx.net</a>
    </p>

    <img src="img/sorcery/01/collines_malefiques.jpg" style="margin: 30px 0 30px 0"/>

    <p><i>A Ian Livingstone et au Marmouscule.</i></p>

    <p>Steve Jackson</p>

    <p>Les Collines Maléfiques</p>

    <p>Sorcellerie! / 1</p>

    <p>Traduit de l'anglais par Camille Fabien</p>

    <p>Illustrations de John Blanche</p>


    <img src="img/sorcery/01/serpent.gif"/>

    <p>Gallimard</p>

    <p>Titre original : Shamutanti Hills</p>

    <p>
        &copy; Steve Jackson, 1983, pour le texte. <br>
        &copy; John Blanche, 1983, pour les illustrations. <br>
        &copy; Editions Gallimard, 1985, pour la traduction française.
    </p>

    <img src="img/sorcery/01/bande.gif"/>

</div>

