<div id="authors">

    <h1>À propos</h1>

    <p>Mis en ligne par <a href="http://ackx.net/" target="_blank">Youri Ackx</a></p>
    <p>Feedback, bugs, questions : <a href="mailto:ldvelh@ackx.net">ldvelh@ackx.net</a></p>

    <img src="img/sorcery/01/collines_malefiques.jpg" style="margin: 30px 0 30px 0"/>

    <p><i>A Ian Livingstone et au Marmouscule.</i></p>

    <p>Steve Jackson</p>

    <p>Les Collines Maléfiques</p>

    <p>Sorcellerie! / 1</p>

    <p>Traduit de l'anglais par Camille Fabien</p>

    <p>Illustrations de John Blanche</p>


    <img src="img/sorcery/01/serpent.gif"/>

    <p>Gallimard</p>

    <p>Titre original : Shamutanti Hills</p>

    <p>
        &copy; Steve Jackson, 1983, pour le texte. <br>
        &copy; John Blanche, 1983, pour les illustrations. <br>
        &copy; Editions Gallimard, 1985, pour la traduction française.
    </p>

    <img src="img/sorcery/01/bande.gif"/>

    <p style="margin-top: 1em">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Livre Dont Vous Êtes le Héros (moteur)</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://ldvelh.ackx.net/" property="cc:attributionName" rel="cc:attributionURL">Youri Ackx</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.

        Cette licence ne porte que sur le moteur de jeu.
        Le contenu du livre (texte, illustrations et traductions)
        restent la propriété de leurs auteurs originaux.
    </p>
</div>
