<h2>Equipement et Provisions</h2>

<p>
    Au départ de votre aventure, vous ne disposez que du strict nécessaire. Vous serez en possession d'une épée et
    d'un Sac à Dos dans lequel vous rangerez tout votre équipement, objets divers, Provisions, richesses acquises en
    cours de route, etc. Vous n'aurez pas le droit d'emporter avec vous le Livre des Formules Magiques, car les
    Sorciers d'Analand ne peuvent prendre le risque de le voir tomber en de mauvaises mains au cours de votre voyage
    ; aussi n'aurez-vous pas la possibilité de vous référer à ce livre, sitôt que vous aurez entrepris votre
    quête.
</p>

<p>
    Une bourse est accrochée à votre ceinture : elle contient 20 Pièces d'Or, l'Or constituant la seule monnaie en
    usage dans les contrées que vous allez traverser. Cet argent vous servira à acheter des objets et de la
    nourriture, à vous loger et à corrompre certaines créatures. Avec 20 Pièces d'Or, vous n'irez toutefois pas très
    loin et vous aurez très vite besoin d'acquérir d'autres Pièces à mesure que vous progresserez dans votre
    aventure.
</p>

<p>
    Vous emporterez également des Provisions (nourriture et boisson) qui représentent l'équivalent de 2 repas. Comme
    vous ne tarderez pas à vous en apercevoir, la nourriture est précieuse dans ces terres sauvages, et vous devrez
    en faire un usage avisé. Faites bien attention de ne pas gâcher vos vivres : vous feriez là une très grave
    erreur. Gardez toujours de quoi manger.
</p>

<img src="img/sorcery/01/bande.gif"/>
