<h2>Le Jeu Simple et le Jeu du Sorcier</h2>

<p>
    Les débutants souhaiteront peut-être commencer cette aventure en se contentant du Jeu Simple, c'est-à-dire sans
    avoir recours à la magie. Les règles qui déterminent les combats avec les diverses créatures de rencontre sont
    données dans chaque livre de la série ; ces règles sont semblables à celles du Sorcier de la Montagne de Feu.
    Une paire de dés vous suffira pour affronter vos adversaires à l'aide d'armes traditionnelles.
</p>

<p>
    Les joueurs plus expérimentés, en revanche, préféreront le Jeu du Sorcier dans lequel votre adresse à combattre
    est quelque peu limitée mais qui vous donne la possibilité d'utiliser la magie, une arme bien plus puissante que
    celles du simple Guerrier. En vérité, l'apprentissage du Jeu du Sorcier ne présente pas de difficultés
    particulières et même les débutants devraient pouvoir le choisir dès le départ. Pour apprendre les Formules
    Magiques cependant, il vous faudra un peu de temps et d'entraînement et le choix du Jeu Simple s'adresse surtout
    à ceux qui veulent entreprendre cette aventure sans tarder.
</p>

<img src="img/sorcery/01/bande.gif"/>