<h2>Avis aux Héros!</h2>

<p>
    En vous lançant dans l'aventure de la série Sorcellerie !, vous vous apprêtez à
    vivre une véritable épopée : la quête de la Couronne des Rois. Votre voyage vous
    mènera d'Analand, votre patrie, jusqu'à la Forteresse de Mampang que vous
    atteindrez peut-être si vous parvenez à traverser les territoires sauvages du
    Kalkhabad. C'est dans cette Forteresse que se trouve la précieuse Couronne.
</p>

<p>
    Dans ce jeu de rôle solitaire, vous pourrez choisir d'être un simple Guerrier ou
    un Sorcier. Si vous décidez d'être seulement Guerrier, vous combattrez les
    créatures du monde du Kalkhabad à l'aide de règles du jeu qui ne font intervenir
    aucune magie. Si vous préférez en revanche devenir Sorcier, il faudra vous
    initier à un système de Formules Magiques spécialement créé pour cette série :
    comme le ferait tout grand Sorcier, vous devrez apprendre ces formules et savoir
    par cœur quels sont leurs effets et leurs conditions d'utilisation.
</p>

<p>
    Les divers sortilèges dont vous pourrez vous servir figurent dans le
    <a href="#/book-spells">Livre des Formules Magiques</a>, à la fin de ce volume.
    Pour vous préparer à votre aventure,
    il vous faudra apprendre certaines de ses formules. Vous n'aurez pas besoin de
    les savoir toutes cependant, car seul un Sorcier Impérial pourrait se rappeler
    par cœur les 48 sortilèges qui composent le livre. Il vous suffira, dans
    l'immédiat, d'en connaître six pour entreprendre votre quête.
</p>

<p>
    Que vous ayez choisi d'être Guerrier ou Sorcier, le voyage qui vous attend sera extrêmement périlleux, et vous aurez
    à affronter toutes sortes de pièges et de difficultés, sans parler des créatures malfaisantes qui feront tout pour
    vous empêcher d'atteindre votre but.
</p>

<p>
    Au long du livre, vous pourrez décider vous-même des chemins à prendre, des combats à mener et de la façon dont
    il convient de résoudre les problèmes auxquels vous serez confronté. Si vous venez à mourir, vous devrez
    recommencer l'aventure au début mais si vous faites preuve d'habileté et si la chance - et les dieux - vous
    aident, vous parviendrez alors à la Forteresse de Mampang.
</p>

<img src="img/sorcery/01/serpent_bigger.gif"/>