<div id="rules">

<div ng-include src="'partials/rules/menu-bar.html'"></div>

<h2>Règles sur ce site</h2>

<p>
    Les règles sont les mêmes que dans l'ouvrage original, à ceci près&nbsp;:
</p>

<ul>
    <li>
        Le site gère vos point d'HABILETÉ, d'ENDURANCE et de CHANCE,
        ainsi que la création de votre personnage.
    </li>
    <li>
        Le site gère pour vous les combats.
    </li>
    <li>
        La quasi-totalité des actions où il faut lancer les dés sont gérées automatiquement.
    </li>
    <li>
        La chance n'est pas utlisée dans les combats pour aggraver une blessure infligée à un ennemi
        ou pour atténuer vos blessures.
    </li>
</ul>

<p>
    Les règles particulières et propres à certains chapitres ne sont pas toutes mises en place.
    Cela vous sera clairement indiqué en bas du chapitre. Parfois, vous devrez gérer certains aspects
    vous même (par exemple, adapter vos points d'endurance ou d'habileté suite à une maladie ou une malédiction).
</p>

<h3>Triche</h3>

<p>
    Vous pouvez tricher, si ça vous amuse, mais cela n'a pas vraiment d'intérêt. Contrairement à la version papier, si
    vous échouez, recommencer est très rapide puisque clicker sur des liens est infiniment plus commode que de tourner
    des pages. Les combats se font en quelques clicks...
</p>

    <p>
    Le menu "Jeu" vous permet d'adapter vos points d'ENDURANCE, d'HABILETE, de CHANCE ainsi
    que votre or, vos armes et les objets de votre sac en cours d'aventure.
</p>

</div>
