<h2>Libra, déesse de la justice</h2>

<p>
    Tout au long de votre aventure, Libra, votre déesse personnelle, veillera sur vous. Si vos épreuves se révèlent
    particulièrement difficiles, vous pourrez l'appeler à l'aide, mais elle ne viendra à votre secours <i>qu'une
    seule fois lors de chaque quête.</i> En supposant que vous l'invoquiez au cours de votre traversée des
    collines de Shamutanti, elle ne vous écoutera plus jusqu'à ce que vous ayez atteint la ville de Kharé.
</p>

<p>Elle vous aidera de trois manières :</p>

<p>
    - Par la <i>revitalisation :</i> vous pourrez lui demander à tout moment de ramener à leur <i>niveau initial</i> vos
    points d'ENDURANCE, d'HABILETÉ et de CHANCE. Cette possibilité ne vous sera pas rappelée dans le texte, mais
    vous pouvez y recourir quand vous le souhaiterez ; souvenez-vous cependant que ce droit de retrouver vos <i>points
    de départ</i> ne vous sera accordé qu'une seule fois au cours de chaque aventure.
</p>

<p>
    - Par la <i>fuite :</i> parfois, lorsque vous serez menacé par un grave danger, vous aurez la possibilité de
    demander à Libra de vous venir en aide. Les précisions nécessaires vous seront données en temps utile.
</p>

<p>
    - Par la <i>neutralisation des mauvais sorts et la guérison des maladies :</i> Libra a le pouvoir de neutraliser
    les mauvais sorts ou de guérir les maladies. Rien ne vous sera indiqué à ce sujet au long du texte mais vous
    aurez le droit, à tout moment, de recourir à ce pouvoir de la déesse, à condition, cependant, de n'en faire
    usage qu'une seule fois lors de chaque aventure.
</p>