<h2>Pour les Sorciers : comment se servir de la Magie</h2>

<p>
    Si vous avez choisi d'entreprendre cette aventure en tant que Sorcier, vous aurez la possibilité, tout au long du
    livre d'utiliser des Formules Magiques. Tous ces sortilèges appartenant au patrimoine des Sorciers d'Analand
    sont consignés dans le Livre des Formules et vous devrez étudier cet ouvrage avant de vous lancer dans votre
    quête.
</p>

<p>
    Chaque formule est désignée par un code de trois lettres ; vous devrez apprendre certains de ces codes, ainsi que
    les effets des sortilèges auxquels ils correspondent. Chaque sortilège utilisé vous coûtera un ou plusieurs
    points d'ENDURANCE. Les quelques Formules Magiques de base dont l'étude vous est conseillée au début, vous
    permettront de commencer à jouer rapidement, mais leur coût en points d'ENDURANCE est élevé : un Sorcier avisé
    n'utilisera de telles formules que s'il ne connaît pas celles qui lui sont proposées par ailleurs, ou s'il ne
    dispose pas des objets magiques indispensables pour recourir à certains autres sortilèges.
</p>

<p>
    Vous trouverez toutes les règles concernant la magie dans le
    <a href="#/book-spells">Livre des Formules Magiques</a>.
</p>

<p>
    Mais n'oubliez pas ! Dès que vous aurez commencé votre aventure, vous n'aurez plus le droit de vous référer à ce
    Livre !
</p>

<img src="img/sorcery/01/moon.gif"/>