<div id="rules">

<div ng-include src="'partials/rules/menu-bar.html'"></div>

<div ng-include src="'partials/rules/hello.html'"></div>

<div ng-include src="'partials/rules/game-types.html'"></div>

<h2>Comment combattre les créatures du Kalkhabad</h2>

<p>
    Avant de vous lancer dans votre quête, vous devrez tout d'abord déterminer vos propres forces et faiblesses. En
    pages 12 et 13, vous trouverez une <i>Feuille d'Aventure</i> qui constitue une sorte de journal de voyage dans
    lequel vous consignerez tous les détails de votre quête. Vous y inscrirez le total de vos points d'HABILETÉ, de
    CHANCE et d'ENDURANCE ainsi que les armes, objets et trésors que vous découvrirez au fur et à mesure. Vous serez
    amené à faire de fréquentes modifications sur cette <i>Feuille d'Aventure</i> et nous vous conseillons donc de
    prendre vos notes au crayon ou mieux, de faire des photocopies de ces deux pages afin de pouvoir les utiliser
    lorsque vous jouerez à nouveau.
</p>

<h3>Habileté, Endurance et Chance</h3>

<p>
    Lancez un dé. Si vous jouez en tant que simple <i>Guerrier</i>, ajoutez 6 au chiffre obtenu et inscrivez le total
    dans la case HABILETÉ de la <i>Feuille d'Aventure.</i> Si vous jouez comme <i>Sorcier</i>, vous n'ajouterez que
    4 au chiffre donné par le dé. Les Sorciers, en effet, ne sont pas aussi habiles au combat que les Guerriers,
    mais ils compensent largement ce handicap par leur maîtrise de la magie. Lancez ensuite 2 dés. Ajoutez 12 au
    chiffre obtenu et inscrivez le total dans la case ENDURANCE de la <i>Feuille d'Aventure</i>. Il existe également
    une case CHANCE. Lancez à nouveau un dé, ajoutez 6 au chiffre obtenu et inscrivez le total dans la case CHANCE.
</p>

<p>
    Pour des raisons qui vous seront expliquées plus loin, les points d'HABILETÉ, d'ENDURANCE et de CHANCE changent
    constamment au cours de l'aventure. Vous devrez garder un compte exact de ces points et nous vous conseillons à
    cet effet d'écrire vos chiffres très petit dans les cases, ou d'avoir une gomme à portée de main. Mais n'effacez
    jamais vos <i>points de départ</i>. Bien que vous puissiez obtenir des points supplémentaires d'HABILETÉ,
    d'ENDURANCE et de CHANCE, ce total n'excédera jamais vos <i>points de départ</i>, sauf en de très rares
    occasions qui vous seraient alors signalées sur une page particulière.
</p>

<p>
    Vos points d'HABILETÉ reflètent votre art dans le maniement de l'épée et votre adresse au combat en général ;
    plus ils sont élevés, mieux c'est. Vos points d'ENDURANCE traduisent votre force, votre volonté de survivre,
    votre détermination et votre forme physique et morale en général ; plus vos points d'ENDURANCE sont élevés, plus
    vous serez capable de survivre longtemps. Avec vos points de CHANCE, vous saurez si vous êtes naturellement
    Chanceux ou Malchanceux. La chance et la magie sont des réalités de la vie dans l'univers imaginaire que vous
    allez découvrir.
</p>

<h3>Batailles</h3>

<p>
    Il vous sera souvent demandé, au long des pages de ce livre, de combattre des créatures de toutes sortes.
    Parfois, vous aurez la possibilité de choisir la fuite, sinon — ou si vous décidez de toute façon de combattre
    —, il vous faudra mener la bataille comme suit :
</p>

<p>
    Tout d'abord, vous inscrirez les points d'HABILETÉ et d'ENDURANCE de la créature dans la première case vide des
    <i>Rencontres avec un Monstre, </i>sur votre <i>Feuille d'Aventure. </i>Les points correspondant à chaque
    créature sont donnés dans le livre chaque fois que vous faites une rencontre.
</p>

<p>
    Le combat se déroule alors ainsi :
</p>

<p>
    1. Jetez les deux dés pour la créature. Ajoutez ses points d'HABILETÉ au chiffre obtenu. Ce total vous donnera la
    <i>Force d'Attaque</i> de la créature.
</p>

<p>
    2. Jetez les deux dés pour vous-même. Ajoutez le chiffre obtenu à vos propres points d'HABILETÉ. Ce total
    représente votre <i>Force d'Attaque</i>.
</p>

<p>
    3. Si votre <i>Force d'Attaque</i> est supérieure à celle de la créature, vous l'avez blessée. Passez à l'étape
    n&deg;4. Si la <i>Force d'Attaque</i> de la créature est supérieure à la vôtre, c'est elle qui vous a blessé.
    Passez à l'étape n&deg;5. Si les deux <i>Forces d'Attaque</i>
    sont égales, vous avez chacun esquivé les coups de l'autre
    - reprenez le combat en recommençant à l'étape n&deg;1.
</p>

<p>
    4. Vous avez blessé la créature, vous diminuez donc de deux points son
    ENDURANCE. Vous pouvez également vous servir de votre CHANCE pour lui faire plus
    de mal encore.
</p>

<p>
    5. La créature vous a blessé, vous ôtez alors deux points à votre ENDURANCE.
    Vous pouvez également faire usage de votre CHANCE.
</p>

<p>
    6. Modifiez votre score d'ENDURANCE ou celui de la créature, selon le cas.
    (Faites de même pour vos points de CHANCE si vous en avez fait usage.
</p>

<p>
    7. Commencez le deuxième <i>Assaut </i>(en reprenant les étapes de 1 à 6). Vous poursuivrez ainsi l'ordre des
    opérations jusqu'à ce que vos points d'ENDURANCE ou ceux de la créature que vous combattez aient été réduits à
    zéro (mort).
</p>

<h3>Combat avec plus d'une Créature</h3>

<p>
    Si vous croisez plus d'une créature, lors de certaines rencontres, vous lirez à la page correspondante les
    instructions qui vous permettront de mener la bataille. Parfois, vous les affronterez comme si elles n'étaient
    qu'un seul monstre ; parfois, vous les combattrez une par une.
</p>

<h3>Chance</h3>

<p>
    A plusieurs reprises au cours de votre aventure, lors de batailles ou dans des situations qui font intervenir la
    chance ou la malchance (les détails vous seront donnés dans les pages correspondantes) vous aurez la possibilité
    de faire appel à votre chance pour essayer de rendre une issue plus favorable. Mais attention ! L'usage de la
    chance comporte de grands risques et si vous êtes <i>Malchanceux, </i>les conséquences pourraient se révéler
    désastreuses.
</p>

<p>
    Voici comment on peut se servir de la chance : jetez deux dés. Si le chiffre obtenu est <i>égal</i> ou
    <i>inférieur</i> à
    vos points de CHANCE, vous êtes <i>Chanceux</i>, et le résultat tournera en votre faveur.
    Si ce chiffre est <i>supérieur</i> à
    vos points de CHANCE, vous êtes <i>Malchanceux</i> et vous serez pénalisé.
</p>

<p>
    Cette règle s'intitule : <i>Tentez votre Chance</i>. Chaque fois que vous <i>Tenterez votre Chance</i> il vous
    faudra ôter un point à votre total de CHANCE. Ainsi, vous vous rendrez bientôt compte que, plus vous vous fierez
    à votre chance, plus vous courrez de risques.
</p>

<h3>Utilisation de la Chance dans les Combats</h3>

<p>
    À certaines pages du livre, il vous sera demandé de <i>Tenter votre Chance</i> et vous serez averti de ce qui
    vous arrivera selon que vous serez Chanceux ou Malchanceux. Lors des batailles, cependant, vous pourrez toujours
    <i>choisir</i> d'utiliser votre chance, soit pour infliger une blessure plus grave à une créature que vous venez
    de blesser, soit pour minimiser les effets d'une blessure qu'une créature vient de vous infliger.
</p>

<p>
    Si vous venez de blesser une créature, vous pouvez <i>Tenter votre Chance</i> de la manière décrite plus haut. Si
    vous êtes Chanceux, vous avez infligé une blessure grave et vous pouvez ôter 2 points de plus au score
    d'ENDURANCE de la créature. Si vous êtes Malchanceux, cependant, la blessure n'était qu'une simple écorchure, et
    vous devez rajouter 1 point au score d'ENDURANCE de la créature (c'est-à-dire qu'au lieu d'enlever les 2 points
    correspondant à la blessure, vous n'aurez ôté que 1 seul point).
</p>

<p>
    Si la créature vient de vous blesser, vous pouvez <i>Tenter votre Chance</i> pour essayer d'en minimiser les
    effets. Si vous êtes Chanceux, vous avez réussi à atténuer le coup. Rajoutez alors 1 point d'ENDURANCE
    (c'est-à-dire qu'au lieu de 2 points ôtés à cause de la blessure, vous n'aurez que 1 point en moins). Si vous
    êtes Malchanceux, le coup que vous avez pris était plus grave. Dans ce cas enlevez encore 1 point à votre
    ENDURANCE.
</p>

<p>
    Rappelez-vous que vous devez soustraire 1 point de votre total de CHANCE chaque fois que vous <i>Tentez votre
    Chance.</i>
</p>

<h3>Comment rétablir votre Habileté, votre Endurance et votre Chance</h3>

<h4>Habileté</h4>

<p>
    Vos points d'HABILETÉ ne changeront pas beaucoup au cours de votre aventure. A l'occasion, il peut vous être
    demandé d'augmenter ou de diminuer votre score d'HABILETÉ. Une arme magique peut augmenter cette HABILETÉ, mais
    rappelez-vous qu'on ne peut utiliser qu'une seule arme à la fois ! Vous ne pouvez revendiquer deux bonus
    d'HABILETÉ sous prétexte que vous disposez de deux épées magiques. Vos points d'HABILETÉ ne peuvent jamais
    excéder leur <i>total de départ</i> sauf en certaines circonstances spécifiques.
</p>

<h4>Endurance et Provisions</h4>

<p>
    Vos points d'ENDURANCE changeront beaucoup au cours de votre aventure, en fonction des combats que vous aurez à
    livrer à des monstres ou des tâches ardues qu'il vous faudra accomplir. Lorsque vous approcherez du but, votre
    niveau d'ENDURANCE pourra être dangereusement bas et les combats se révéleront alors pleins de risques. Aussi,
    soyez prudent !
</p>

<p>
    Vous commencez votre quête avec des Provisions équivalant à 2 repas. Vous n'aurez le droit de vous reposer et de
    manger que lorsque l'autorisation vous en sera donnée et vous ne pourrez prendre qu'un seul repas à la fois.
    Quand vous prendrez un repas, vous récupérerez le nombre de points d'ENDURANCE indiqué à cet endroit précis. Et
    souvenez-vous que votre voyage sera long, vous devrez donc faire usage de vos Provisions avec prudence !
</p>

<p>
    N'oubliez pas non plus que votre total d'ENDURANCE ne peut pas excéder son <i>niveau de départ,</i> sauf si cela
    vous est spécifiquement indiqué dans une page du livre.
</p>

<h4>Chance</i></h4>

<p>
    Vos points de CHANCE augmentent au cours de l'aventure lorsque vous êtes particulièrement Chanceux. Les détails
    vous seront donnés au long des pages. Rappelez-vous que, comme pour l'ENDURANCE et l'HABILETÉ, vos points de
    CHANCE ne peuvent excéder leur <i>niveau de départ</i> sauf si vous recevez des instructions spécifiques à ce
    sujet.
</p>

<p>
    Vos points d'HABILETÉ, d'ENDURANCE et de CHANCE peuvent être ramenés à leur <i>niveau de départ</i> en faisant
    appel à votre déesse (voir plus loin).
</p>

<h3>Si vous n'avez pas de dés</h3>

<p>
    Des faces de dés sont imprimées au bas de chaque page de ce livre. Si vous ne disposez pas d'une paire de dés, ou
    si vous jouez dans un endroit qui ne vous permet pas d'en faire usage (train, avion, voiture etc.), il vous
    suffira de feuilleter rapidement les pages du livre à l'aide du pouce et de vous arrêter à une page au hasard.
    Si vous deviez ne lancer qu'un seul dé, vous ne tiendrez compte que du premier dé imprimé. Si vous deviez en
    lancer deux, le chiffre obtenu sera l'addition des deux faces de dés imprimées au bas de la page que le hasard
    aura désignée.
</p>

<div ng-include src="'partials/rules/magic.html'"></div>

<div ng-include src="'partials/rules/libra.html'"></div>

<div ng-include src="'partials/rules/equipment-food.html'"></div>

</div>
