<div id="eat" class="modal fade hide">

    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h2>{{adventure.chapter}}</h2>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                C'est votre premier repas de la journée&nbsp;?
            </div>
        </div>
    </div>

    <div class="modal-footer" style="text-align: left;">
        <span class="btn btn-primary" data-dismiss="modal" ng-click="eatAndGain(eatGain().firstMeal)">
            Oui (+{{eatGain().firstMeal}}pts)
        </span>

        <span class="btn btn-primary" data-dismiss="modal" ng-click="eatAndGain(eatGain().alreadyEaten)">
            J'ai déjà mangé (+{{eatGain().alreadyEaten}}pts)
        </span>

        <span class="btn btn-default" data-dismiss="modal">
            Ne pas manger
        </span>
    </div>

</div>