<div id="legend" class="container-fluid">

<h1>La légende de la Couronne des Rois</h1>

<p>
    Il y a des siècles de cela, en un temps que l'on appelle la Nuit des Ages, des régions entières de la planète
    restaient inconnues. Des civilisations cependant s'y étaient développées çà et là, avec chacune son peuple et sa
    culture. Le Kalkhabad était l'une de ces régions, une terre obscure aux confins du monde.
</p>

<p>
    Bien que plusieurs seigneurs de la guerre s'y fussent essayés, le pays du Kalkhabad s'était révélé impossible à
    gouverner. Toutes sortes de créatures maléfiques, chassées des contrées plus civilisées qui s'étendaient au-delà
    des Monts Zanunu, avaient peu à peu envahi le Kalkhabad qui devint célèbre sous le surnom de &laquo; Repaire des
    Vermines du Bout du Monde &raquo;.
</p>

<p>
    Dans le même temps, l'ordre et la civilisation se répandirent dans le reste du monde connu, dès lors que Chalanna
    le Réformateur, Roi de Femphry, eut découvert la Couronne des Rois. Grâce à elle, Chalanna se trouva, quelques
    années plus tard, à la tête du plus grand empire jamais constitué dans le monde d'orient. Cette Couronne Magique
    était en effet dotée de mystérieux pouvoirs qui accordaient à son possesseur des dons exceptionnels en matière
    de justice et de commandement. Par bonheur, les ambitions de Chalanna n'étaient pas de conquérir la terre, il
    préférait aider à l'établissement de la paix dans des nations organisées à l'image de Femphry.
</p>

<p>
    Aussi, dans sa grande sagesse, confia-t-il la Couronne de Légende à tous les souverains des royaumes proches,
    chacun à son tour ; par le miracle de la magie, ces pays devinrent alors, l'un après l'autre, prospères et
    pacifiques. Chaque monarque se voyait confier la Couronne pour une période de quatre ans durant laquelle il
    faisait triompher la paix et la justice dans son royaume, puis il entrait dans l'Alliance de Femphry. Les
    royaumes d'Ocrepierre, de Vastelande, de Gallantaria et d'Arthebrice bénéficièrent ainsi à tour de rôle de la
    Couronne et en tirèrent aussitôt grand profit : guerres et dissensions disparurent en effet presque entièrement.
    Le roi d'Analand reçut, lui aussi, la Couronne au cours d'une cérémonie solennelle et, de ce jour, le pays se
    développa pour connaître bientôt l'abondance. Nul ne pouvait dire par quel prodige la Couronne des Rois
    permettait de faire prospérer les nations ; certains affirmaient qu'elle était d'essence divine, d'autres que
    son pouvoir résidait en fait dans l'esprit de celui qui la portait. Une chose en tout cas était certaine : elle
    produisait des effets spectaculaires. Tout allait donc bien dans le royaume d'Analand jusqu'à ce que survînt la
    nuit de la Lune Noire.
</p>

<p>
    Lorsque l'aube se leva, le jour suivant, le roi fut le premier à s'apercevoir que la Couronne avait disparu. Des
    Hommes-Oiseaux venus du pays de Xamen, l'avaient emportée par cette nuit sans étoiles jusqu'à la ville de
    Mampang située dans les contrées anarchiques du Kalkhabad. Des nouvelles en provenance de la Terre des Fins
    Fonds révélèrent que la Couronne avait été remise à l'Archimage de Mampang qui manifestait l'ambition de devenir
    roi du Kalkhabad.
</p>

<p>Bien que le Kalkhabad fût une région dangereuse en elle-même, rien n'y menaçait les royaumes avoisinants. Le pays
    n'était soumis à aucune loi, il ne disposait donc pas d'armée et les luttes internes qui s'y déroulaient sans
    cesse suffisaient à occuper population. La Couronne des Rois, cependant, allait permettre d'y faire régner
    l'ordre et le Kalkhabad pouvait désormais devenir un ennemi mortel pour tous les pays réunis dans l'Alliance de
    Femphry.</p>

<p>
    Au royaume d'Analand, on ressentait une telle honte d'avoir laissé échapper la Couronne que les
    conséquences bénéfiques des deux années passées sous l'égide de son pouvoir
    magique se trouvèrent bientôt réduites à néant. La loi et l'ordre cessèrent
    d'être respectés et la population se laissa aller à la morosité. Le roi perdit
    la confiance de ses sujets et les royaumes voisins manifestèrent quelque
    suspicion. On alla même jusqu'à colporter des rumeurs d'invasion. Ces derniers
    temps, la situation s'est à tel point dégradée qu'un seul espoir subsiste
    dorénavant de sauver le pays : il faut que quelqu'un - un simple citoyen solitaire, car une armée ne survivrait
    pas à un tel voyage - aille jusqu'à Mampang pour y reprendre la Couronne des Rois. Seul son retour pourrait
    lever la terrible malédiction qui pèse actuellement sur Analand. Or, ce citoyen solitaire, ce sera vous : vous
    êtes en effet le premier à vous être porté volontaire pour cette mission et vous
    savez parfaitement en quoi elle consistera : il vous faudra traverser le Kalkhabad jusqu'à la Forteresse de
    Mampang et vous emparer de la précieuse Couronne...</p>

<img src="img/sorcery/01/bande.gif"/>

</div>
