<h1>442</h1>

<p>
    Vous perdez 1 point d'ENDURANCE et vous prononcez votre Formule. Avez-vous de la Cire d'Abeille dans votre Sac à
    Dos ? Si c'est le cas, vous devrez en enduire votre arme qui acquerra ainsi un pouvoir magique.

    Retournez au <chapter to="217"></chapter> et combattez les
    Gobelins, mais chaque fois que vous leur porterez un coup, vous leur infligerez une perte de 4 points d'ENDURANCE au
    lieu des 2 habituels.

    Si vous n'avez pas de Cire d'Abeille, vous <i>pensez</i> que votre épée a des vertus magiques,
    mais vous vous trompez et elle n'infligera à vos adversaires que des blessures normales. Si vous avez déjà utilisé
    cette Formule avec succès au cours de votre aventure, sachez qu'il ne vous reste plus de Cire d'Abeille à présent.
    Si vous n'avez jamais fait usage de cette Formule, vous venez d'utiliser la moitié de votre réserve de Cire.
</p>
