<h1>71</h1>

<p>
    Vous êtes jeté à l'intérieur de la cabane et la porte se referme sur vous. Vous êtes devenu leur prisonnier. Pendant
    une bonne demi-heure, vous essayez de trouver un moyen de vous échapper, mais en vain. Si vous souhaitez vous
    asseoir par terre et <a data-target="#eat" data-toggle="modal">manger quelques-unes de vos Provisions</a>,
    vous gagnerez 2 points d'ENDURANCE à la condition que
    ce soit votre premier repas de la journée ; si en revanche vous avez déjà mangé aujourd'hui, votre gain d'ENDURANCE
    ne sera que d'un point. Ensuite, vous avez le choix entre vous allonger pour dormir (rendez-vous au
    <chapter to="109"/>) ou rester éveillé et vous préparer à toute éventualité
    (rendez-vous au <chapter to="140"></chapter>).
</p>

<img src="img/sorcery/01/bande.gif"/>
