<h1>366</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Il vous est impossible d'utiliser cette Formule, car vous ne possédez pas le
    Médaillon Incrusté de Pierreries qu'elle nécessite. Et tandis que vous vous efforcez en vain de la prononcer, les
    serpents commencent à s'intéresser à vous.
    <a data-target="#chapter366-special" data-toggle="modal">Lancez un dé.</a>
    Le chiffre obtenu correspondra au nombre de points
    d'ENDURANCE que vous aurez perdus en raison de leurs morsures. Si vous obtenez un 6, l'un des serpents qui vous a
    mordu est venimeux et vous devez <i>Tenter votre Chance. </i>Si vous êtes Chanceux, vous survivez à sa morsure. Si
    vous êtes Malchanceux, son venin vous tue. Si vous êtes toujours vivant, retournez au <chapter to="63"></chapter> et faites un
    nouveau choix.
</p>

<img src="img/sorcery/01/bad_sun.gif"/>

<div ng-include src="'partials/chapters/01/chapter366-special.html'"></div>
