<h1>228</h1>

<p>
    Il vous faudra concentrer toutes vos forces pour parvenir à ouvrir la porte.
    <a data-target="#chapter228-special" data-toggle="modal">
        Lancez un dé trois fois de suite.
    </a>
    Si le total des trois chiffres obtenus est inférieur à vos points d'HABILETÉ,
    la porte cède et vous pouvez vous échapper
    (rendez-vous dans ce cas au <chapter to="120"></chapter>), mais vous perdrez cependant 1 point d'HABILETÉ.
    Si le total des trois chiffres est égal ou
    supérieur à vos points d'HABILETÉ, la porte restera fermée et vous serez enseveli par l'éboulement ; votre seul
    espoir sera alors de faire appel à la déesse Libra, à condition bien entendu que vous n'ayez pas déjà eu recours à
    son aide depuis le début de cette aventure ; rendez-vous pour cela au <chapter to="160"></chapter>.
</p>

<img src="img/sorcery/01/bad_sun.gif"/>

<div ng-include src="'partials/chapters/01/chapter228-special.html'"></div>
