<h1>143</h1>

<p>Le Bossu sourit :</p>
<p align="center">
    <i>
        C'est bien la vérité, mes félicitations,<br>
        Mais voici à présent la seconde question :<br>
        Tu as dû traverser en venant trois villages<br>
        Donne-moi donc leur nom, dans l'ordre de passage.
    </i>
</p>

<p>Quelle sera votre réponse ?</p>

<p>Cantopani, Kristatanti et Dhumpus ? Rendez-vous au <chapter to="262"></chapter></p>
<p>Kristatanti, Birritanti et Dhumpus ? Rendez-vous au <chapter to="253"></chapter></p>
<p>Cantopani, Gorretanti et Dhumpus ? Rendez-vous au <chapter to="59"></chapter></p>
