<div id="chapter22-special" class="modal fade hide">

    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h2>22</h2>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                Le marchand vous demande {{specialActions.ch22}} pièces d'or pour la flûte.
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                Souhaitez-vous l'acheter&nbsp;?
            </div>
        </div>
    </div>

    <div class="modal-footer" style="text-align: left;">
        <span class="btn btn-primary" data-dismiss="modal" ng-click="buyItem('item.bamboo.flute', specialActions.ch22)">
            <i class="icon-thumbs-up icon-white"></i>
            Acheter
        </span>
        <span class="btn btn-primary" data-dismiss="modal">
            <i class="icon-thumbs-down icon-white"></i>
            Non merci
        </span>
    </div>

</div>