<h1>234</h1>

<p>
    Bien que la porte soit ouverte, vous hésitez à la franchir. Elle vous paraît étrange en effet : jamais vous n'avez vu
    une porte aussi grande. Il n'y a pas moyen de la contourner cependant, et vous vous décidez donc à poursuivre malgré
    tout votre marche, en restant plus que jamais sur vos gardes. Une fois la porte passée, le versant de la colline,
    sur votre droite, devient plus escarpé et vous apercevez l'entrée de deux grottes. Si vous souhaitez pénétrer dans
    la grotte de droite, rendez-vous au <chapter to="207"></chapter> ; si vous préférez celle de gauche, rendez-vous au
    <chapter to="221"></chapter> ; enfin, s'il vous semble plus judicieux de poursuivre votre chemin sans vous occuper de ces
    deux grottes, rendez-vous au <chapter to="82"></chapter>.
</p>
