<h1>428</h1>

<p>
    Vous perdez 5 points d'ENDURANCE. Cette Formule n'existe pas.
    Les Gobelins se précipitent sur vous et
    <a ng-click="removeStamina(2)">vous portent un coup qui vous fait perdre 2 points d'ENDURANCE</a>.
    Si vous le désirez, vous pouvez <a data-toggle="modal" data-target="#test-luck">Tenter votre Chance</a>;
    si vous êtes Chanceux, vous aurez évité leur attaque et ils n'auront pas réussi à vous blesser.
    Retournez au <chapter to="217"></chapter> et affrontez-les, l'arme à la main ou au moyen de la magie.
</p>
