<h1>217</h1>

<p>
    Vous n'avez pas eu de chance et trois Gobelins vous ont repéré ; ils s'avancent aussitôt vers vous,
    armés de pioches&nbsp;:
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">Premier GOBELIN</div>
    <div class="span2">5</div>
    <div class="span2">4</div>
</div>

<div class="row-fluid">
    <div class="span3">Deuxième GOBELIN</div>
    <div class="span2">6</div>
    <div class="span2">4</div>
</div>

<div class="row-fluid">
    <div class="span3">Troisième GOBELIN</div>
    <div class="span2">5</div>
    <div class="span2">5</div>
</div>

<p>
    <a ng-click="startFight(217, 155)" data-toggle="modal" data-target="#fight">Combattez-les un par un</a>
    et rendez-vous au <chapter to="155"></chapter> si vous êtes vainqueur. Vous pouvez également les
    affronter en ayant recours à l'une des Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">SUR</span>
    <span class="span1">ZAP</span>
    <span class="span1">BLA</span>
    <span class="span1">CRU</span>
    <span class="span1">FIL</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="428"></chapter></span>
    <span class="span1"><chapter to="407"></chapter></span>
    <span class="span1"><chapter to="358"></chapter></span>
    <span class="span1"><chapter to="381"></chapter></span>
    <span class="span1"><chapter to="442"></chapter></span>
</div>

<img src="img/sorcery/01/bande.gif"/>
