<h1>201</h1>

<p>C'est un travail tout à fait désagréable, à n'en pas douter. Le villageois vous donne à manger (vous gagnez 2 points
    d'ENDURANCE) mais vous passez une nuit blanche qui vous coûte 3 points d'ENDURANCE. Si vous souhaitez recourir à la
    magie pour vous aider à accomplir votre besogne, vous avez le choix entre les Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">GRO</span>
    <span class="span1">FOU</span>
    <span class="span1">FOR</span>
    <span class="span1">FIG</span>
    <span class="span1">ZAP</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="298"></chapter></span>
    <span class="span1"><chapter to="444"></chapter></span>
    <span class="span1"><chapter to="362"></chapter></span>
    <span class="span1"><chapter to="412"></chapter></span>
    <span class="span1"><chapter to="318"></chapter></span>
</div>

<p>Si vous ne faites pas usage de magie, rendez-vous au <chapter to="263"></chapter>.</p>
