<h1>225</h1>

<p>
    Il range les pièces dans la bourse qu'il porte à la ceinture. &laquo;Le chemin qui descend traverse la Vallée des
    Elvins, vous dit-il, et vous feriez mieux de l'éviter, à moins que vous ne soyez prêt à supporter les facéties de
    ces petites créatures, mais je vous préviens : elles aiment les farces et sont dotées de pouvoirs magiques. Le
    chemin qui monte vous mènera dans les collines et vous passerez devant les mines des
    Gobelins &raquo;. Il éclate alors de rire et ajoute : &laquo;Mais si vous allez par là, veillez à ne pas perdre la
    tête ! Ensuite, dirigez-vous vers Kristatanti que vous atteindrez dans un jour ou deux ; il n'y a pas beaucoup de
    villages qui accueillent bien les étrangers dans les collines de Shamutanti, mais à Kristatanti vous trouverez au
    moins de quoi manger et un abri pour dormir. Encore une chose : faites attention au Lotus Noir, son doux parfum est
    mortel &raquo;. Vous le remerciez de ses conseils et vous reprenez votre chemin. Rendez-vous au <chapter to="81"></chapter>.
</p>
