<h1>146</h1>

<p>
    Le thé est rafraîchissant, il vous fait gagner 1 point d'ENDURANCE. Vous gagnez également 1 point de CHANCE pour
    avoir fait le bon choix. La femme, quant à elle, marmonne un juron et ses mouvements deviennent de plus en plus
    lents. Elle se traîne péniblement dans la cuisine et avale un autre liquide, puis elle revient et vous pose des
    questions sur votre voyage. Un détail l'intéresse tout particulièrement : elle voudrait savoir si par hasard vous
    avez rencontré en chemin un vieil homme. Si vous avez dans votre Sac à Dos une page arrachée à un Livre de Magie,
    rendez-vous au <chapter to="184"/>. Sinon, rendez-vous au <chapter to="219"></chapter>.
</p>
