<h1>323</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule juste à temps et le mur invisible qui se forme aussitôt
    devant vous bloque le passage. Le rocher vient frapper violemment ce champ de force en faisant trembler sous le choc
    les murs du souterrain.

    La grosse masse rocheuse rebondit sur l'obstacle et roule en sens inverse, remontant le
    tunnel. A présent, vous pouvez retourner à la bifurcation et prendre l'autre passage
    (rendez-vous au <chapter to="63"></chapter>) ou revenir dans la grande caverne et choisir le deuxième tunnel
    (rendez-vous au <chapter to="16"></chapter>).
</p>
