<h1>29</h1>

<p>
    Si vous lui faites cadeau d'un des objets contenus dans votre Sac à Dos, il l'acceptera volontiers, vous offrira une
    bière et bavardera avec vous. Rendez-vous pour cela au <chapter to="191"></chapter> sans oublier de rayer de votre Feuille
    d'Aventure l'objet dont vous aurez décidé de vous séparer. Si vous n'avez rien à lui donner, il vous faut
    partir à l'instant et vous rendre à l'auberge (en allant au <chapter to="92"></chapter>) ou sortir du village
    (rendez-vous au <chapter to="21"></chapter>).
</p>