<h1>49</h1>

<p>
    Avant d'entreprendre votre longue marche nocturne, vous pouvez, si vous le désirez,
    <a data-target="#eat" data-toggle="modal">vous arrêter un moment et manger</a>
    quelques-unes de vos Provisions (si toutefois vous en avez). Si vous prenez un repas, vous gagnerez 2 points
    d'ENDURANCE au cas où vous n'auriez pas encore mangé aujourd'hui ; si vous avez déjà mangé, votre gain d'ENDURANCE
    ne sera que d'un point.

    Ensuite, vous vous mettez en route. Bientôt, vous quittez la forêt et vous suivez un chemin qui
    monte dans les collines. Au lever du jour, vous vous arrêtez à nouveau pour vous orienter. La fatigue occasionnée
    par cette randonnée en pleine nuit vous coûte 2 points d'ENDURANCE. Rendez-vous à présent au <chapter to="36"></chapter>.
</p>
