<h1>158</h1>

<p>
    Il n'y a aucun meuble à l'intérieur de la cabane. Un feu brûle au centre de la pièce et une famille de trois
    personnes se tient debout contre le mur opposé ; de toute évidence, ils ont peur de vous. Si vous souhaitez leur
    tendre la main en signe d'amitié, rendez-vous au <chapter to="79"></chapter>. Si vous préférez recourir à la magie, choisissez
    l'une de ces Formules :
</p>

<div class="row-fluid">
    <span class="span1">HOU</span>
    <span class="span1">HOR</span>
    <span class="span1">BAL</span>
    <span class="span1">FAM</span>
    <span class="span1">DOC</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="385"></chapter></span>
    <span class="span1"><chapter to="431"></chapter></span>
    <span class="span1"><chapter to="337"></chapter></span>
    <span class="span1"><chapter to="413"></chapter></span>
    <span class="span1"><chapter to="299"></chapter></span>
</div>

<p>Vous pouvez également quitter le village en vous rendant au <chapter to="220"></chapter>.</p>