<h1>316</h1>

<p>
    Vous perdez 2 points d'ENDURANCE en prononçant la Formule.
    Cette fois, vous ne vous concentrez pas sur vous-même mais
    sur celui des Elvins qui semble être le chef. Les autres restent alors bouche bée en voyant apparaître cinq doubles
    de leur compagnon. Le chef éclate de rire, ou plutôt, les <i>six</i> chefs éclatent de rire et le spectacle
    recueille un franc succès. Bientôt, tous les autres Elvins éclatent de rire à leur tour et leur chef leur tend la
    main, imité bien entendu par ses cinq doubles. Ses compagnons viennent lui serrer la main, mais cinq d'entre eux
    n'étreignent que le vide. Les effets de la Formule prennent bientôt fin et les Elvins vous félicitent ; ils vous
    rendent ensuite votre Sac à Dos et vous laissent repartir. Rendez-vous au <chapter to="196"></chapter>.
</p>

<img src="img/sorcery/01/lizard.gif"/>
