<h1>296</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Pièce d'Or ? Si ce n'est pas le cas, votre Formule restera sans effet
    &nbsp;; rendez-vous alors au <chapter to="85"></chapter>. Si vous avez une Pièce d'Or, vous la posez sur votre poignet et vous
    prononcez la Formule : un bouclier invisible se forme aussitôt autour de la pièce ; il est suffisamment grand pour
    vous protéger efficacement, et vous parvenez à traverser sans dommage la pluie de projectiles. Vous perdez bien
    entendu votre Pièce d'Or dès que la Formule cesse d'agir. Rendez-vous au <chapter to="7"></chapter>.
</p>