<h1>8</h1>

<p>
    Vous vous allongez sur le lit et vous commencez à vous détendre. Mais, à l'extérieur de l'auberge, un grand vacarme
    retentit et vous vous redressez d'un bond lorsqu'une bande de Svinns fait irruption dans votre chambre et vous
    encercle. Avant d'avoir pu esquisser un geste de défense, deux d'entre eux vous saisissent par les épaules et vous
    font sortir de l'auberge pour vous amener dans une cabane située en bordure du village. Rendez-vous au
    <chapter to="71"></chapter>.</p>
