<h1>433</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et vous ordonnez aux serpents de s'éloigner de vous, ce
    qu'ils font aussitôt. Pour l'instant vous êtes en sécurité, mais comment faire pour sortir de la fosse ? Si vous
    n'avez encore jamais fait appel à la déesse Libra, rendez-vous au <chapter to="273"></chapter>. Mais si elle vous a déjà aidé
    depuis le début de votre aventure, il ne vous reste plus qu'à tenir les serpents à distance jusqu'à ce que votre
    réserve d'ENDURANCE s'épuise. Votre mission s'achève donc ici...
</p>
