<h1>2</h1>

<img src="img/sorcery/01/sword.gif"/>

<p>
    Lorsque vous dégainez votre arme, vous entendez un sifflement et la silhouette d'un immense SERPENT à deux queues se
    matérialise devant vos yeux. L'une des queues du Serpent s'enroule autour de votre bras et la créature, d'une seule
    détente, vous projette en l'air ; vous retombez dans les épaisses broussailles en perdant 1 point d'ENDURANCE. Vous
    vous relevez ensuite pour affronter le monstre.
    <a ng-click="startFight(2, 105)" data-toggle="modal" data-target="#fight">Menez ce combat à son terme</a>.
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">SERPENT</div>
    <div class="span2">7</div>
    <div class="span2">8</div>
</div>

<p>Si vous êtes vainqueur, vous pouvez poursuivre votre chemin jusqu'à un endroit où les broussailles deviennent
    moins denses et se transforment en hautes herbes qui vous arrivent à la taille. Rendez-vous au
    <chapter to="105"></chapter>.
</p>
