<h1>129</h1>

<p>
    Le conducteur est un personnage jovial qui préfère voyager en compagnie de quelqu'un plutôt que seul. Vous gagnez un
    point de CHANCE pour ce transport gratuit. Pendant la plus grande partie de la matinée, vous avancez à une allure
    qui n'est guère plus rapide que la vôtre lorsque vous marchez ; enfin, vous arrivez dans un champ où le conducteur
    du char à bœufs cultive des légumes. Il est venu les arracher pour les rapporter chez lui. Si vous voulez l'aider
    dans sa tâche pour le remercier de vous avoir amené jusqu'ici, rendez-vous au <chapter to="173"></chapter>. Si vous préférez
    prendre congé et poursuivre votre chemin, rendez-vous au <chapter to="46"></chapter>.</p>
