<h1>185</h1>

<p>
    Vous vous asseyez et vous bavardez avec eux. Il semble qu'ils fassent partie de la haute société du village et vous
    avez eu de la chance de les rencontrer (vous gagnez 2 points de CHANCE). Ils vous proposent de partager leur repas
    ce qui va vous faire gagner 1 point d'ENDURANCE. La conversation devient de plus en plus enjouée et, par manière de
    plaisanterie, vous faites allusion aux &laquo;bouffons de Kristatanti&raquo;. Hélas, cette remarque déplaît
    fortement à l'un de vos hôtes qui est originaire de ce village. Saisi de fureur, il se lève aussitôt et vous lance
    un défi. Mais, comme vous êtes sur son propre territoire, il ne serait pas très sage de relever ce défi et vous
    préférez prendre la fuite. Il vous poursuit dans les rues de Dhumpus et vous êtes obligé de courir pour lui
    échapper. Arrivé en bordure du village, il abandonne la poursuite et vous continuez votre chemin, mais à votre
    grande consternation, vous vous apercevez que vous avez oublié votre arme ! Désormais, vous serez beaucoup plus
    vulnérable et, à moins que vous n'ayez une arme de réserve dans votre Sac à Dos, vous devrez réduire de 4 points
    votre total d'HABILETÉ jusqu'à ce que vous trouviez une nouvelle arme. Rendez-vous au <chapter to="14"></chapter>.
</p>
