<h1>79</h1>

<p>
    Le père de famille s'approche de vous d'un pas traînant et vous serre la main avec nervosité. &laquo;Etes-vous un
    magicien, étranger? demande-t-il. Comment se fait-il que vous n'ayez pas peur de nous ? Seriez-vous par hasard un
    guérisseur qui pourrait nous sauver de cette <i>peste</i>&nbsp;?&nbsp&raquo;
    En entendant ce dernier mot, vous faites un pas
    en arrière, mais il est trop tard. Vous avez touché la main d'un pestiféré et, à partir de maintenant, vous perdrez
    chaque jour 3 points d'ENDURANCE jusqu'à ce que vous mouriez ou que vous rencontriez quelqu'un qui pourra vous
    guérir de la peste. N'oubliez pas de réduire votre total d'ENDURANCE de 3 points chaque matin ; c'est désormais la
    première chose que vous aurez à faire en commençant la journée. Terrifié par ce qui vient de vous arriver, vous
    sortez de la cabane et vous vous hâtez de quitter le village. Rendez-vous au <chapter to="220"></chapter>.
</p>

<p class="integrator">
    Les maladies ne sont pas prise en compte dans cette version.
    Vous devrez vous-même ôter 3 points d'ENDURANCE de votre total chaque matin.
    Pour cela, utilisez le menu "Jeu" pour adapter vos points d'ENDURANCE.
</p>

<!-- TODO Treat special case: disease (-3 each morning) -->
