<h1>277</h1>

<p>
    Vous ne tombez pas de très haut, mais il se peut que vous soyez quand même blessé.
    <a data-target="#chapter277-special" data-toggle="modal">Lancez deux dés.</a> Si le total
    obtenu est inférieur à vos points de CHANCE, vous êtes indemne. Si ce total est égal à vos points de CHANCE, vous
    perdez 1 point d'ENDURANCE en raison des quelques contusions occasionnées par votre chute. Si le total obtenu est
    supérieur à vos points de CHANCE, vous vous êtes tordu le bras et vous perdez 3 points d'ENDURANCE. Enfin, si vous
    obtenez un double 6, vous atterrissez sur la tête et vous vous rompez le cou ; votre aventure alors se termine ici.
    Si vous êtes toujours vivant, rendez-vous au <chapter to="110"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter277-special.html'"></div>
