<h1>454</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule en vous demandant quelle direction prendre. Lorsque vous
    regardez la porte ouverte, un sentiment de malaise vous envahit, et la sueur perle à votre front ; en revanche,
    quand vous vous retournez vers l'entrée de la pièce, le malaise disparaît et vous vous sentez beaucoup plus calme.
    Si vous souhaitez franchir la porte, rendez-vous au <chapter to="6"></chapter>, si vous préférez retraverser la pièce dans
    l'autre sens, rendez-vous au <chapter to="120"></chapter>.
</p>