<h1>177</h1>

<p>
    Vous fouillez le cadavre du Troll ainsi que le poste de garde. A l'intérieur de la cabane, vous trouvez une bourse
    qui contient 3 Pièces d'Or. Le Troll porte autour du cou une amulette en métal torsadé. Il s'agit d'un
    Porte-Bonheur, bien qu'il n'ait guère porté chance au Troll. Tant que vous aurez cette amulette sur vous, vous aurez
    le droit d'ôter un point au chiffre que vous donneront les dés chaque fois que vous <i>Tenterez votre Chance</i>.
    Rendez-vous à présent au <chapter to="237"></chapter>.
</p>

<img src="img/sorcery/01/moon.gif"/>
