<h1>390</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et vous attendez. Une voix intérieure vous avertit alors
    que la situation n'est guère brillante. Votre seul espoir consiste à vider votre Sac à Dos pour le remplir d'air
    puis à le tenir fermement contre votre visage en espérant que l'eau ne s'y infiltrera pas. Vous suivez donc ce
    conseil. <a data-target="#test-luck" data-toggle="modal">Tentez votre Chance.</a>

    Si vous êtes Chanceux, vous parvenez à emprisonner suffisamment d'air dans
    votre Sac à Dos avant que l'eau n'ait entièrement rempli le souterrain. Si vous êtes Malchanceux, vous laissez
    échapper le Sac à Dos et vous allez devoir songer à un autre moyen de vous sortir de là
    (rendez-vous au <chapter to="64"></chapter>).

    Si vous avez été Chanceux, le mur qui s'était dressé derrière vous disparaît bientôt dans
    le sol et l'eau se retire. Vous pouvez alors retourner à la bifurcation et prendre l'autre passage (rendez-vous au
    <chapter to="151"/>) ou revenir dans la grande caverne et emprunter l'autre tunnel (rendez-vous au <chapter to="3"></chapter>).

    Vous ramasserez vos objets éparpillés sur le sol et vous les rangerez dans votre Sac à Dos, mais tout ce qui ne
    supporte pas l'humidité se trouvera irrémédiablement gâché (vos Provisions par exemple).
</p>

<p class="integrator">
    Vos provisions seront automatiquement détruites mais vous devez vous-même supprimer les objets
    sensibles à l'eau de votre sac à dos.
</p>
