<h1>132</h1>

<p>
    Ils vous libèrent les mains pour que vous puissiez faire la démonstration de vos talents de magicien. Quelle Formule
    allez-vous choisir pour essayer de les impressionner ?
</p>

<div class="row-fluid">
    <span class="span1">REV</span>
    <span class="span1">JAP</span>
    <span class="span1">SOU</span>
    <span class="span1">GOB</span>
    <span class="span1">SIX</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="353"></chapter></span>
    <span class="span1"><chapter to="376"></chapter></span>
    <span class="span1"><chapter to="292"></chapter></span>
    <span class="span1"><chapter to="401"></chapter></span>
    <span class="span1"><chapter to="316"></chapter></span>
</div>

<p>
    Si vous ne connaissez aucune de ces Formules, rendez-vous au <chapter to="218"></chapter>.
</p>
