<h1>239</h1>

<p>
    La porte pivote sur ses gonds bien huilés et vous entrez dans un tunnel où règne une totale obscurité. Si vous
    souhaitez recourir à la magie, vous avez le choix entre les Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">DEV</span>
    <span class="span1">VUE</span>
    <span class="span1">FIX</span>
    <span class="span1">SAC</span>
    <span class="span1">UBI</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="372"></chapter></span>
    <span class="span1"><chapter to="349"></chapter></span>
    <span class="span1"><chapter to="422"></chapter></span>
    <span class="span1"><chapter to="398"></chapter></span>
    <span class="span1"><chapter to="454"></chapter></span>
</div>

<p>
    Si vous préférez avancer à tâtons le long du tunnel, rendez-vous au <chapter to="6"></chapter>. Mais vous pouvez également
    renoncer à explorer ce passage et revenir à la bifurcation ; rendez-vous pour cela au <chapter to="120"></chapter>.
</p>
