<h1>255</h1>

<p>
    La porte s'ouvre sur une pièce sale aux murs couverts de la poussière qui se dégage de la mine. C'est une pièce
    carrée et une autre porte est aménagée dans le mur du fond. Un gros GOBELIN à l'aspect repoussant est assis derrière
    un bureau de fortune.
</p>

<img src="img/sorcery/01/pic255.jpg"/>

<p>
    Il lève la tête et renifle autour de lui lorsque vous entrez. Son visage est noir de poussière. &laquo;Tu as une
    drôle d'odeur, l'intrus&raquo;, vous lance-t-il sur un ton de défi,
    &laquo;et tu n'as pas le droit d'entrer ici !&raquo;
    Si vous voulez vous préparer à le combattre, rendez-vous au <chapter to="47"></chapter> ;
    si vous préférez repartir, rendez-vous au <chapter to="120"></chapter>.
</p>
