<h1>417</h1>

<p>
    Vous perdez 5 points d'ENDURANCE. Cette Formule n'existe pas. Les serpents commencent maintenant à vous attaquer.
    <a data-target="#chapter417-special" data-toggle="modal">Lancez un dé.</a>
    Si vous obtenez un chiffre entre 1 et 5, vous aurez perdu autant de points d'ENDURANCE. Si vous faites
    un 6, les morsures sont venimeuses et vous n'avez plus que quelques minutes à vivre. Si vous avez survécu, retournez
    au <chapter to="63"></chapter> pour faire un nouveau choix.
</p>

<img src="img/sorcery/01/flower.gif"/>

<div ng-include src="'partials/chapters/01/chapter417-special.html'"></div>
