<h1>272</h1>

<p>
    Lorsque vous mordez dans votre pain, une douleur aiguë à la jambe vous fait faire volte-face. Un peu plus loin dans
    un arbre, vous apercevez alors le visage noir d'un Chasseur de Têtes qui vous regarde d'un air mauvais en abaissant
    la sarbacane dont il vient de se servir pour vous envoyer une fléchette empoisonnée. Un instant plus tard, vous êtes
    pris de vertiges et vous vous évanouissez. Bientôt, votre tête attachée à un piquet rejoindra celles que vous avez
    vues dans la clairière&hellip;
</p>

<!--TODO Dead-->