<h1>282</h1>

<p>
    Vous vous approchez d'un groupe de Svinns absorbés dans une grande conversation et vous vous asseyez parmi eux. Ils
    parlent d'un de leurs amis qui, apparemment, a été tué dans la nuit par un assassin armé d'une épée. Peu à peu, vous
    vous mêlez à la conversation et vous apprenez bientôt la raison pour laquelle le village est plongé dans une si
    grande morosité. La fille du chef a été capturée par des maraudeurs et offerte à un démon des cavernes doté de
    puissants pouvoirs. Selon une ancienne prophétie, de terribles fléaux s'abattront sur le village si jamais la lignée
    du chef venait à s'éteindre ; or, sa fille est sa seule et unique héritière. Vous leur parlez, quant à vous, de vos
    voyages et des créatures que vous avez rencontrées. Ils se rendent compte alors que vous êtes un véritable
    aventurier et cette découverte suscite chez eux un très vif intérêt. Soudain, l'un d'eux bondit sur vous tandis
    qu'un autre part en courant dans une rue du village. Celui qui vous a agressé vous immobilise en vous serrant comme
    dans un étau et d'autres Svinns viennent bientôt à sa rescousse. Vous êtes amené ensuite dans une hutte en bordure
    du village. Rendez-vous au <chapter to="71"></chapter>.
</p>
