<h1>128</h1>

<p>
    Vous vous précipitez en avant mais, soudain, vous vous rendez compte que vous êtes en train de courir dans une
    galerie de mine dont vous ne savez rien ; or, il se peut que votre seule issue se trouve derrière vous et qu'elle
    soit bientôt obstruée. Si vous souhaitez malgré tout continuer tout droit, rendez-vous au <chapter to="24"></chapter>. Sinon,
    il est encore temps de faire volte-face et de retourner vers la porte ; rendez-vous pour cela au <chapter to="66"></chapter>.
</p>
