<h1>214</h1>

<p>
    La lame du glaive a été aiguisée par un maître artisan et son tranchant est redoutable.
    <a data-target="#chapter214-special" data-toggle="modal">Lancez 2 dés</a>&nbsp;; le chiffre
    obtenu vous indiquera le prix que le marchand demande pour cette arme. Si vous acceptez de payer ce prix, vous
    pouvez acheter le glaive. Que vous décidiez ou non de l'acheter, rendez-vous ensuite au <chapter to="280"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter214-special.html'"></div>