<h1>108</h1>

<p>
    Vous trouvez un abri dans la forêt où vous établissez votre campement. Si vous n'avez pas encore mangé aujourd'hui,
    vous pouvez le faire maintenant et gagner ainsi 2 points d'ENDURANCE. Si vous avez déjà pris un repas et que vous
    souhaitiez manger à nouveau, votre gain d'ENDURANCE ne sera que d'un point.
</p>
<p>
    Vous vous installez et vous vous
    endormez mais il se peut que vous soyez dérangé dans votre sommeil par des créatures nocturnes. Rappelez-vous bien
    le numéro de ce paragraphe (vous devrez y revenir), puis rendez-vous au <chapter to="123"></chapter> pour voir si quelque
    animal de la forêt va venir troubler votre repos. Vous avez le droit d'ajouter 2 points au chiffre que vous donnera
    le dé pour tenir compte du fait que les créatures n'ont guère l'habitude de s'approcher d'un campement.
</p>
<p>
    Le lendemain, vous vous remettez en route.
    <a ng-click="addStamina(2)">Si vous avez passé une nuit paisible, vous gagnez 2 points d'ENDURANCE.</a>
    Si en revanche vous avez eu à combattre quelque animal que ce soit (l'arme à la main ou à l'aide de la magie),
    vous <a ng-click="addStamina(1)">n'aurez regagné qu'un seul point d'ENDURANCE </a>.
</p>
<p>
    Vous suivez à présent un chemin qui monte le flanc d'une colline.
    Rendez-vous au <chapter to="36"></chapter>.
</p>

<p class="integrator">
    Le site vous redirigera ici automatiquement après votre passage au 123.
</p>

