<h1>210</h1>

<p>
    Vous poursuivez votre escalade pendant deux ou trois heures en suivant le tracé sinueux du chemin qui monte au flanc
    de la colline. L'air devient plus frais et le soleil se couche ; l'obscurité naissante rend votre avance plus
    difficile mais la lune est pleine et vous pourrez donc y voir suffisamment pour poursuivre votre route. Si vous
    souhaitez marcher toute la nuit, rendez-vous au <chapter to="84"></chapter> ; si vous préférez vous arrêter et camper pour
    vous reposer un peu, rendez-vous au <chapter to="283"></chapter>.
</p>