<h1>283</h1>

<p>
    Vous vous installez pour la nuit. Vous pouvez manger quelques-unes de vos Provisions, ce qui vous fera gagner 2
    points d'ENDURANCE <a ng-click="eatAndGain(2)">si c'est votre premier repas de la journée</a> et un
    seul point <a ng-click="eatAndGain(1)">si vous avez déjà mangé</a> depuis votre
    départ d'Analand. Bien entendu, vous ne pourrez prendre un repas qu'à la condition d'avoir des Provisions dans votre
    Sac à Dos. Vous vous pelotonnez dans votre couverture pour dormir, mais il y a des risques que votre sommeil soit
    troublé par une quelconque créature qu'il vous faudra affronter. Rappelez-vous bien le numéro de ce paragraphe (vous
    allez devoir y revenir) et rendez-vous au <chapter to="123"></chapter>. Lorsque vous lancerez le dé, selon les instructions
    qui vont vous être données, vous aurez le droit d'ajouter 2 points au chiffre obtenu pour tenir compte du fait que
    les créatures hésitent généralement à s'approcher d'un campement. Une nuit paisible vous fera gagner 2 points
    d'ENDURANCE, mais si vous avez dû affronter une créature, votre gain d'ENDURANCE ne sera que d'un point en raison de
    votre sommeil interrompu. A l'aube, vous vous remettrez en route le long du chemin. Rendez-vous au <chapter to="31"></chapter>.
</p>

<p class="integrator">
    Le site vous redirigera ici automatiquement après votre passage au 123.
</p>
