<h1>365</h1>

<img src="img/sorcery/01/serpent_bigger.gif"/>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et un champ de force invisible se forme aussitôt autour
    de vous en vous enfermant dans une poche d'air qui vous permet de respirer. Bien que l'eau ait complètement envahi
    les lieux, vous êtes en sécurité. Quelques instants plus tard, le mur qui s'était dressé derrière vous disparaît à
    nouveau dans le sol et l'eau se retire. Vous pouvez à présent retourner à la bifurcation et prendre l'autre passage
    (rendez-vous au <chapter to="151"></chapter>) ou revenir dans la grande caverne et vous engager dans l'autre tunnel
    (rendez-vous au <chapter to="3"></chapter>).
</p>