<h1>62</h1>

<p>
    Vous quittez le village et vous vous installez sous un arbre. Si vous le souhaitez,
    <a data-target="#eat" data-toggle="modal">vous pouvez manger</a> quelques-unes
    de vos Provisions et gagner ainsi 2 points d'ENDURANCE si c'est votre premier repas de la journée, et 1 point
    seulement si vous avez déjà mangé aujourd'hui. Vous essayez de vous endormir mais vous êtes sans cesse réveillé par
    d'étranges bruits. Vous gagnez cependant 1 point d'ENDURANCE grâce aux moments de repos que vous avez malgré tout
    réussi à prendre, puis vous repartez à l'aube en vous rendant au <chapter to="45"></chapter>.</p>

<img src="img/sorcery/01/serpent_bigger.gif"/>