<h1>171</h1>

<p>
    Cette créature est un MARMOUSCULE qui s'appelle Jann. C'est un petit être tout à fait amical ; il vous apprend que le
    village au fond du vallon s'appelle Birritanti et que c'est le plus grand de toutes les collines de Shamutanti.
    Birritanti est un endroit accueillant où tous les voyageurs passent au moins une nuit. C'est pourquoi les prix y
    sont quelque peu élevés. Le Marmouscule voudrait bien venir avec vous. Allez-vous l'autoriser à se poser sur votre
    épaule tandis que vous suivrez le chemin qui mène à Birritanti (rendez-vous au <chapter to="111"></chapter>) ou lui direz-vous
    que vous aimez mieux voyager seul (rendez-vous alors au <chapter to="37"></chapter>) ?
</p>
