<h1>105</h1>

<p>
    Vous avancez sans difficulté parmi les hautes herbes. Bientôt, vous découvrez un sentier qui semble avoir été tracé
    par le passage de quelqu'un ; ce sentier rudimentaire est orienté dans la direction que vous suivez vous-même. Si
    vous souhaitez l'emprunter, rendez-vous au <chapter to="57"></chapter> ; mais si, par crainte de quelque piège, vous préférez
    continuer à marcher en vous frayant votre propre chemin parmi les herbes, rendez-vous au <chapter to="32"></chapter>.</p>

<img src="img/sorcery/01/deathbird.gif"/>
