<h1>168</h1>

<p>Vous ramassez votre Sac à Dos mais vous le laissez aussitôt retomber sous l'effet de la peur. Quelque chose en effet,
    a bougé à l'intérieur ! Vous l'ouvrez prudemment et, aussitôt, une petite créature en forme d'écureuil, de couleur
    verte et dotée d'un gros ventre, bondit au-dehors et s'enfuit dans les bois. Vous poussez un juron et vous examinez
    le contenu de votre Sac à Dos : trop tard, la petite créature a mangé toutes vos Provisions. Vous maudissez votre
    négligence et vous vous remettez en route le long du sentier, d'un pas vif qui traduit bien votre mauvaise humeur.
    Rendez-vous au <chapter to="210"></chapter>.
</p>

<img src="img/sorcery/01/aigle.gif"/>
