<h1>386</h1>

<p>Vous perdez 1 point d'ENDURANCE. Avez-vous une Pièce d'Or ? Si ce n'est pas le cas, retournez au <chapter to="99"></chapter> et
    faites un nouveau choix. Si vous avez une Pièce, vous la posez sur votre poignet et vous prononcez la Formule.
    Aussitôt, la Pièce d'Or adhère à votre peau et un champ de force invisible se forme autour d'elle. Vous disposez
    ainsi d'un bouclier qui vous permettra de
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(386, 177)">
        mieux vous défendre contre la Sentinelle Troll :
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">SENTINELLE TROLL</div>
    <div class="span2">8</div>
    <div class="span2">7</div>
</div>

<p>
    Grâce à votre bouclier, vous avez le droit de réduire de deux points la Force d'Attaque de votre adversaire
    et cela à chaque Assaut. Si vous êtes vainqueur, rendez-vous au <chapter to="177"></chapter>.
    Dès que le combat aura pris fin, le
    bouclier disparaîtra et votre Pièce d'Or ne vaudra plus rien.
</p>

<img src="img/sorcery/01/bande.gif"/>
