<h1>298</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et vous attendez que ses effets se manifestent. Bientôt,
    vous commencez à grandir et quelques instants plus tard vous avez atteint une taille trois fois supérieure à la
    normale. La force dont vous disposez à présent vous permet d'achever rapidement votre besogne et il vous reste la
    moitié de la nuit pour dormir. Vous gagnez 2 points d'ENDURANCE grâce à ces heures de sommeil. Rendez-vous à présent
    au <chapter to="263"></chapter>.
</p>

<img src="img/sorcery/01/sword.gif"/>
