<h1>32</h1>

<p>Vous poursuivez votre chemin parmi les hautes herbes et, au bout d'une demi-heure environ, vous arrivez au bord de la
    rivière, à bonne distance en amont du village que vous vouliez éviter. Vous remarquez alors que votre Sac à Dos est
    plus léger qu'à l'ordinaire et vous le faites glisser de vos épaules pour l'examiner. En regardant à l'intérieur,
    vous constatez que vous avez perdu deux des objets qu'il contenait. Il vous faut rayer de votre <i>Feuille
    d'Aventure</i> deux objets au choix parmi ceux que vous avez ramassés au cours de votre voyage (vous ne pourrez
    supprimer de la liste votre Or ou vos Provisions - un repas comptant pour un objet - que si vous n'aviez rien
    d'autre dans votre Sac à Dos). Tandis que vous essayez malgré tout de retrouver ce que vous avez perdu, les hautes
    herbes qui vous entourent se penchent vers vous et s'enroulent autour de votre taille et de vos chevilles. Vous
    comprenez alors qu'il s'agit là d'HERBES VOLEUSES qui ont la faculté de dérober leurs biens aux voyageurs
    imprudents. Il est donc inutile d'espérer, vous ne récupérerez jamais les objets que les herbes vous ont subtilisés.
    Rendez-vous au <chapter to="231"></chapter>.
</p>
