<h1>38</h1>

<p>
    Le chemin descend en pente raide en direction de la vallée puis remonte le long de la colline opposée. Votre marche
    est fatigante et vous fait perdre 2 points d'ENDURANCE. Arrivé à mi-hauteur de la colline d'en face, vous pénétrez
    dans une clairière où une petite cabane de bois a été construite.

    <a data-target="#roll-dices" data-toggle="modal">Lancez un dé</a>,
    puis rendez-vous au <chapter to="23"></chapter> dès que vous aurez obtenu un chiffre.

    Si vous le désirez, vous pouvez <a data-target="#test-luck" data-toggle="modal">Tenter votre Chance.</a>
    mais il vous faudra le faire avant de vous rendre au <chapter to="23"></chapter>.
</p>
