<h1>130</h1>

<p>
    La porte s'ouvre lentement, puis vous entendez un déclic suivi d'un grondement de mauvais augure. Un mur se dresse
    alors derrière vous en surgissant du sol et vous interdit toute tentative de fuite. Vous entendez ensuite un bruit
    de liquide en train de bouillonner et vous voyez avec horreur des tonnes d'eau déferler sur vous, jaillissant de
    toutes parts. Le flot vous emporte tandis que la pièce et le couloir se remplissent. Si vous ne réagissez pas à
    l'instant même vous allez périr noyé. Si vous souhaitez recourir à la magie, vous avez le choix entre les Formules
    suivantes :
</p>

<div class="row-fluid">
    <span class="span1">DEV</span>
    <span class="span1">VEN</span>
    <span class="span1">FOU</span>
    <span class="span1">HOR</span>
    <span class="span1">SUD</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="390"></chapter></span>
    <span class="span1"><chapter to="324"></chapter></span>
    <span class="span1"><chapter to="416"></chapter></span>
    <span class="span1"><chapter to="365"></chapter></span>
    <span class="span1"><chapter to="445"></chapter></span>
</div>

<p>
    Si vous pensez pouvoir trouver un autre moyen de vous échapper, rendez-vous au <chapter to="64"></chapter>. Enfin, vous pouvez
    faire appel à la déesse Libra si vous ne l'avez pas déjà sollicitée au cours de cette aventure ; rendez-vous pour
    cela au <chapter to="260"></chapter>.
</p>
