<h1>126</h1>

<p>
    Vous allez pouvoir examiner vos achats en vous rendant au numéro correspondant à chaque objet&nbsp;:
</p>

<p>
    potion <chapter to="274"></chapter>,<br/>
    glaive <chapter to="43"></chapter>,<br/>
    flûte <chapter to="249"></chapter>,<br/>
    hache <chapter to="72"></chapter>,<br/>
    sac de dents <chapter to="190"></chapter>,<br/>
    bijou <chapter to="152"></chapter>.
</p>

<p>
    Vous reviendrez ici dès que vous connaîtrez exactement les propriétés des objets achetés.
    Poursuivez ensuite votre chemin en vous rendant au <chapter to="95"></chapter>.
</p>
