<h1>264</h1>
<p>
    Il pousse un grognement et vous fait signe de le suivre;
    il vous amène alors devant une grande hutte après vous avoir fait traverser le village.
    De toute évidence, il s'agit là d'une sorte d'entrepôt et, lorsque vous entrez,
    vous trouvez le maître des lieux assis à une table;
    c'est un homme grassouillet à qui votre guide explique que vous voulez faire des affaires;
    le villageois vous laisse seul avec lui et l'homme vous offre un siège.
</p>
<p>
    Voici la liste des marchandises qu'il a à vendre&nbsp;; si l'un de ces objets vous intéresse,
    rendez-vous au numéro qui lui correspond&nbsp;:
</p>

<p>
    Une potion d'herboriste <chapter to="107"></chapter><br/>
    Un glaive à la lame effilée <chapter to="214"></chapter><br/>
    Une flûte <chapter to="22"></chapter><br/>
    Une hache sur laquelle sont gravées d'étranges inscriptions <chapter to="141"></chapter><br/>
    Un sac rempli de dents <chapter to="5"></chapter><br/>
    Un magnifique bijou étincelant <chapter to="60"></chapter>
</p>
<p>
    Si aucun de ces objets ne vous intéresse, rendez-vous au <chapter to="163"></chapter>.
</p>