<h1>195</h1>

<p>Un rugissement retentit soudain derrière vous et vous fait dresser l'oreille. Les murs du couloir se mettent à
    trembler et à se lézarder : vous êtes obligé de vous aventurer plus loin pour éviter l'éboulement qui bientôt
    obstrue le passage et vous interdit de retourner en arrière. Un rayon de lumière, un peu plus loin, fait naître en
    vous quelque espoir. Il s'agit peut-être d'une autre issue. Vous arrivez peu après dans une grande caverne et le
    rugissement devient plus intense. Tout à coup, vous vous plaquez contre le mur en protégeant la fillette pour lui
    épargner la vision d'horreur qui vient de surgir devant vous. Vous venez en effet de voir apparaître une énorme
    MANTICORE, un animal hybride au corps de lion et à la queue de scorpion. </p>

<img src="img/sorcery/01/pic195.jpg"/>

<p>La tête de la créature est celle d'un vieil homme hirsute ; en vous apercevant, le monstre a un mouvement de recul et
    agite deux grandes ailes dans un bruissement inquiétant. Allez-vous combattre cet animal
    (rendez-vous au <chapter to="227"></chapter>) ou préférez-vous recourir à la magie ?
    Vous aurez alors le choix entre les Formules suivantes :</p>

<div class="row-fluid">
    <span class="span1">FOR</span>
    <span class="span1">SAC</span>
    <span class="span1">SUR</span>
    <span class="span1">HOR</span>
    <span class="span1">LEN</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="302"></chapter></span>
    <span class="span1"><chapter to="389"></chapter></span>
    <span class="span1"><chapter to="345"></chapter></span>
    <span class="span1"><chapter to="415"></chapter></span>
    <span class="span1"><chapter to="325"></chapter></span>
</div>
