<h1>364</h1>

<p>Tandis que la Manticore se tourne pour vous faire face, vous pouvez prononcer l'une de ces Formules :</p>

<div class="row-fluid">
    <span class="span1">OGR</span>
    <span class="span1">BIS</span>
    <span class="span1">FEU</span>
    <span class="span1">GOB</span>
    <span class="span1">TUE</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="388"></chapter></span>
    <span class="span1"><chapter to="301"></chapter></span>
    <span class="span1"><chapter to="346"></chapter></span>
    <span class="span1"><chapter to="369"></chapter></span>
    <span class="span1"><chapter to="395"></chapter></span>
</div>

<p>Si vous ne connaissez aucune de ces Formules Magiques, dégainez votre arme et rendez-vous au <chapter to="227"></chapter>.</p>
