<h1>267</h1>

<p>
    L'auberge sert des <a data-target="#buy-and-eat" data-toggle="modal">repas</a>
    chauds au prix de 3 Pièces d'Or et vous pouvez manger ici, à condition,
    bien entendu, d'en avoir les moyens. Ce repas vous fera gagner 2 points d'ENDURANCE si vous n'avez encore rien mangé
    aujourd'hui et 1 point seulement dans le cas contraire. Une chambre pour la nuit coûte 5 Pièces d'Or. Si vous voulez
    dormir dans cette auberge, rendez-vous au <chapter to="8"></chapter> ; si vous préférez quitter le village et dormir à la
    belle étoile, rendez-vous au <chapter to="35"></chapter>.

</p>
