<h1>403</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et une expression de douleur apparaît aussitôt sur le
    visage. &laquo;Cesse ta magie, hurle-t-il, ou tu sentiras la fureur de Mananka&raquo;. Mais sa menace est vaine et
    le visage disparaît bientôt. La fumée rentre alors dans sa boîte et vous n'avez plus rien à craindre. Si vous ne
    l'avez pas déjà fait, vous pouvez à présent examiner l'autre boîte en vous rendant au <chapter to="258"></chapter>. Si vous
    préférez quitter le village, rendez-vous au <chapter to="196"></chapter>.
</p>

<img src="img/sorcery/01/lizard.gif"/>
