<h1>147</h1>

<p>
    La pente douce se transforme bientôt en un coteau escarpé et il vous faut faire plusieurs haltes au cours de la
    matinée pour vous reposer des efforts exigés par cette escalade. Enfin, vous parvenez au sommet et, en regardant au
    loin, vous remarquez que le chemin mène à un petit village de huttes rudimentaires. Vous suivez cette direction et
    vous arrivez dans le village. Lorsque vous faites votre apparition, les gens du cru se hâtent de rentrer dans leur
    cabane comme s'ils avaient peur de vous.
</p>

<img src="img/sorcery/01/pic147.jpg"/>

<p>
    L'air misérable, ils sont petits et rondelets et leur peau rugueuse a l'apparence du cuir. Plusieurs d'entre eux sont
    amputés d'un membre et d'autres se traînent lamentablement sur les mains. Allez-vous essayez de leur parler
    (rendez-vous au <chapter to="61"></chapter>) ou préférez-vous poursuivre votre chemin en traversant le village (rendez-vous au
    <chapter to="220"></chapter>)?
</p>
