<h1>254</h1>
<p>
    Vous vous enfuyez à toutes jambes, de peur que toute cette agitation n'attire d'autres créatures. Vous courez ainsi
    pendant une demi-heure dans les bois sans faire la moindre halte ; mais lorsque enfin vous ralentissez le pas, vous
    vous apercevez très vite que vous êtes complètement perdu.

    Quelle direction allez-vous prendre ?

    <a data-target="#chapter254-special" data-toggle="modal">Lancez un dé</a>.

    Si vous faites un 1 ou un 2, vous monterez le flanc de la colline jusqu'à ce que vous arriviez sur un chemin
    (rendez-vous au <chapter to="68"></chapter>) ;

    si vous faites un 3 ou un 4, vous continuez tout droit jusqu'à ce que, là encore, vous
    parveniez sur un chemin (rendez-vous au <chapter to="13"></chapter>) ;

    enfin, si vous faites un 5 ou un 6, vous descendrez la colline
    jusqu'à un sentier fréquemment emprunté par les voyageurs (rendez-vous au <chapter to="98"></chapter>).
</p>

<div ng-include src="'partials/chapters/01/chapter254-special.html'"></div>