<h1>125</h1>

<p>
    Vous quittez Kristatanti en suivant un chemin qui serpente parmi les collines. Pendant toute la matinée, vous
    marchez le long de son tracé sinueux, en traversant un bois d'arbres noueux, et vous arrivez enfin à une clairière
    où un autre sentier rejoint le premier. Un panneau de signalisation indique qu'il faut prendre tout droit pour se
    rendre à Dhumpus et à l'ouest pour aller vers Alianna. Si vous souhaitez continuer tout droit, rendez-vous au
    <chapter to="54"/> ; si vous préférez tourner vers l'ouest, rendez-vous au <chapter to="154"></chapter>.
</p>
