<h1>6</h1>

<p>
    Tandis que vous avancez prudemment le long du passage, de la poussière tombe du plafond. Les murs sont étayés par
    des
    étançons de bois peu solides et, soudain, vous trébuchez contre l'un d'eux. Une avalanche de gravats s'abat aussitôt
    devant vous et un craquement sinistre retentit. Le plafond de la galerie est en train de s'effondrer ! Si vous
    souhaitez faire demi-tour et courir vers la porte, rendez-vous au <chapter to="66"></chapter>&nbsp;;
    si vous préférez courir droit
    devant pour tenter d'échapper aux pierres qui pleuvent autour de vous, rendez-vous au <chapter to="128"></chapter>.
</p>
