<h1>279</h1>

<p>
    Lorsque vous vous réveillez, vous vous retrouvez dans une hutte, les mains liées derrière le dos. En vous voyant
    bouger, une créature assise près de la porte se relève d'un bond. En fait, ce bond la propulse dans les airs où elle
    se maintient en volant sur place, le regard fixé sur vous. Votre gardien ressemble à un homme, mais il est petit et
    fluet. Vous avez été capturé par des ELVINS !
</p>

<img src="img/sorcery/01/pic279.jpg"/>

<p>
    Les Elvins sont des créatures espiègles, plus malicieuses que méchantes, qui affectionnent les farces et les
    facéties. Quelques instants plus tard, plusieurs d'entre elles entrent dans la pièce et vous demandent si vous êtes
    un magicien. Si c'est le cas, les petits Elvins voudraient bien que vous leur montriez l'étendue de vos talents en
    matière de magie. Si vous acceptez de leur faire une démonstration, rendez-vous au <chapter to="132"></chapter>. Si vous
    refusez ou si vous n'êtes pas magicien, rendez-vous au <chapter to="218"></chapter>.</p>
