<h1>297</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous levez la main et vous prononcez la Formule : une boule de feu se matérialise
    aussitôt dans votre paume et vous la jetez sur le Golem de Bois. La créature prend feu à l'instant même en poussant
    des hurlements. Alianna se précipite pour aller chercher de l'eau avant que les flammes ne se propagent dans la
    maison ; vous en profitez pour vous éclipser en vous rendant au <chapter to="169"></chapter>.
</p>

<img src="img/sorcery/01/lizard.gif"/>
