<h1>183</h1>

<p>
    Vous vous demandez quel chemin prendre et, tandis que vous réfléchissez, vous entendez de faibles cris provenant
    d'un grand arbre un peu plus loin. Vous vous approchez avec précaution et vous apercevez un vieil homme assis sur
    une branche basse.
</p>

<p>
    Apparemment, il a peur de sauter à terre, ce qui n'a rien de surprenant, compte tenu de son âge. Il vous supplie de
    l'aider, ce que vous faites bien volontiers. Lorsqu'il est descendu de sa branche, il vous explique qu'il vient de
    Dhumpus et qu'il s'en allait rejoindre l'Avant-Poste d'Analand. Son voyage s'était déroulé sans anicroche jusqu'à ce
    que des Elvins l'attaquent, le volent et le laissent dans cet arbre. Pour vous remercier de votre aide, il vous
    récite un quatrain qui pourra peut-être vous aider :
</p>

<p style="text-align: center; font-style: italic">
    Regardez-le bien quoiqu'il ne puisse vous voir<br/>
    Regardez-le ramper, c 'est un être aux yeux noirs<br/>
    Il fut gardien jadis, aujourd'hui sa fierté<br/>
    Est de tenir la clé donnant la liberté.
</p>

<p>
    Il ignore ce que signifient ces quatre vers, mais il sait en revanche que les Elvins sont particulièrement désireux
    de trouver la clé en question. Il vous donne également la seule chose qu'il possède : une page arrachée à un Livre
    de Magie (la page porte le numéro 102). La Formule Magique inscrite sur cette page est incomplète, mais d'après ce
    que vous pouvez lire, il s'agit d'un sortilège qui permet de se débarrasser des importuns. Le vieil homme prend à
    présent congé de vous et poursuit son chemin en direction de Cantopani. Vous pouvez maintenant choisir le sentier
    que vous allez emprunter. Si vous souhaitez suivre le chemin qui monte dans les collines, rendez-vous au
    <chapter to="157"/>. Si vous préférez celui qui descend dans la vallée, rendez-vous au <chapter to="164"></chapter>.
    Mais vous pouvez également, si vous le souhaitez, vous intéresser à l'origine d'un bourdonnement qui provient
    de derrière l'arbre ; il faudra pour cela vous rendre au <chapter to="200"></chapter>.
</p>