<h1>76</h1>

<p>
    Vous trouvez un abri parmi les rocs, au bord du cours d'eau et vous vous installez pour la nuit. Si vous n'avez pas
    mangé depuis que vous avez quitté l'Avant-Poste,
    <a data-target="#eat" data-toggle="modal">vous pouvez prendre un repas</a>
    qui vous fera gagner 2 points d'ENDURANCE (à condition, bien entendu,
    que vous ayez des Provisions dans votre Sac à Dos). Si vous avez déjà mangé depuis le début de votre aventure, votre
    gain d'ENDURANCE ne sera que d'un point. Peu à peu, bercé par le murmure de la rivière, vous sombrez dans le
    sommeil. Quelques instants plus tard, cependant, vous êtes réveillé par le bruit d'objets tombant dans l'eau. En
    jetant un coup d'oeil hors de votre abri, vous contemplez alors un étrange spectacle : trois petites créatures de
    forme humaine, entourées d'un halo lumineux aux reflets rouges, sont en train de lancer des pierres dans le cours
    d'eau.
</p>

<img src="img/sorcery/01/pic076.jpg"/>

<p>
    De temps en temps, les trois petits êtres poussent des cris de joie lorsqu'en visant bien, il parviennent à faire
    bondir un poisson hors de l'eau. Comme attiré par une force magique, chaque poisson ainsi arraché à son élément
    traverse la rivière en volant et atterrit à leurs pieds. Si vous souhaitez vous faire le plus petit possible dans
    votre abri en espérant que les trois créatures ne vous verront pas, rendez-vous au <chapter to="281"></chapter> ; si vous
    préférez vous lever et les appeler, rendez-vous au <chapter to="12"></chapter>.
</p>
