<h1>232</h1>

<p>
    L'après-midi touche à sa fin ; vous franchissez le sommet d'une colline et vous apercevez un village en contrebas.
    Le chemin mène directement à ce village qui a pour nom Torrepani, et vous n'avez d'autre choix que de vous y rendre.
    Torrepani est habité par des Svinns : il s'agit là d'une race d'hommes-orques à l'aspect peu engageant. Lorsque vous
    entrez dans le village, vous êtes frappé par l'atmosphère de morosité qui règne alentour. Les Svinns ne vous prêtent
    aucune attention et vous allez vous asseoir sur une souche d'arbre, au milieu de la grand-place ; toutes les
    créatures que vous voyez passer ont le même air malheureux et désespéré. Si vous souhaitez vous rendre à l'auberge
    pour y passer la nuit, rendez-vous au <chapter to="267"></chapter>. Si vous préférez tenter d'engager la conversation avec des
    villageois, rendez-vous au <chapter to="282"></chapter>.
</p>
