<h1>339</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Flûte en Bambou dans votre Sac à Dos ? Si ce n'est pas le cas, le
    Golem de Bois vous porte un coup qui vous fait perdre 2 points d'ENDURANCE. Retournez au <chapter to="87"></chapter> et faites
    un nouveau choix. Si vous avez une Flûte en Bambou, vous la prenez, vous prononcez la Formule et vous vous mettez à
    jouer. Le Golem s'immobilise et vous regarde étrangement. Ses épaules ont un soubresaut et il se met à trembler.
    L'une de ses jambes commence alors à s'agiter. Incapable de se contrôler, il fait un petit bond en avant, puis saute
    en arrière en retombant sur la pointe des pieds. Bientôt, il se livre devant vous à une danse endiablée sans
    comprendre ce qui lui arrive.
    Tandis qu'il est ainsi occupé, vous vous éclipsez en vous rendant au <chapter to="169"></chapter>.
</p>

<img src="img/sorcery/01/bad_sun.gif"/>
