<h1>94</h1>

<p>Bien que vous sentiez toujours sa pression sur votre bras, cette main invisible ne vous empêche nullement d'avancer -
    ce qui vous semble surprenant - et vous pouvez donc poursuivre votre chemin. A la vérité, vous avez même
    l'impression que votre marche est plus facile qu'auparavant, comme si quelqu'un vous poussait doucement le long du
    meilleur itinéraire possible. Bientôt, l'épaisse végétation se fait moins dense et vous vous retrouvez dans une
    prairie d'herbes hautes qui vous arrivent à la taille. Lorsque vous quittez la forêt, la pression de la main
    invisible se relâche et disparaît. Vous gagnez un point de CHANCE. Mais vous ne savez toujours pas qui vous a guidé
    ainsi. Rendez-vous au <chapter to="105"></chapter>.
</p>

<img src="img/sorcery/01/deathbird.gif"/>
