<h1>24</h1>

<p>Vous courez à toutes jambes le long du passage en entendant derrière vous s'écrouler les étançons. Et, soudain, le
    sol se dérobe sous vos pas : vous tombez dans une fosse ! Vous pouvez recourir à la magie pour essayer de faire face
    à la situation. Vous avez le choix entre les Formules suivantes :</p>

<div class="row-fluid">
    <span class="span1">SUD</span>
    <span class="span1">CHU</span>
    <span class="span1">RIS</span>
    <span class="span1">VOL</span>
    <span class="span1">DEV</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="290"></chapter></span>
    <span class="span1"><chapter to="399"></chapter></span>
    <span class="span1"><chapter to="439"></chapter></span>
    <span class="span1"><chapter to="330"></chapter></span>
    <span class="span1"><chapter to="424"></chapter></span>
</div>

<p>
    Si vous ne connaissez aucune de ces Formules, ou si vous préférez ne pas en faire usage, rendez-vous au
    <chapter to="277"></chapter>.
</p>
