<h1>275</h1>

<p>
    D'un mouvement sec, vous arrachez votre bras à cette étreinte, et aussitôt, une forme se dessine devant vous. Un
    instant plus tard, vous vous retrouvez face à un SERPENT à deux queues qui siffle d'un air menaçant. L'une de ses
    queues est enroulée autour de votre bras. Si vous souhaitez faire usage de magie, vous avez le choix entre les
    Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">TUE</span>
    <span class="span1">LUX</span>
    <span class="span1">BLE</span>
    <span class="span1">LOI</span>
    <span class="span1">UBI</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="314"></chapter></span>
    <span class="span1"><chapter to="404"></chapter></span>
    <span class="span1"><chapter to="334"></chapter></span>
    <span class="span1"><chapter to="355"></chapter></span>
    <span class="span1"><chapter to="426"></chapter></span>
</div>

<p>
    Si vous ne pouvez utiliser l'une de ces Formules ou si vous ne le souhaitez pas, il ne vous reste plus qu'à
    vous battre l'arme au poing. Rendez-vous au <chapter to="2"></chapter>.
</p>
