<h1>33</h1>

<p>
    Vous lui expliquez que vous vous rendez à Kharé et vous lui demandez conseil quant au meilleur chemin à
    prendre. &laquo;Je n'ai jamais quitté ce village, répond l'homme, mais je sais qu'il y a deux sentiers un peu plus
    loin. Je veux bien vous renseigner, mais je ne le ferai pas gratuitement. Pour 2 pièces d'Or, je vous dirai ce que
    je sais.&raquo;
    <a data-target="#chapter33-special" data-toggle="modal">Si vous acceptez sa proposition, payez-le</a>
    et rendez-vous au <chapter to="225"></chapter>.
    Si vous refusez, poursuivez votre chemin en vous rendant au <chapter to="81"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter33-special.html'"></div>