<h1>308</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Flûte en Bambou dans votre Sac à Dos&nbsp;?
    Si ce n'est pas le cas, vous n'avez rien à faire à ce paragraphe et vous perdez 3 points d'ENDURANCE supplémentaires
    tandis que les Bandits vous attaquent. Retournez au <chapter to="104"></chapter>.
    Si vous avez une Flûte, prenez-la, prononcez la Formule et jouez un air.
    Le visage agressif des Bandits affiche soudain une expression stupéfaite lorsque leurs jambes se mettent à
    s'agiter malgré eux au rythme de la musique. Ils laissent tomber leurs épées et, bientôt,
    ils dansent joyeusement devant vous.
</p>

<img src="img/sorcery/01/pic308.jpg"/>

<p>
    Vous jouez de plus en plus fort en dirigeant leurs pas de danse vers le village et, pendant qu'ils s'éloignent,
    vous reprenez votre chemin&nbsp; rendez-vous au <chapter to="131"></chapter>.
</p>



