<h1>209</h1>

<p>Vous suivez pendant plusieurs heures le chemin qui longe la rivière jusqu'à ce que vous arriviez à une grande courbe.
    Au milieu de cette courbe, vous apercevez un village de huttes construites à l'aide de branchages. Au centre du
    cercle formé par ces huttes brûle un feu qui laisse échapper des volutes de fumée. On n'entend pas le moindre bruit
    en provenance du village, et aucun signe d'activité ne s'y manifeste ; si vous souhaitez vous en approcher,
    rendez-vous au <chapter to="80"></chapter>. Si vous préférez l'éviter, vous devrez quitter le chemin et monter dans les
    collines, rendez-vous au <chapter to="156"></chapter>.
</p>

<img src="img/sorcery/01/deathbird.gif"/>
