<h1>139</h1>

<p>
    Lorsque vous reprenez conscience vous vous retrouvez pieds et poings liés. Autour de vous, des CHASSEURS DE TÊTES
    jacassent d'un ton surexcité et vous vous demandez si votre dernière heure n'est pas arrivée. Vous pouvez essayer de
    recourir à la magie pour vous sortir de cette situation en choisissant l'une des Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">RIS</span>
    <span class="span1">SOU</span>
    <span class="span1">FEU</span>
    <span class="span1">REV</span>
    <span class="span1">EMU</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="357"></chapter></span>
    <span class="span1"><chapter to="406"></chapter></span>
    <span class="span1"><chapter to="333"></chapter></span>
    <span class="span1"><chapter to="450"></chapter></span>
    <span class="span1"><chapter to="379"></chapter></span>
</div>

<p>
    Si vous préférez attendre de voir ce qui va se passer, rendez-vous au <chapter to="112"></chapter>.
</p>
