<h1>447</h1>

<p>Vous perdez 4 points d'ENDURANCE. La Manticore se trouve dans le couloir d'en face et s'apprête à vous bondir dessus.
    Vous prononcez votre Formule alors qu'elle s'est élancée dans les airs et elle pousse soudain un rugissement sonore
    en heurtant de plein fouet le mur invisible que vous venez de créer. Vous avez le pouvoir de donner à ce mur la
    forme que vous voulez, et vous enfermez donc la créature dans ce puissant champ de force, ce qui vous permet de vous
    enfuir sans dommage en compagnie de la fillette. Rendez-vous au <chapter to="456"></chapter>.
</p>
