<h1>93</h1>

<p>
    Lancez deux dés. Si le chiffre obtenu est <i>inférieur </i>à votre total d'HABILETÉ, vous parvenez à défoncer la
    porte. Dans le cas contraire, vous pouvez faire une nouvelle tentative. Que vous réussissiez ou pas,
    <a data-target="#chapter93-special" data-toggle="modal">chaque essai</a>
    vous coûtera 1 point d'ENDURANCE. Si vous défoncez la porte, rendez-vous au <chapter to="39"></chapter>. Si, à l'issue d'une
    ou de plusieurs tentatives infructueuses, vous décidez d'abandonner, vous retournerez au croisement et vous
    quitterez la grotte (rendez-vous au <chapter to="144"></chapter>).
</p>

<div ng-include src="'partials/chapters/01/chapter93-special.html'"></div>