<h1>345</h1>

<p>
    Vous perdez 5 points d'ENDURANCE. Cette Formule n'existe pas et, pendant que vous vous efforcez en vain de la
    prononcer, la créature darde vers vous sa redoutable queue de scorpion et tente de vous piquer. Vous parvenez
    cependant à l'éviter en vous jetant à terre.

    Allez-vous à présent l'affronter l'arme à la main (rendez-vous au <chapter to="227"></chapter>)
    ou en ayant recours à une autre Formule Magique (rendez-vous au <chapter to="364"></chapter>) ?
</p>

<img src="img/sorcery/01/aigle.gif"/>
