<h1>44</h1>

<p>
    La clé s'adapte à la serrure et vous parvenez à ouvrir la porte de la cage, libérant la prisonnière.
    &laquo;Etranger, je vous dois beaucoup, dit-elle en bondissant hors de la cage,
    et je vais vous donner une récompense.&raquo;

    Préférez-vous
    un objet qui vous sera utile dans l'exercice de la magie (rendez-vous au <chapter to="248"></chapter>) ou quelque chose qui
    vous aidera au cours des combats à venir (rendez-vous au <chapter to="122"></chapter>) ?
</p>

<img src="img/sorcery/01/bad_sun.gif"/>
