<h1>1</h1>

<p>
    Vous vous éveillez à l'aube. Après vous être habillé,
    vous prenez un petit déjeuner composé de pain et de lait de chèvre,
    puis vous ramassez vos affaires. Au-dehors, l'Avant-Poste commence à s'agiter : les femmes se lèvent et préparent
    à manger tandis que la sentinelle de jour prend son tour de garde. Des regards vous accompagnent lorsque vous
    quittez votre hutte pour vous diriger vers le Mur de Shamutanti.
    Les frontaliers n'ignorent rien de votre mission et un petit groupe vous suit à quelque distance
    en vous prodiguant des encouragements.
</p>

<p>
    Devant vous se dresse la Porte de Cantopani.
    Gardée en permanence par des Guerriers aux Yeux de Lynx,
    sélectionnés spécialement en raison de leur vue perçante,
    cette porte est l'ultime point de passage qui sépare Analand du Kalkhabad.
    Une dernière fois, vous vérifiez votre équipement : tout est en ordre et vous adressez un signe de tête
    au Sergent à l'Œil de Lynx. Celui-ci lève le regard vers le guetteur posté au sommet de la porte.
    Le guetteur signale que la voie est libre et le Sergent ordonne qu'on vous laisse sortir.
    Une porte s'ouvre alors devant vous et vous apercevez pour la première fois les collines de Shamutanti,
    première étape de votre voyage. Le Sergent à l'Œil de Lynx s'avance vers vous et vous prend par le bras.
</p>

<img src="img/sorcery/01/pic001.jpg"/>

<p>
    «Je ne vous souhaiterai pas un bon voyage, dit-il, car rien de bon ne vous attend au cours de votre route.
    Le Kalkhabad est un pays plein de dangers, peuplé d'êtres malfaisants.
    Mais vous le savez déjà, inutile de vous le répéter. Prenez le chemin qui mène tout droit à Cantopani.
    C'est une petite colonie de marchands.
    Méfiez-vous, cependant, car la plupart d'entre eux ne sont que fripouilles et voleurs.
    Vous devriez arriver là-bas dans une heure environ.
    À partir de Cantopani, trois routes traversent le Birritanti, en direction de Kharé,
    une ville portuaire située sur le fleuve Jabaji.
    Lorsque vous quitterez Kharé, il vous faudra parcourir les Terres des Fins Fonds que personne ici
    n'a encore explorées.
    On dit que sur la Terre des Fins Fonds, le jour et la nuit ne dépendent pas de la course du soleil,
    mais sont soumis à des forces surnaturelles; sachez aussi que, dès votre départ de Kharé,
    tous vos mouvements seront observés.»
</p>
<p>
    Ces avertissements ne sont pas faits pour vous rassurer.

    «J'ai cependant suivi la progression de votre entraînement, poursuit le Sergent,
    et je puis vous dire que vous êtes un valeureux guerrier, à n'en pas douter.
    Je souhaite que votre quête soit couronnée de succès et mes pensées vous accompagneront,
    ainsi que les vœux des peuples d'Analand.
    Puissiez-vous, avec l'aide de Libra, lever la malédiction et mettre fin aux malheurs qui tourmentent notre royaume.»
</p>
<p>
    Vous lui serrez la main, vous le remerciez pour ses encouragements et vous vous avancez vers la porte que vous
    franchissez d'un pas résolu. Les visages des hommes et des femmes qui vous regardent partir expriment
    tous les espoirs qu'ils mettent en vous et en la réussite de votre mission.
    Vous leur adressez un dernier signe de la main, puis vous vous tournez face aux collines.
    L'air du petit matin est sec et vif et le soleil levant colore le paysage de teintes saisissantes
    dont la beauté cache en fait des forces diaboliques.
</p>
<p>
    D'une démarche conquérante, vous avancez sur le chemin qui s'ouvre devant vous : votre aventure vient de commencer!
    Rendez-vous au <chapter to="178"></chapter>.
</p>