<h1>124</h1>

<p>
    &laquo;Tu ne peux échapper à l'Esprit de Mananka ! s'écrie le visage, et ta mission est désormais maudite !&raquo;
    La fumée diminue alors de volume et disparaît à l'intérieur de la boîte. Vous vous demandez que faire contre la
    malédiction de l'Esprit mais malheureusement, vous n'avez pas le choix: tant que vous n'aurez pas découvert un moyen
    de lever la malédiction, votre ENDURANCE se trouvera irrémédiablement affaiblie. Chaque fois, en effet, que vous
    perdrez des points d'ENDURANCE pour quelque raison que ce soit (sauf lorsque vous ferez usage d'une Formule
    Magique), vous devrez réduire votre total d'ENDURANCE d'un point supplémentaire. Il est important que vous
    cherchiez le moyen de vous débarrasser de ce mauvais sort car, aussi longtemps qu'il pèsera sur vous, vous serez
    plus vulnérable face aux dangers qui vous menacent. Quittez à présent cette maison et poursuivez votre chemin en
    vous rendant au <chapter to="196"></chapter>.
</p>

<p class="integrator">Cette malédiction n'est pas prise en compte dans cette version.</p>

<!-- TODO Implement this nasty curse: -1 every time hero loses stamina (but not for magic) -->
