<h1>424</h1>

<p>Vous perdez 2 points d'ENDURANCE. Vous tombez dans la fosse, mais votre corps se retourne dans sa chute pour se
    mettre dans la meilleure position possible, celle qui vous évitera un choc trop dur à l'arrivée.
    Rendez-vous au <chapter to="277"></chapter> où vous aurez à lancer les dés.
    Mais, pour tenir compte des effets de la Formule Magique,
    vous aurez le droit d'ôter 3 points au total obtenu et vous n'aurez pas à subir la pénalité prévue dans l'hypothèse
    où les dés vous donneraient un double six.
</p>

<img src="img/sorcery/01/bande.gif"/>
