<h1>456</h1>

<p>
    Vous quittez le repaire de la Manticore et vous suivez le passage qui mène vers la source de lumière. Comme vous
    l'espériez une ouverture dans le flanc de la colline vous permet de reparaître à l'air libre. Vous retrouvez votre
    chemin vers Torrepani avec l'aide de la fillette qui connaît la région. Lorsque vous arrivez à destination, le chef
    des Svinns est éperdu de bonheur d'avoir retrouvé son héritière et tout le village déborde de joie à présent que la
    malédiction est levée. Vous êtes bien entendu l'invité d'honneur de toute la population et vous décidez de passer le
    reste de la journée dans le village pour vous reposer. Vous rendez visite au prêtre Svinn qui guérit toutes vos
    blessures, ainsi que vos maladies et lève toutes les malédictions qui pèsent éventuellement sur vous. Votre
    HABILETÉ, votre ENDURANCE et votre CHANCE retrouvent leur niveau <i>initial</i>; et si l'agaçant petit Marmouscule
    est toujours avec vous, le prêtre vous en débarrassera également.
</p>

<p>
    Cette nuit-là, vous dormez d'un sommeil profond et vous vous éveillez le lendemain prêt à poursuivre votre voyage.
    Avant que vous ne partiez, le chef Svinn vient vous voir et il vous donne deux cadeaux : une bourse contenant 10
    Pièces d'Or et une grande clé.
</p>

<img src="img/sorcery/01/pic456.jpg"/>

<p>
    &laquo;Je sais que vous vous rendez dans la ville de Kharé, vous dit-il, mais c'est une cité malfaisante et vous
    devrez toujours rester sur vos gardes. Il y a deux ans, un voyageur qui venait précisément de Kharé est passé par
    notre village et il m'a donné cette clé en m'assurant que jamais plus il ne retournerait là-bas. Cette clé permet
    d'ouvrir la porte sud de la ville et, grâce à elle, vous pourrez pénétrer dans l'enceinte de la cité sans vous faire
    remarquer.&raquo;
</p>

<p>
    Dans la prochaine aventure de <i>Sorcellerie !</i>,
    dès que vous serez arrivé devant la Grande Porte du Sud de Kharé,
    vous pourrez vous rendre directement au <strong>12</strong> si vous désirez faire usage de cette clé.
</p>

<p>
    Vous remerciez le chef des Svinns et vous quittez Torrepani. Vous vous êtes fait beaucoup d'amis dans le village et
    vous pouvez en conséquence augmenter d'1 point votre total <i>initial</i> de CHANCE. Bientôt, le chemin que vous
    suivez vous mène au bas des collines de Shamutanti, et vous traversez de vastes rizières tandis que se dressent au
    lointain les hautes Murailles de Kharé, la ville portuaire, prochaine étape de votre quête...
</p>


<p class="integrator">
    Les malédictions ne sont pas prise en compte dans cette version.
    Si vous étiez atteint d'une malédiction, utilisez le menu "Jeu"
    pour adapter vos points d'habileté.
</p>

<!-- TODO Remove curses -->
