<h1>425</h1>

<p>
    Avez-vous des Dents de Gobelin dans votre Sac à Dos ? Si oui, jetez-en sur le sol autant que vous voudrez et
    prononcez la Formule Magique. Vous perdrez 1 point d'ENDURANCE pour chaque Dent utilisée. Chaque Gobelin aura un
    total d'HABILETÉ de 5 et un total d'ENDURANCE de 5 également.
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(425, 50)">
        Vous pouvez ordonner à vos créatures d'attaquer le Chien-Loup :
    </a>
    si elles le tuent, rendez-vous au <chapter to="50"></chapter>.
</p>

<p class="integrator">
    Dans cette version, vous n'utiliserez qu'un seul gobelin (ça devrait d'ailleurs suffire).
</p>

<img src="img/sorcery/01/pic425.jpg"/>

<p>
    Sinon,
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(425, 50)">
        vous achèverez le combat vous-même
    </a>
    et vous vous rendrez au <chapter to="50"></chapter> en cas de victoire.

    Si vous
    n'avez pas de Dents de Gobelins, vous essayez en vain de prononcer la Formule et, pendant ce temps, le Chien-Loup
    vous saute à la gorge, vous infligeant une blessure qui vous coûte 5 points d'ENDURANCE. Vous devrez ensuite le
    combattre :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">CHIEN-LOUP</div>
    <div class="span2">7</div>
    <div class="span2">6</div>
</div>

<p>
    Si vous êtes vainqueur, rendez-vous au <chapter to="50"></chapter>.
</p>
