<h1>186</h1>

<p>Il n'y a pas grand-chose de valeur dans la pièce, mais le Gobelin porte autour du cou une clé d'argent sur laquelle
    est gravé le numéro 111. Vous pouvez <a ng-click="addItem('item.key.111')">prendre cette clé</a>
    et repartir. Vous avez le choix entre continuer tout droit en franchissant la porte qui se
    trouve un peu plus loin (rendez-vous au <chapter to="239"></chapter>) ou revenir sur vos pas le long du passage que vous venez
    d'emprunter (rendez-vous au <chapter to="120"></chapter>).</p>
