<h1>262</h1>

<p>
    Vous avez bien répondu et le Bossu s'écarte pour vous laisser passer. Vous avancez en direction du pont et il vous
    souhaite bon voyage. Vous vous hâtez de traverser, de peur qu'il ne lui vienne l'idée de vous tendre un autre piège.
    Mais en fait, il vous récite quelques vers qui pourront vous être utiles pour la suite de votre voyage. Le Bossu est
    un être rusé et vous devrez noter soigneusement ses paroles :
</p>

<p align="center">
    <i>Gare au dédale où vit le démon des cavernes<br>
    Car des pièges mortels dans son ombre te cernent,<br>
    Méduse notamment quand son regard te fauche ;<br>
    Prends garde voyageur si tu ne vas à gauche.</i>
</p>

<p>
    Vous repensez à ce quatrain en traversant la vallée. Entre temps, vous avez gagné 2 points de CHANCE
    pour avoir réussi à passer cette épreuve. Parvenu de l'autre côté du pont, vous
    suivez le chemin qui mène au sommet de la colline puis redescend de l'autre
    côté. L'après-midi touche à présent à sa fin. Rendez-vous au <chapter to="220"></chapter>.
</p>

<img src="img/sorcery/01/bad_sun.gif"/>
