<h1>157</h1>

<p>
    Le chemin monte dans les collines en suivant un tracé sinueux et vous pénétrez dans un bois. Le soleil de
    l'après-midi, en glissant ses rayons parmi les feuillages, vous joue des tours. Parfois, vous avez l'impression
    d'apercevoir un animal à la forme étrange alors qu'il ne s'agit en fait que de branches ou de feuilles qui se
    découpent dans la lumière sous des angles inhabituels. Vous arrivez un peu plus tard dans un endroit où vous
    pourrez, si vous le souhaitez, prendre quelque repos et manger un peu (rendez-vous pour cela au <chapter to="18"></chapter>).
    Si vous préférez poursuivre votre chemin, rendez-vous au <chapter to="210"></chapter>.
</p>