<h1>305</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et vous attendez que l'éclair viennent foudroyer
    l'Assassin. Mais rien ne se passe et le Marmouscule s'écrie : &laquo;Inutile de perdre du temps à prononcer des
    Formules Magiques : les Marmouscules sont protégés par une aura qui les met à l'abri de toute sorcellerie ;
    impossible de recourir à la magie tant que je suis dans les parages !&raquo;
    Retournez au <chapter to="117"></chapter> et combattez l'Assassin l'arme à la main.
</p>

<img src="img/sorcery/01/flower.gif"/>
