<h1>51</h1>

<p>
    Vous descendez le long de la vallée pendant une heure, puis le chemin remonte à nouveau dans les collines. Mais la
    pente que vous suivez n'est pas trop escarpée et, peu avant midi, le chemin descend encore une fois.

    Si vous le désirez, vous pouvez faire une halte et
    <a ng-click="eatAndGain(2)">manger quelques-unes de vos Provisions</a> ;
    vous gagnerez ainsi 2 points d'ENDURANCE.

    Dans l'après-midi, alors que vous avez parcouru une bonne distance le long du chemin, Jann, qui n'a pas
    cessé de vous parler pendant tout le trajet, vous avertit soudain qu'il vaut mieux vous arrêter. On vous observe en
    effet. Vous êtes à présent dans une forêt et vous avancez avec précaution. Or, tout à coup, des buissons s'écartent
    et une silhouette apparaît.
</p>

<img src="img/sorcery/01/pic051.jpg"/>

<p>
    C'est un homme grand, vêtu de noir, qui vous barre le passage. Si vous souhaitez vous préparer à le combattre,
    rendez-vous au <chapter to="117"></chapter>, si vous préférez essayer d'engager la conversation, rendez-vous au
    <chapter to="103"></chapter>.
</p>