<h1>352</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et lorsque l'Ogre bondit sur vous pour vous attaquer,
    il se cogne contre un obstacle qui lui barre le chemin. Vous l'avez arrêté net grâce à votre mur invisible.
    Vous pouvez à présent vous enfuir en tenant l'Ogre à distance.

    Au passage, vous avez le droit de prendre une
    <a ng-click="addGold(10)">pierre précieuse</a> parmi celles qui se trouvent sur la table.
    Le travail de l'Ogre consiste à
    séparer ces pierres de leur gangue grâce à sa machine qui broie les roches brutes arrachées à la mine. Cette pierre
    précieuse vaut 10 Pièces d'Or. Vous pouvez vous en servir pour acheter des objets, mais on ne vous rendra pas la
    monnaie si vous l'échangez contre un objet de valeur inférieure. Rendez-vous au <chapter to="144"></chapter>.
</p>

<p class="integrator">
    Dans cette version, la pierre précieuse comptera simplement pour 10 pièces d'or.
</p>

<img src="img/sorcery/01/serpent.gif"/>

    <!-- TODO precious stone ~ 10 gold -->