<h1>48</h1>

<p>
    Vous bavardez avec elle en buvant votre ou plutôt <i>son </i>thé ; et soudain, une douleur vous déchire l'estomac.
    Vous faites une grimace, vous vous mettez à tousser et vous vous apercevez alors avec horreur que tout votre corps
    commence à s'engourdir. Vous essayez désespérément de bouger, mais la paralysie vous gagne sous l'effet du poison
    que vous venez d'absorber.

    &laquo;On est un étranger méfiant, n'est-ce pas ? lance votre hôtesse en éclatant de
    rire. Parmi tous les voyageurs qui viennent ici, il ne s'en est jamais trouvé un pour me faire confiance : ils me
    soupçonnent tous de quelque sorcellerie. Et ils ont bien raison...&raquo;

    Elle se met aussitôt à fouiller votre Sac
    à Dos, en quête d'objets magiques : incapable de faire un geste, vous ne pouvez rien tenter pour l'en empêcher. Si
    votre Sac à Dos contient une page arrachée à un Livre de Magie, rendez-vous au <chapter to="77"></chapter>.

    Sinon, la sorcière
    prendra dans vos affaires deux des objets qui vous sont indispensables dans l'utilisation de certaines Formules
    Magiques (choisissez lesquels et rayez-les de votre <i>Feuille d'Aventure</i>), puis, à l'aide d'un sortilège dont
    elle a le secret, elle vous transportera, vous, votre minuscule compagnon et tout votre équipement, quelque part
    dans la forêt. Là, les effets paralysants du poison prendront fin et vous vous rendrez au
    <chapter to="232"></chapter>.
</p>

