<h1>369</h1>

<p>
    Avez-vous des Dents de Gobelins dans votre Sac à Dos ? Si oui, jetez-en sur le sol autant que vous voudrez et
    prononcez votre Formule. Vous perdrez 1 point d'ENDURANCE par Dent jetée. Un nuage de fumée s'élève aussitôt, et il
    apparaît autant de Gobelins que vous avez lancé de Dents. Vous pouvez leur ordonner à présent d'attaquer la
    Manticore (les Gobelins combattront l'un après l'autre).
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">MANTICORE 12</div>
    <div class="span2">1</div>
    <div class="span2">8</div>
</div>
<div class="row-fluid">
    <div class="span3">GOBELINS</div>
    <div class="span2">5</div>
    <div class="span2">5</div>
</div>

<p>
    Chaque fois que la Manticore blesse un Gobelin, lancez un dé. Si vous obtenez un 5 ou un 6 elle l'aura piqué avec
    sa redoutable queue de scorpion et le Gobelin mourra. Si vous obtenez un chiffre de 1 à 4, il s'agira d'un coup
    normal. Si vos Gobelins sont vainqueurs, rendez-vous au <chapter to="456"></chapter>. Si c'est la Manticore qui gagne,
    vous devrez l'affronter vous-même, soit avec votre arme (rendez-vous au <chapter to="227"></chapter>), soit en utilisant
    une autre Formule Magique (rendez-vous au <chapter to="420"></chapter>).
</p>

<p class="integrator">
    Dans cette version, il n'est pas tenu compte des blessures fatales infligées parla queue de scorpion.
</p>


<!-- TODO Manticore fatal tail strike -->