<h1>119</h1>

<p>
    Vous ouvrez la porte. A l'intérieur, la maisonnette est parfaitement rangée ; de toute évidence, c'est une femme
    maniaque de la propreté qui habite ici. Des chaises sont disposées autour d'une table et un matelas étalé dans un
    coin de la pièce ; un grand espace réservé à la cuisine indique que la propriétaire des lieux s'intéresse de près à
    la gastronomie. Soudain, vous entendez un cri provenant de derrière un placard, dans un coin de la maison. Vous vous
    approchez et vous découvrez une cage dans laquelle une jeune femme fort belle est enfermée. « S'il vous plaît,
    étranger, libérez-moi de cette cage, supplie-t-elle, il y a deux jours que de malfaisants Elvins m'ont enfermée ici.
    Aidez-moi, je vous en prie ». Si vous souhaitez lui porter secours, rendez-vous au <chapter to="4"></chapter> ; si vous voulez
    lui demander
    ce qu'elle vous donnera en échange, rendez-vous au <chapter to="78"></chapter> ; enfin, si vous préférez jeter un coup d'oeil
    dans la pièce
    pour voir s'il y a quelque chose d'intéressant à voler, rendez-vous au <chapter to="213"></chapter>.
</p>