<h1>170</h1>
<p>
    Le soulagement de n'être pas tombé dans la fosse est quelque peu prématuré. Un instant plus tard, en effet, votre
    pied heurte un petit levier dissimulé par terre et vous déclenchez ainsi un mécanisme secret qui fait jaillir devant
    vous trois piquets munis d'épieux acérés ; la pointe des épieux s'enfonce dans votre corps à hauteur de votre
    poitrine et vous vous retrouvez transpercé par ce piège diabolique qui met aussitôt un terme à votre voyage. Votre
    tête bientôt, rejoindra celles que vous avez vues accrochées à des poteaux...
</p>

<!--TODO Dead-->