<h1>274</h1>

<p>
    Vous débouchez la bouteille qui contient la potion et vous reniflez. Pouah&nbsp;!
    L'odeur acre du jus de Myrtibelle vous
    fait faire la grimace. La Myrtibelle est un fruit étrange que ni les hommes ni les animaux ne sont tentés de manger
    en raison de son odeur répugnante. On a découvert cependant qu'elle possédait des propriétés médicinales qui lui
    donnent un grand pouvoir de guérison. Vous pourrez boire cette potion quand bon vous semblera (sauf pendant un
    combat) et vous gagnerez ainsi 3 points d'ENDURANCE. Vous pouvez également l'utiliser pour certaines Formules
    Magiques. La bouteille contient une dose. Rendez-vous au <chapter to="126"></chapter>.
</p>

<p class="integrator">
    Dans cette version, il n'est pas possible de gagner 3pts d'endurance en buvant ce jus.
    Vous pouvez cependant les ajuster vous-même en utilisant le menu "Jeu"
    et en supprimant l'article de votre sac à dos.
</p>

<!-- TODO +3 si besoin -->