<h1>292</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous vous concentrez sur une grosse pierre qui se trouve dans un coin de la
    cabane.
    Sous leurs yeux, la pierre se transforme alors en un trésor étincelant. Bouche bée, ils contemplent les joyaux,
    l'or, l'argent et les pierres précieuses qui apparaissent devant eux, surgis de nulle part. L'air surexcité, ils se
    mettent à jacasser entre eux en faisant des signes de tête
    admiratifs, le sourire aux lèvres. L'un d'eux s'approche du trésor pour le toucher et, à ce moment, vous détruisez
    l'illusion. Impressionnés par ce tour de magie, les Elvins vous rendent aussitôt votre Sac à Dos et vous laissent
    quitter le village. Rendez-vous au <chapter to="196"></chapter>.
</p>
