<h1>389</h1>

<p>Vous perdez 5 points d'ENDURANCE. Cette Formule n'existe pas et, par conséquent, rien ne se passe. Vous vous baissez
    juste à temps pour éviter la redoutable queue de scorpion que la créature darde dans votre direction en essayant de
    vous piquer. Vous avez à présent le choix entre dégainer votre arme et combattre (rendez-vous au <chapter to="227"></chapter>)
    ou recourir à une autre Formule Magique (rendez-vous alors au <chapter to="364"></chapter>).</p>

<img src="img/sorcery/01/good_sun.gif"/>
