<h1>112</h1>

<p>
    Les petits hommes vous emportent comme un paquet et vous arrivez peu après au village des Chasseurs de Têtes. Une
    grande agitation se manifeste aussitôt ; une immense marmite remplie d'eau est posée au milieu d'un grand feu, ce
    qui constitue un très mauvais présage...
</p>

<img src="img/sorcery/01/pic112.jpg"/>
<p>
    Entre temps, on vous enferme dans une cage de bambou en vous laissant sous la surveillance d'un robuste guerrier. Si
    vous souhaitez demander l'aide de Libra, rendez-vous au <chapter to="25"></chapter>
    Si vous n'estimez pas utile de recourir
    aux pouvoir de la déesse - ou si vous n'en avez plus le droit - rendez-vous au <chapter to="242"></chapter>.
</p>
