<h1>257</h1>

<p>
    Vous pouvez prendre un repas chaud dans cette auberge ; il vous en coûtera 1 Pièce d'Or. Il est également possible
    d'acheter du pain et du fromage de chèvre à emporter ; en échange de 2 Pièces d'Or, vous pourrez en prendre une
    quantité équivalente à 2 repas.

    Si vous voulez vous asseoir et manger, rendez-vous au <chapter to="116"></chapter>.

    Si vous préférez <a ng-click="buyItemMultiple('item.food', 2, 2)">acheter des Provisions</a> à emporter,
    payez les 2 Pièces d'Or et rangez vos vivres dans votre Sac à Dos. Vous
    poursuivez ensuite votre chemin (que vous ayez ou non acheté des Provisions)
    en vous rendant au <chapter to="131"></chapter>.
</p>

<img src="img/sorcery/01/sword_oblique.gif"/>
