<h1>68</h1>

<p>
    Vous continuez d'avancer en montant le flanc de la colline. Cette ascension dure plusieurs heures au bout desquelles
    vous êtes presque arrivé au sommet. Vous entendez alors une rumeur diffuse qui semble révéler une grande agitation :
    trépignements, grognements, cliquetis de métal ; vous vous arrêtez et vous écoutez attentivement. Vous décidez de
    vous approcher de l'endroit d'où s'élève ce bruit et vous vous éloignez donc du chemin en progressant avec
    précaution à travers les arbres de la forêt. A quelque distance, vous apercevez une clairière et vous vous cachez
    derrière un tronc. Des GOBELINS sont rassemblés dans la clairière, devant l'entrée d'une grotte. Ils sont nombreux
    et actifs. Apparemment, ils travaillent dans une mine à laquelle on accède par cette grotte : vous les voyez en
    effet sortir des profondeurs en portant de grands récipients remplis de roches luisantes et de pépites de métal. De
    l'endroit où vous êtes, vous pouvez très facilement vous glisser dans la grotte pour voir si vous y trouverez
    quelque chose d'intéressant (rendez-vous pour cela au
    <chapter to="175"></chapter>) ; si vous préférez ne pas vous occuper de cette mine, vous pouvez la contourner et rejoindre un
    chemin qui mène tout droit puis descend le versant opposé de la colline (rendez-vous au <chapter to="13"></chapter>).
</p>
