<h1>156</h1>

<p>
    Vous quittez le chemin et vous vous enfoncez dans les broussailles avec l'intention de faire un large détour pour
    éviter le village. Vous avancez difficilement dans l'épaisse végétation ; les buissons et les herbes hautes
    ralentissent votre marche et des branches hérissées d'épines vous écorchent les jambes. Soudain, vous sentez une
    main puissante vous saisir le bras ; la main vous fait faire volte-face mais, lorsque vous vous retournez, vous ne
    voyez rien du tout ! Si vous souhaitez poursuivre votre chemin, rendez-vous au <chapter to="94"></chapter> ; si vous préférez
    vous préparer au combat contre cette présence invisible, rendez-vous au <chapter to="241"></chapter>.
</p>
