<h1>233</h1>

<p>
    Le regard du vieil homme s'illumine lorsque vous lui montrez la hache.
    &laquo;Où l'avez-vous trouvée ?&raquo; s'exclame-t-il.
    Vous lui racontez alors l'histoire et il vous prend la hache des mains, l'air ravi. Il déborde de reconnaissance et
    se déclare prêt à tout faire pour vous aider ; pour commencer, il vous offre une chope de bière qui vous rend 2
    points d'ENDURANCE. &laquo;Tout d'abord, dit-il, vous devriez faire un tour du côté des Chutes de Cristal ; il
    s'agit d'une cascade dont l'eau possède des vertus curatives particulièrement remarquables. Voici un laissez-passer
    qui vous permettra d'y aller sans payer &raquo;. (Souvenez-vous que vous n'aurez rien à débourser si vous vous y
    rendez). &laquo;Ensuite, reprend-il, lorsque vous quitterez Birritanti, vous devrez, pour atteindre Kharé, traverser
    le village de Torrepani. Torrepani est habité par des Svinns et il ne fait aucun doute que leur chef essayera de
    vous convaincre de l'aider à retrouver sa fille. Elle a été enlevée par des maraudeurs et abandonnée dans une grotte
    gardée par une Manticore sanguinaire. Une fois sorti de Torrepani, vous ne serez plus qu'à un jour de marche de
    Kharé. Pour tout vous dire, j'ai d'excellentes relations dans la ville et si vous rencontrez la moindre difficulté,
    il vous suffira d'appeler Vik ; c'est un de mes amis qui a là-bas beaucoup de pouvoir et d'influence.&raquo; Lorsque
    vous serez à Kharé, le nom de Vik vous sera parfois donné parmi des codes de Formules Magiques. Quand le cas se
    présentera, vous pourrez choisir de vous rendre au paragraphe correspondant à ce nom et profiter ainsi des relations
    de Glandragor. Enfin, Glandragor vous fait don d'une épée, solide, mais tout à fait ordinaire, que vous pourrez
    conserver comme arme de réserve. Votre hôte vous souhaite ensuite bonne chance et vous repartez. Cette heureuse
    rencontre vous fait gagner 3 points de CHANCE et vous pouvez à présent vous diriger vers les Chutes de Cristal
    (rendez-vous au <chapter to="102"/>) ou vers l'auberge (rendez-vous au <chapter to="92"></chapter>).
</p>

<img src="img/sorcery/01/bande.gif"/>
