<h1>111</h1>

<p>
    Il semble que le village soit livré aux réjouissances.
    &laquo;C'est la fête des jeunes, murmure Jann, une fois l'an,
    tous les enfants ont la liberté de faire ce qu'ils veulent dans le village. C'est le moment pour eux de s'amuser et
    de faire toutes les farces qu'ils ont en tête.&raquo;

    Vous apercevez bon nombre d'enfants assis dans la rue un peu
    plus loin ; ils sont en train de boire de la bière. Ils en boivent même un peu trop, à en juger par leurs éclats de
    rire à déchirer les tympans. Un jeune garçon tient une vieille dame penchée en avant et lui administre une
    vigoureuse fessée. D'autres garçons se battent devant une maisonnette dont l'enseigne indique : TAVERNE DE
    GLANDRAGOR. Des jeunes filles rassemblées près d'un poteau qui porte l'inscription LES CHUTES DE CRISTAL font des
    crocs-en-jambe aux passants en pouffant de rire.

    Si vous souhaitez vous rendre à l'auberge sans vous occuper de la
    fête, rendez-vous au <chapter to="92"/> ; si vous voulez entrer dans la taverne, rendez-vous au <chapter to="230"></chapter> ;
    si vous préférez vous diriger vers les Chutes de Cristal, rendez-vous au <chapter to="102"></chapter> ; enfin, s'il vous
    semble plus judicieux de quitter le village sans plus attendre, rendez-vous au <chapter to="21"></chapter>.
</p>
