<h1>265</h1>

<p>
    Epuisé par le combat, vous examinez le cadavre du Géant ainsi que la grotte qui lui servait de logis. Vous trouvez,
    attachée à sa ceinture, une bourse contenant 8 Pièces d'Or. Vous pouvez également vous emparer de n'importe quelle
    partie de son corps qui pourrait vous être utile. Vous découvrez dans la caverne une énorme miche
    de pain trop lourde pour que vous puissiez la transporter ; vous pouvez cependant en manger un morceau en vous
    rendant au <chapter to="284"/> ; sinon, rendez-vous au <chapter to="250"></chapter>.
</p>

<!-- TODO Grab a giant tooth? Disgusting -->