<h1>269</h1>

<p>
    Elle se met à hurler et un craquement sur votre gauche vous fait faire aussitôt volte-face, juste à temps pour voir
    un arbre osciller et tomber vers vous, son tronc coupé en deux.
    <a data-target="#test-luck" data-toggle="modal">Tentez votre Chance.</a> Si vous êtes Chanceux,
    vous parvenez à faire un bond de côté avant que l'arbre ne s'écrase à terre. Si vous êtes Malchanceux, le tronc
    s'abat sur votre tête et vous tue sur le coup, vous et votre petit compagnon. Si vous avez survécu, rendez-vous au
    <chapter to="276"></chapter>.
</p>
