<h1>27</h1>

<p>
    Une petite cabane de bois se trouve près du pont. Lorsque vous vous approchez, une petite créature bossue apparaît et
    vous barre le chemin en vous interdisant l'accès au pont.
</p>

<img src="img/sorcery/01/pic027.jpg"/>

<p>Elle s'adresse à vous d'une vois bourrue :</p>

<p>
    Halte-là, étranger, car nul ici ne passe<br>
    Sans répondre deux fois aux questions de Vancass.
</p>

<p>Le gardien du pont a des yeux sombres et son regard étincelle d'une manière inquiétante ; physiquement, il n'est
    certainement pas de taille à se mesurer à vous mais vous vous doutez qu'il doit bénéficier de pouvoirs magiques. Si
    vous souhaitez essayer de répondre à ses questions, rendez-vous au <chapter to="41"></chapter>, mais si vous préférez revenir
    sur vos pas et prendre l'autre sentier qui descend dans la vallée, rendez-vous au <chapter to="38"></chapter>.
</p>
