<h1>318</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule en pointant l'index vers le sol. Un éclair en jaillit en
    projetant tout autour de lui des mottes de terre. Lorsque la fumée se dissipe, vous constatez que l'éclair a creusé
    un trou aux contours certes irréguliers mais suffisamment grand et profond pour vous épargner une bonne part de
    travail. Vous pourrez bientôt vous coucher et dormir jusqu'à l'aube ; vous regagnerez ainsi les 3 points d'ENDURANCE
    que vous aurait coûtés une nuit blanche. Rendez-vous à présent au <chapter to="263"></chapter>.
</p>
