<h1>39</h1>

<p>
    La pièce est très grande ; de toute évidence, il doit s'agir d'une sorte d'entrepôt.
    Des roches noires sont entassées
    dans un coin et d'autres pierres emplissent un seau posé juste à côté. Ces pierres brillent faiblement à la lueur
    incertaine d'une chandelle. Au centre de la pièce se trouve une machine à la forme étrange, sans doute une presse ou
    un concasseur. Un OGRE énorme, d'une force visiblement peu commune, fait fonctionner l'appareil.
</p>

<img src="img/sorcery/01/pic039.jpg"/>

<p>
    Il remplit de pierres une espèce d'entonnoir, puis tourne une manivelle actionnant un mécanisme qui les casse en
    petits morceaux. A votre entrée, l'Ogre interrompt sa besogne et se tourne vers vous en poussant un grognement
    féroce. Si vous estimez prudent de quitter la pièce et de vous enfuir de la grotte, rendez-vous au
    <chapter to="144"/> ; si vous préférez affronter la créature, rendez-vous au <chapter to="285"></chapter>.
</p>
