<h1>95</h1>
<p>
    Vous poursuivez votre chemin hors de Cantopani, le long de la route qui mène aux collines de Shamutanti.
    Vous éprouvez cependant un sentiment de malaise lorsque vous passez devant les maisonnettes situées
    en bordure du village. Vous entendez des sifflets et vous apercevez plusieurs visages aux regards sournois
    qui vous observent avec hostilité; de toute évidence, vous n'êtes pas le bienvenu
    et vous n'êtes pas fâché de quitter cet endroit.
    A la sortie du village, vous arrivez devant un énorme rocher et, un instant plus tard,
    deux hommes à la mine patibulaire surgissent devant vous, chacun armé d'une épée.
    Ce sont des BANDITS. Ils exigent que vous leur donniez votre Sac à Dos.
    Si vous décidez de leur obéir, rendez-vous au <chapter to="261"></chapter>.
    Si vous refusez, vous allez devoir les combattre en vous rendant au <chapter to="104"></chapter>.
</p>

