<h1>243</h1>

<p>La vieille femme vous invite à entrer dans sa cabane et vous fait asseoir. </p>

<img src="img/sorcery/01/pic243.jpg"/>

<p>
    Elle vit seule dans ces bois et aime à ce que les voyageurs de passage lui tiennent compagnie. Elle vous a proposé
    quelque chose à boire et se dirige à pas menus vers la cuisine d'où elle revient quelques instants plus tard avec
    deux grandes tasses de thé et une troisième toute petite. Jann se montre quelque peu soupçonneux et vous fait part
    de sa méfiance. La vieille femme lui lance alors un regard noir en exprimant sans détour le dégoût que lui inspirent
    les Marmouscules. Elle a oublié d'apporter la théière et retourne dans la cuisine pour la chercher. Si vous le
    désirez, vous pouvez échanger votre tasse avec la sienne en vous rendant au <chapter to="48"></chapter> ; si vous préférez
    attendre qu'elle revienne et boire le contenu de la tasse qu'elle vous a destinée,
    rendez-vous au <chapter to="146"></chapter>.
</p>
