<h1>407</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule en pointant l'index sur le premier Gobelin. Un éclair
    jaillit aussitôt et vient frapper la créature en pleine poitrine, la tuant sur le coup.
</p>

<img src="img/sorcery/01/pic407.jpg"/>

<p>
    Les deux autres s'immobilisent en se demandant s'ils doivent continuer à vous attaquer.
    <a data-target="#chapter407-special" data-toggle="modal">
        Lancez 2 dés pour chacun des deux Gobelins.
    </a>
    Si le chiffre obtenu est égal ou supérieur au total d'HABILETÉ du
    Gobelin en question, celui-ci s'enfuira aussitôt dans les bois, abandonnant le combat.
    Sinon, il continuera de vous attaquer.
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">Deuxième GOBELIN</div>
    <div class="span2">6</div>
    <div class="span2">4</div>
</div>

<div class="row-fluid">
    <div class="span3">Troisième GOBELIN</div>
    <div class="span2">5</div>
    <div class="span2">5</div>
</div>

<p>
    <a data-target="#fight" data-toggle="modal"
       ng-click="startFight(407, 155)" ng-show="specialActions.ch407.mustFight">
        Si vous devez les combattre
    </a>
    <span ng-show="!specialActions.ch407.mustFight">Si vous devez les combattre</span>
    (l'un ou l'autre, ou les deux), rendez-vous au <chapter to="155"></chapter> en cas de victoire.
    S'ils s'enfuient tous deux, rendez-vous au <chapter to="202"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter407-special.html'"></div>