<h1>148</h1>

<p>
    <a data-target="#eat-yesterday" data-toggle="modal">
        Avez-vous mangé depuis que vous avez quitté hier l'Avant-Poste ?
    </a>

    Si ce n'est pas le cas, vous êtes affamé et vous
    perdez 3 points d'ENDURANCE. Vous poursuivez votre chemin et vous arrivez devant un pont de corde d'apparence
    précaire tendu entre deux rochers. Vous avez le choix entre continuer sur le sentier de ce côté-ci de l'eau
    (rendez-vous au <chapter to="209"></chapter>) ou traverser le pont
    et emprunter un chemin qui mène au sommet d'une petite
    colline (rendez-vous au <chapter to="19"></chapter>).
</p>
