<h1>74</h1>

<p>
    Vous vous approchez de la cabane et vous appelez, mais personne ne répond. Vous écartez alors les rideaux qui
    tiennent lieu de porte et vous entrez. De toute évidence quelqu'un habite ici, à en juger par la vaisselle et les
    vêtements qui traînent çà et là. Devant la cheminée est disposée une peau de bête à laquelle est restée attachée la
    tête de l'animal. Or cette tête ouvre un œil tandis que vous regardez autour de vous. Ce détail, cependant, vous a
    échappé, car vous tournez le dos à la cheminée. Vous ne voyez pas non plus la peau de bête se dresser et prendre la
    forme d'un CHIEN-LOUP. Ce n'est que lorsque l'animal se met à pousser des grognements menaçants que vous vous
    apercevez de sa présence. Il vous attaque aussitôt et il vous faut combattre :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>
<div class="row-fluid">
    <div class="span3">CHIEN-LOUP</div>
    <div class="span2">7</div>
    <div class="span2">6</div>
</div>

<p>
    Si vous êtes vainqueur, rendez-vous au <chapter to="50"></chapter>. Vous pouvez aussi affronter votre adversaire en faisant
    usage d'une Formule Magique :
</p>

<div class="row-fluid">
    <span class="span1">TUE</span>
    <span class="span1">WAF</span>
    <span class="span1">GOB</span>
    <span class="span1">ZAP</span>
    <span class="span1">SAC</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="315"></chapter></span>
    <span class="span1"><chapter to="402"></chapter></span>
    <span class="span1"><chapter to="425"></chapter></span>
    <span class="span1"><chapter to="335"></chapter></span>
    <span class="span1"><chapter to="440"></chapter></span>
</div>
