<h1>218</h1>

<p>
    <a data-target="#chapter218-special" data-toggle="modal">
        Ils s'emparent de votre Sac à Dos et fouillent dedans en vous volant les objets qui les intéressent.
    </a>
    Lorsqu'ils en
    ont terminé, ils vous laissent repartir. Pour savoir quels sont les objets qu'ils vous ont volés, procédez de la
    manière suivante : pour chacun des objets que vous possédiez, <i>Tentez votre Chance</i>. Lorsque vous serez
    Chanceux, l'objet en question ne les aura pas intéressés et restera donc en votre possession. Chaque fois que vous
    serez Malchanceux, l'objet aura été volé et il vous faudra le rayer de votre <i>Feuille d'Aventure</i>. Votre Or et
    vos Provisions représentent chacun un objet. En cette circonstance particulière, vous n'aurez pas à déduire de
    points de votre total de CHANCE en <i>Tentant votre Chance</i>. Dès qu'ils auront fini de piller vos biens, vous
    quitterez le village en vous rendant au <chapter to="196"></chapter>.
</p>

<p class="integrator">
    Chaque repas sera traité comme un objet individuel.
</p>

<div ng-include src="'partials/chapters/01/chapter218-special.html'"></div>