<h1>375</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et vous attendez qu'elle fasse son effet. L'Ogre bondit
    sur vous, mais soudain, il s'immobilise et hoche la tête : il se regarde lui-même, puis lève les yeux vers vous,
    l'air déconcerté. Il fait alors un pas en arrière, pousse un grognement puis refait un pas en avant ; de toute
    évidence, il est plongé dans la plus grande confusion. A présent, vous pouvez profiter de son état d'infériorité
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(375, 15)">pour le combattre</a>
    (il aura 4 points d'HABILETÉ et 7 points d'ENDURANCE) et si vous gagnez, vous vous rendrez au
    <chapter to="15"></chapter>.
    Vous avez également la possibilité de quitter les lieux sans combattre ; rendez-vous pour cela au
    <chapter to="144"></chapter>.
</p>
