<h1>161</h1>

<p>
    On s'apprête à servir le repas. Si vous souhaitez vous <a data-target="#chapter161-special" data-toggle="modal">asseoir et
    manger</a>, payez 2 Pièces d'Or et on vous apportera
    une assiette de ragoût d'Oursconse. Ce plat nourrissant vous fera gagner 3 points d'ENDURANCE. Tant que vous
    resterez dans l'auberge, vous n'aurez pas le droit de manger vos propres Provisions. Si vous voulez une chambre pour
    la nuit, payez les 3 Pièces d'Or qui sont demandées en échange. Le lit qu'on vous donne n'est pas d'une propreté
    irréprochable, mais il est confortable et une bonne nuit de sommeil vous fera gagner 5 points d'ENDURANCE. Si vous
    souhaitez manger sans prendre une chambre, rendez-vous au <chapter to="62"></chapter>. Si vous décidez de passer la nuit à
    l'auberge, rendez-vous au <chapter to="45"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter161-special.html'"></div>