<h1>227</h1>

<p>
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(227, 456)">
        Dégainez votre arme et battez-vous :
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">MANTICORE</div>
    <div class="span2">12</div>
    <div class="span2">18</div>
</div>

<p>
    Chaque fois que la créature vous infligera une blessure, lancez un dé. Si vous obtenez un 5 ou un 6, elle vous aura
    piqué avec sa queue de scorpion et vous perdrez alors 6 points d'ENDURANCE à moins que vous ne <i>Tentiez votre
    Chance</i> avec succès. Si vous êtes Chanceux, la blessure sera normale et vous n'aurez perdu que 2 points
    d'ENDURANCE ; si le chiffre obtenu au dé est de 1 à 4, le coup porté par votre adversaire vous fera simplement
    perdre les 2 points habituels d'ENDURANCE. En cas de victoire, rendez-vous au <chapter to="456"></chapter>.
</p>

<p class="integrator">
    La règle des blessures par la queue de scorpion n'est pas disponible, le combat se déroulera comme un combat
    ordinaire.
</p>

<img src="img/sorcery/01/bande.gif"/>

<!-- TODO Special attacks -->