<h1>299</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous du jus de Myrtibelle dans votre Sac à Dos ? Si ce n'est pas le cas,
    retournez au <chapter to="158"></chapter> et faites un autre choix. Si vous en avez, vous prononcez la Formule et vous
    aspergez les villageois à l'aide du liquide. Tout d'abord, ils ressentent des brûlures, mais bientôt, le pouvoir de
    guérison du fruit magique fait son effet. Ce village est ravagé par la peste et tous ses habitants sont atteints par
    le mal. Vous avez réussi cependant à guérir cette famille et tous trois se jettent à vos pieds pour vous remercier.
    Vous bavardez avec eux pendant quelques instants et ils vous donnent alors un avertissement dont il faudra tenir le
    plus grand compte : &laquo;Méfiez-vous du Lotus Noir&raquo;, disent-ils. Vous repartez quelques minutes plus tard
    en vous rendant au <chapter to="220"></chapter>.
</p>
