<h1>388</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Dent de Géant dans votre Sac à Dos ? Si ce n'est pas le cas, vous ne
    pourrez pas recourir à cette Formule et vous vous rendez au
    <chapter to="227"></chapter> pour vous défendre l'arme à la main. Si vous avez une Dent de Géant, vous la jetez sur le sol et
    vous prononcez la Formule. Un nuage de fumée s'élève aussitôt et un Géant apparaît. Vous lui ordonnez de combattre
    la Manticore et il se tourne à l'instant vers la créature stupéfaite.
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(388, 227)">
        Menez le combat :
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">MANTICORE</div>
    <div class="span2">12</div>
    <div class="span2">18</div>
</div>
<div class="row-fluid">
    <div class="span3">GEANT</div>
    <div class="span2">8</div>
    <div class="span2">9</div>
</div>

<p>Chaque fois que la Manticore frappera le Géant, vous lancerez un dé. Si vous obtenez un 5 ou un 6, elle aura
    réussi à le piquer avec sa queue de scorpion et il perdra 6 points d'ENDURANCE. Si vous obtenez un chiffre de 1
    à 4, le Géant aura reçu une blessure normale. Si le Géant gagne, rendez-vous au <chapter to="456"></chapter>. Si c'est la
    Manticore qui l'emporte, vous pourrez poursuivre le combat vous-même (rendez-vous au <chapter to="227"></chapter>) ou
    utiliser une autre Formule Magique pour essayer de la neutraliser (rendez-vous au <chapter to="420"></chapter>).
</p>
