<h1>360</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous de la Cire d'Abeille dans votre Sac à Dos ? Si ce n'est pas le cas, il
    vous est impossible d'utiliser cette Formule ; retournez au <chapter to="4"></chapter> et faites un autre choix. Si vous avez
    de la Cire, vous devrez en enduire votre arme pour augmenter son efficacité. Rendez-vous au <chapter to="142"></chapter> et
    essayez de fracasser la serrure. Vous aurez le droit d'ôter 2 points du chiffre obtenu aux dés lorsqu'il faudra
    comparer le résultat avec votre total d'HABILETÉ, et si vous parvenez à briser la serrure dès la première tentative,
    vous ne perdrez aucun point d'HABILETÉ.
</p>

<p class="integrator">
    Cette séquence n'est actuellement pas disponible; rendez-vous directement au <chapter to="142"></chapter>.
</p>

<img src="img/sorcery/01/bad_sun.gif"/>

    <!-- TODO Implement with 142 -->
