<h1>251</h1>

<p>
    La boîte est vide. Mais tandis que vous regardez à l'intérieur, une fumée s'en échappe et forme un nuage dans lequel
    se dessine peu à peu un visage maigre ressemblant à celui d'un Elfe. Médusé, vous contemplez cette apparition et la
    tête ouvre alors les yeux. Leur regard perçant vous pénètre au plus profond de vous-même et vous êtes incapable de
    faire un geste. &laquo;Etranger, dit la tête, tu veux te mesurer à des forces dont tu ignores tout. Je connais la
    nature de ta mission. Tu n'as aucune chance de réussir.&raquo; Si vous souhaitez recourir à la magie, vous avez le
    choix entre les Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">NUI</span>
    <span class="span1">MAG</span>
    <span class="span1">RIS</span>
    <span class="span1">BAL</span>
    <span class="span1">HOU</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="455"></chapter></span>
    <span class="span1"><chapter to="403"></chapter></span>
    <span class="span1"><chapter to="293"></chapter></span>
    <span class="span1"><chapter to="377"></chapter></span>
    <span class="span1"><chapter to="354"></chapter></span>
</div>

<p>Si vous préférez essayer de vous enfuir de cette pièce, rendez-vous au <chapter to="124"></chapter>.</p>
