<h1>26</h1>

<p>Vous suivez le passage de droite en avançant avec précaution. Vous marchez ainsi pendant quelques minutes, puis vous
    vous arrêtez ; un grondement sourd retentit à quelque distance. Vous attendez de voir ce qui va se passer ; le
    grondement devient de plus en plus sonore et vos cheveux se dressent sur votre tête lorsque vous voyez soudain
    surgir un énorme bloc de rocher, de forme sphérique, qui roule droit sur vous le long du passage. Il occupe toute la
    largeur du tunnel et sa vitesse augmente tandis que la panique vous gagne. Allez-vous recourir à la magie ? Vous
    avez le choix entre les Formules suivantes :</p>

<div class="row-fluid">
    <span class="span1">COL</span>
    <span class="span1">BAM</span>
    <span class="span1">MUR</span>
    <span class="span1">FIX</span>
    <span class="span1">SET</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="367"></chapter></span>
    <span class="span1"><chapter to="446"></chapter></span>
    <span class="span1"><chapter to="323"></chapter></span>
    <span class="span1"><chapter to="343"></chapter></span>
    <span class="span1"><chapter to="391"></chapter></span>
</div>

<p>Si vous préférez chercher un autre moyen de vous échapper, rendez-vous au <chapter to="83"></chapter>. Vous pouvez également
    appeler la déesse Libra à votre secours, si toutefois vous n'avez pas déjà demandé son aide au cours de cette
    aventure. Rendez-vous pour cela au <chapter to="53"></chapter>.</p>

<img src="img/sorcery/01/good_sun.gif"/>
