<h1>203</h1>

<p>Sentant que vous êtes prêt à combattre, la créature tire une épée de sa ceinture puis elle fond sur vous et vous
    donne un coup qui vous écorche le bras. Elle s'est déplacée à une vitesse fulgurante et, avant d'avoir compris ce
    qui s'était passé, vous perdez 1 point d'ENDURANCE. Vous pouvez à présent
    <a ng-click="startFight(203, 121)" data-toggle="modal" data-target="#fight">combattre ce petit ELVIN</a>, mais son
    extraordinaire rapidité lui donne un avantage sur vous et vous devrez lui ajouter 2 points chaque fois que vous
    lancerez les dés pour déterminer sa Force d'Attaque :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">ELVIN</div>
    <div class="span2">6</div>
    <div class="span2">4</div>
</div>

<p>Si vous êtes vainqueur, rendez-vous au <chapter to="121"></chapter>. Peut-être préférerez-vous affronter votre adversaire
    en ayant recours à la magie ? Dans ce cas, vous aurez le choix entre les Formules suivantes :</p>

<div class="row-fluid">
    <span class="span1">FEU</span>
    <span class="span1">ZEL</span>
    <span class="span1">ECU</span>
    <span class="span1">GRO</span>
    <span class="span1">INV</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="405"></chapter></span>
    <span class="span1"><chapter to="294"></chapter></span>
    <span class="span1"><chapter to="441"></chapter></span>
    <span class="span1"><chapter to="356"></chapter></span>
    <span class="span1"><chapter to="378"></chapter></span>
</div>
