<h1>317</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Dès que vous avez prononcé la Formule, la créature semble sombrer dans la plus
    grande confusion. Elle fait un pas en avant et donne un coup de pied dans la hampe de la hallebarde qui lui échappe
    des mains sous le choc. Le Troll pousse un juron, ramasse son arme puis la laisse tomber à nouveau.

    <a data-toggle="modal" data-target="#fight" ng-click="startFight(317, 177)">
        Vous pouvez maintenant passer à l'attaque.
    </a>

    Tant qu'il reste sous l'effet de la Formule Magique, le Troll combattra avec un total
    d'HABILETÉ inférieur à la normale :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">SENTINELLE TROLL</div>
    <div class="span2">4</div>
    <div class="span2">7</div>
</div>

<p>
    Les effets de la Formule dureront pendant 4 Assauts, puis disparaîtront. Une fois les quatre premiers Assauts
    terminés, vous devrez, avant chaque Assaut ultérieur, lancer un dé : si vous obtenez un chiffre impair, le Troll
    n'aura pas réussi à ramasser sa hallebarde et son total d'HABILETÉ restera à 4 ; si vous obtenez un chiffre pair, il
    sera parvenu à se saisir de son arme et son total d'HABILETÉ sera alors de 8. Si vous êtes vainqueur, rendez-vous au
    <chapter to="177"></chapter>.
</p>
