<h1>261</h1>

<p>
    Vous faites glisser le Sac à Dos de vos épaules et l'un des Bandits s'en empare tandis que l'autre se précipite sur
    vous et vous frappe avec le pommeau de son épée. A moitié assommé, vous vous écroulez sur le sol et les Bandits
    prennent la fuite avec tous vos biens. Vous perdez 2 points d'ENDURANCE. A présent, vous avez perdu tout ce que vous
    transportiez dans votre Sac à Dos, y compris votre Or et vos Provisions&nbsp;; il vous reste votre arme, cependant.
    Reprenant peu à peu vos esprits, vous poursuivez votre chemin en vous rendant au <chapter to="131"></chapter>.
</p>