<h1>102</h1>

<p>
    Vous suivez un sentier qui monte jusqu'à une chute d'eau. Là, dans une petite cabane, un homme aux allures de voyou
    encaisse de l'argent. Apparemment, il faut payer 3 Pièces d'Or pour visiter l'endroit. La vue est magnifique, des
    stalactites de cristal pendent des rochers alentour et vous aurez peut-être envie de payer les 3 Pièces d'Or pour
    pouvoir admirer les lieux ; rendez-vous pour cela au <chapter to="204"></chapter>. Si vous préférez retourner au village et
    aller à l'auberge, rendez-vous au <chapter to="92"></chapter>. Enfin, si vous souhaitez plutôt poursuivre votre chemin,
    rendez-vous au <chapter to="21"></chapter>.
</p>
