<h1>207</h1>

<p>
    Vous entrez dans la grotte et vous entendez alors un sifflement lointain qui devient de plus en plus sonore à mesure
    que vous avancez. Vous pénétrez plus profondément dans la grotte et soudain, vous trébuchez ; perdant l'équilibre,
    vous tombez par terre et le sifflement s'interrompt aussitôt. Vous vous rendez compte à ce moment que vous avez
    heurté le pied énorme d'un GEANT allongé en travers du passage ; le monstre dormait, produisant dans son sommeil le
    sifflement que vous entendiez, et vous venez de le réveiller. Le Géant se frotte les yeux puis il vous aperçoit ;
    aussitôt, il saisit une massue et se lève d'un mouvement lent.
</p>

<img src="img/sorcery/01/pic207.jpg"/>

<p>
    Vous allez devoir le <a ng-click="startFight(207, 265)" data-toggle="modal" data-target="#fight">combattre</a>,
    soit avec votre arme :</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">GEANT DES COLLINES</div>
    <div class="span2">9</div>
    <div class="span2">11</div>
</div>

<p>(si vous êtes vainqueur, rendez-vous au <chapter to="265"></chapter>), soit à l'aide de la magie :</p>

<div class="row-fluid">
    <span class="span1">TUE</span>
    <span class="span1">GRO</span>
    <span class="span1">INV</span>
    <span class="span1">OGR</span>
    <span class="span1">MOU</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="430"></chapter></span>
    <span class="span1"><chapter to="411"></chapter></span>
    <span class="span1"><chapter to="384"></chapter></span>
    <span class="span1"><chapter to="361"></chapter></span>
    <span class="span1"><chapter to="338"></chapter></span>
</div>
