<h1>92</h1>

<p>
    Les prix pratiqués dans cette auberge sont loin d'être bon marché. Un lit pour la nuit coûte 5 Pièces d'Or et un
    repas 4 Pièces.

    Si vous voulez manger, payez le prix demandé, et augmentez de
    <a ng-click="payAndGain(4, 2)">2 points</a> votre total d'ENDURANCE (vous ne gagnerez qu'
    <a ng-click="payAndGain(4, 2)">un seul point</a>
    si vous avez déjà pris un repas aujourd'hui).

    Si vous voulez passer la nuit ici, rendez-vous au <chapter to="55"></chapter>.
    Dans le cas contraire, il vous faut quitter le village et trouver un endroit où établir
    votre campement (rendez-vous pour cela au <chapter to="21"></chapter>).
</p>
