<h1>178</h1>
<p>
    Le sentier traverse des étendues de broussailles.
    Le paysage est désert et un silence inquiétant règne alentour troublé parfois par le croassement d'un corbeau.
    Les oiseaux qui volent dans le ciel semblent vous examiner en passant près de vous
    et leur présence vous met mal à l'aise. Vous parvenez au sommet d'une butte et vous apercevez un peu plus loin,
    au pied des collines de Shamutanti, un petit village constitué d'un rassemblement de cabanes.
    Vous vous en approchez en suivant le sentier et vous percevez les signes d'une agitation
    qui vous indique que l'endroit est habité.
</p>
<p>
    Le chemin traverse le village et vous n'avez guère d'autre choix que de continuer tout droit.
    Les murs des cabanes sont en argile et leurs toits en chaume.
    Lorsque vous passez devant les huttes, des yeux vous observent dans l'obscurité des portes d'entrée,
    surveillant vos mouvements. Soudain, un villageois sort de l'une des maisons et vient à votre rencontre.
    Il mesure un mètre cinquante environ ses bras sont épais et musculeux et il porte des pantalons en lambeaux.
    Il a le regard ardent, de longs cheveux roux et son visage est caché sous une barbe broussailleuse.
    «Halte, étranger! lance-t-il, que venez-vous faire à Cantopani?»
</p>
<p>
    Qu'allez-vous répondre?
</p>
<p>
    Que vous êtes un marchand? Rendez-vous au <chapter to="264"></chapter>
</p>
<p>
    Que vous cherchez votre chemin? Rendez-vous au <chapter to="33"></chapter>
</p>
<p>
    Que vous avez faim et que vous avez besoin de Provisions? Rendez-vous au <chapter to="198"></chapter>
</p>