<h1>367</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous un Pot de Colle dans votre Sac à Dos ? Si ce n'est pas le cas, vous allez
    devoir songer à un autre moyen de vous tirer d'affaire (rendez-vous au <chapter to="83"></chapter>). Si vous avez de la Colle,
    prononcez la Formule et jetez votre Pot sur le sol, juste devant le rocher. Le front en sueur, vous poussez un
    soupir de soulagement lorsque vous voyez la masse rocheuse s'arrêter net, prise par la Colle. Tous les souterrains
    vibrent sous l'effet de l'énorme masse ainsi immobilisée dans son élan. Vous pouvez à présent retourner à la
    bifurcation et prendre l'autre passage (rendez-vous au <chapter to="63"></chapter>) ou revenir dans la grande caverne et
    emprunter l'autre tunnel (rendez-vous au <chapter to="16"></chapter>).
</p>

<img src="img/sorcery/01/serpent_bigger.gif"/>
