<h1>321</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule, mais rien ne se passe. Le Marmouscule vous conseille
    alors de ne pas gaspiller votre énergie à prononcer des Formules Magiques lorsqu'il se trouve dans les parages. Il a
    en effet le pouvoir de neutraliser toute forme de sorcellerie. Si vous souhaitez poursuivre dans la même direction,
    rendez-vous au <chapter to="73"></chapter>. Si vous préférez revenir sur vos pas et prendre l'autre chemin,
    rendez-vous au <chapter to="51"></chapter>.
</p>

<img src="img/sorcery/01/moon.gif"/>
