<h1>411</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et vous attendez. Lentement, le sol s'éloigne de vous :
    vous êtes en train de grandir ! Le Géant des Collines vous observe d'un air incrédule tandis que votre taille
    augmente à vue d'oeil.
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(411, 265)">
        Vous pouvez à présent combattre le Géant&nbsp;:
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">GEANT DES COLLINES</div>
    <div class="span2">9</div>
    <div class="span2">11</div>
</div>

<p>
    Tant que les effets de la Formule se prolongeront, votre total d'HABILETÉ doublera. A l'issue du combat vous
    retrouverez vos points habituels. Si vous êtes vainqueur, rendez-vous au <chapter to="265"></chapter>.
</p>
