<h1>191</h1>

<p>
    Vous bavardez avec lui pendant un moment. Quand vous lui dites que vous vous dirigez vers la ville de Kharé, il vous
    apprend que vous allez devoir traverser un village du nom de Torrepani ; le village est habité par des Svinns qui
    connaissent ces temps-ci une période de grande morosité. A partir de Torrepani, il vous faudra un jour de marche
    pour rejoindre Kharé et le chemin ne sera pas trop difficile puisqu'il descend des collines. La bière vous fait
    gagner 2 points d'ENDURANCE et les renseignements que vous donne votre interlocuteur vous permettent d'augmenter
    d'un point votre total de CHANCE. Jann le Marmouscule a bu un peu de votre bière et il est ivre à présent. Vous
    essayez de vous éclipser discrètement, soit en allant à l'auberge (rendez-vous au <chapter to="92"></chapter>), soit en
    quittant le village (rendez-vous au <chapter to="21"></chapter>), mais vous ne parvenez pas à semer la petite créature.
</p>
