<h1>420</h1>

<p>
    Si vous n'avez plus assez de points d'ENDURANCE pour vous permettre de prononcer une Formule Magique, vous pouvez
    vous rendre au
    <chapter to="227"></chapter> et combattre la créature l'arme à la main. Si vous avez suffisamment de ressources pour recourir
    à la magie, vous avez le choix entre les Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">ZIP</span>
    <span class="span1">NET</span>
    <span class="span1">FIN</span>
    <span class="span1">MUR</span>
    <span class="span1">SUD</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="347"></chapter></span>
    <span class="span1"><chapter to="326"></chapter></span>
    <span class="span1"><chapter to="436"></chapter></span>
    <span class="span1"><chapter to="447"></chapter></span>
    <span class="span1"><chapter to="370"></chapter></span>
</div>

<img src="img/sorcery/01/deathbird.gif"/>
