<h1>21</h1>

<p>Vous trouvez un endroit tranquille pour vous reposer, à l'écart du village, et vous profitez d'une bonne nuit de
    sommeil, loin de l'agitation de la fête des jeunes. Le Marmouscule se pelotonne auprès de vous.
    <a data-target="#eat-special" data-toggle="modal">Vous pouvez prendre un repas</a>
    avant de vous endormir et gagner ainsi 2 points d'ENDURANCE (un seul si vous avez déjà mangé). Votre nuit
    de repos vous rend 3 autres points d'ENDURANCE. Rendez-vous à présent au <chapter to="67"></chapter>.
</p>
