<h1>110</h1>

<p>
    Vous vous relevez et vous jetez un coup d'oeil autour de vous.
    Un rayon de lumière pénètre dans la fosse et vous êtes
    soulagé de découvrir un passage qui mène au-dehors. Vous sentez sous votre main quelque chose de soyeux ; tout
    d'abord, vous pensez qu'il s'agit d'un animal, mais vous vous apercevez bientôt que c'est en réalité une botte
    couverte de poussière. Un peu plus loin, vous découvrez une deuxième botte ; vous les époussetez toutes les deux et
    vous les rangez dans votre Sac à Dos. Vous possédez ainsi une paire de bottes en fourrure de Gascal. Vous suivez
    alors le passage et vous sortez peu après de la mine en vous retrouvant dans la forêt, sur un chemin qui descend le
    flanc de la colline. Rendez-vous au <chapter to="202"></chapter>.
</p>
