<h1>96</h1>

<p>
    Vous vous asseyez et le jeune homme se tourne vers vous d'un air intéressé. Votre présence dans la taverne est
    désormais admise par les autres clients qui se sont remis à boire et à bavarder. Vous interrogez alors le jeune
    homme pour essayer d'en apprendre plus sur le village. Aussitôt, son expression devient grave ; il vous regarde d'un
    air mécontent puis vous lance : &laquo;Lépabogayopabo !&raquo;. Vous lui demandez ce qu'il entend par là, mais il
    reste silencieux. L'air toujours maussade, il penche la tête en avant. Vous essayez d'engager la conversation d'une
    autre manière et, soudain, il se redresse puis se met à vous parler de sa grand-mère. Il ne vous faut guère
    longtemps pour vous rendre compte qu'il s'agit à l'évidence de l'idiot du coin, ivre mort par surcroît. Au bout
    d'une heure, vous quittez la taverne ; vous pouvez à présent chercher une auberge pour passer la nuit (rendez-vous
    au <chapter to="211"/>) ou quitter le village pour aller dormir à la belle étoile (rendez-vous au <chapter to="62"></chapter>).
</p>
