<h1>165</h1>

<p>
    Vous pouvez essayer de tuer tous les serpents qui grouillent au fond de la fosse à l'aide de votre arme.
    <a data-target="#chapter165-special" data-toggle="modal">
        <i>Tentez votre Chance</i>. Si vous êtes Chanceux, <i>Tentez votre Chance</i> une nouvelle fois.
        Vous devrez continuer ainsi jusqu'à ce que vous soyez Chanceux trois fois de suite.
        Chaque fois que vous serez Malchanceux, un serpent vous mordra en vous faisant perdre 3 points d'ENDURANCE.
        Si vous êtes Chanceux trois fois de suite,
    </a>
    vous parvenez à tuer tous les serpents et vous vous rendez alors au <chapter to="206"></chapter>.
</p>

<div ng-include src="'partials/chapters/01/chapter165-special.html'"></div>