<h1>80</h1>

<p>
    Vous entrez dans le village avec prudence, en avançant silencieusement parmi les huttes, mais l'endroit semble
    désert. Un feu brûle dans une fosse creusée au centre du cercle formé par les cabanes et des bûches sont entassées
    juste à côté. Si vous souhaitez examiner les huttes de plus près, rendez-vous au <chapter to="189"></chapter> ; si vous
    préférez appeler pour essayer d'attirer l'attention de quelqu'un, rendez-vous au <chapter to="42"></chapter>.
</p>

<img src="img/sorcery/01/bande.gif"/>
