<h1>160</h1>

<p>
    Vous adressez une prière à votre déesse et bientôt, dans le fracas du plafond qui s'écroule, vous entendez un
    craquement sonore : la porte s'ouvre lentement. Lorsque vous avez la place de passer, vous vous glissez dans
    l'entrebâillement au moment précis où les parois du tunnel s'effondrent derrière vous dans un grand vacarme. Vous
    retournez à présent à la bifurcation en vous rendant au <chapter to="120"></chapter>. Vous avez donc fait appel à Libra ; vous
    n'aviez le droit de recourir à elle qu'une seule fois au cours de votre aventure dans les collines de Shamutanti et,
    si vous l'implorez à nouveau, elle restera sourde à vos prières (cela signifie que vous n'aurez plus le droit de
    choisir cette possibilité lorsqu'elle vous sera offerte). Vous ne pourrez à nouveau compter sur les pouvoirs de la
    déesse que lorsque vous serez arrivé à Kharé, la Cité des Pièges. En attendant, vous êtes seul !
</p>
