<h1>426</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Le Serpent est prêt à vous attaquer, mais il attend que vous fassiez le premier
    geste. Un sentiment de paix se répand alors en vous tandis que vous observez la créature. Vous vous détendez et le
    Serpent soudain disparaît à nouveau, mais vous pourriez jurer qu'il vous a adressé un clin d'œil avant de redevenir
    invisible. Une nouvelle fois, vous sentez la pression d'une main sur votre bras et une force semble vous faire
    avancer. Vous décidez de poursuivre votre chemin. Rendez-vous au <chapter to="94"></chapter>.
</p>

<img src="img/sorcery/01/bande.gif"/>
