<h1>230</h1>

<p>
    Vous entrez dans la taverne et vous appelez le patron. Glandragor apparaît et vient vous saluer. C'est un homme
    charmant qui est toujours heureux de pouvoir parler à des étrangers. Mais c'est aussi un commerçant et une chope de
    bière dans son établissement vous coûtera 2 Pièces d'Or. Si vous souhaitez payer ce prix, boire votre bière et vous
    entretenir avec lui, rendez-vous au <chapter to="191"></chapter> ; si vous avez quelque chose pour lui, rendez-vous au
    <chapter to="182"></chapter> ; si vous n'avez rien à lui donner et que vos moyens ne vous permettent pas de vous offrir
    une bière, rendez-vous au <chapter to="92"></chapter>.
</p>

<img src="img/sorcery/01/flower.gif"/>
