<h1>276</h1>

<p>
    Tandis que vous reprenez vos esprits, la vieille femme apparaît soudain devant vous. &laquo;On ne refuse jamais une
    invitation de Louche Lune&raquo;, lance-t-elle en pointant l'index sur vous. Dans un craquement soudain, un éclair
    en jaillit. Si vous souhaitez vous défendre en ayant recours à la magie, vous avez le choix entre les Formules
    suivantes :
</p>

<div class="row-fluid">
    <span class="span1">ZIP</span>
    <span class="span1">COL</span>
    <span class="span1">LAM</span>
    <span class="span1">FIG</span>
    <span class="span1">DEV</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="322"></chapter></span>
    <span class="span1"><chapter to="434"></chapter></span>
    <span class="span1"><chapter to="418"></chapter></span>
    <span class="span1"><chapter to="304"></chapter></span>
    <span class="span1"><chapter to="392"></chapter></span>
</div>

<p>
    Si vous ne connaissez aucune de ces Formules, ou si vous n'êtes qu'un simple Guerrier, l'éclair vous frappe de plein
    fouet et un instant plus tard, il ne reste plus de vous qu'un petit tas de cendres. Il ne fait pas bon mépriser la
    sorcière Louche Lune...
</p>
