<h1>41</h1>

<p>Le Bossu émet un petit rire satisfait et vous pose sa première question :</p>

<i>
    Au cœur d'une forêt où elle est prisonnière <br>
    Vit une étrange dame ; elle est, dit-on, sorcière ;<br>
    Si tu connais le nom de cette fine mouche,<br>
    Je veux tout aussitôt l'entendre de ta bouche.</i>
</p>

<p>Qu'allez-vous répondre ?</p>

<p>
    Allina ? Rendez-vous au <chapter to="238"></chapter><br>
    Allanna ? Rendez-vous au <chapter to="253"></chapter><br>
    Alianna ? Rendez-vous au <chapter to="143"></chapter>
</p>

<p>
    Si vous ignorez son nom, vous pouvez <a data-target="#test-luck" data-toggle="modal"><i>Tenter votre Chance</i></a>.
    Si vous êtes Chanceux, vous aurez le droit d'essayer
    de deviner la bonne réponse en choisissant un des trois noms. Si vous êtes Malchanceux, ou si vous ne souhaitez pas
    <i>Tenter votre Chance</i>, rendez-vous au <chapter to="59"></chapter>.
</p>
