<h1>384</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Vous prononcez la Formule et vous attendez, mais rien ne se passe. Il vous est
    impossible de recourir à cette Formule, car vous ne possédez pas l'Anneau de Perles qu'elle nécessite. Le Géant des
    Collines vous observe un instant, puis il brandit sa massue et parvient à vous donner un coup dans les côtes bien
    que vous ayez fait un bond en arrière pour l'éviter. Vous perdez 2 points d'ENDURANCE et vous vous rendez au
    <chapter to="256"></chapter>.
</p>
