<h1>154</h1>

<p>

    Un peu plus loin sur le sentier, vous découvrez une hutte d'un aspect peu habituel. Elle est située au milieu
    d'arbres dont les feuillages présentent toutes les nuances du vert. Des fleurs ornent les murs de la bâtisse et sa
    porte est décorée de motifs contournés. Vous vous approchez de la porte et vous frappez, mais personne ne vous
    répond. Si vous souhaitez entrer dans la maison, rendez-vous au <chapter to="119"></chapter>, si vous préférez repartir,
    rendez-vous au <chapter to="278"></chapter>.
</p>