<h1>325</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. La créature fait demi-tour et s'apprête à vous frapper de sa redoutable queue de
    scorpion. Mais lorsque vous prononcez la Formule, le monstre s'immobilise un bref instant et secoue la tête comme si
    quelque chose venait de le frapper. Ses mouvements deviennent lents et c'est le moment pour vous de passer à
    l'attaque, soit en utilisant votre arme (rendez-vous au <chapter to="227"></chapter>), soit en ayant recours à une nouvelle
    Formule Magique (rendez-vous au <chapter to="364"></chapter>). Si vous choisissez de combattre la créature l'arme à la main,
    vous réduirez de moitié son total d'HABILETÉ au cours des 4 premiers Assauts ; ensuite, les effets de la Formule
    prendront fin et le monstre retrouvera ses points d'HABILETÉ habituels.
</p>
