<h1>235</h1>

<p>
    Elle vous ordonne à grands cris de revenir sur vos pas ; elle semble indignée que vous soyez passé devant elle sans
    lui prêter attention et elle vous avertit que vous aurez à vous repentir si vous poursuivez votre chemin. Jann est
    curieux de savoir ce qu'elle veut et vous conseille de vous approcher d'elle. Si vous souhaitez changer d'avis et
    répondre à son invitation, rendez-vous au <chapter to="243"></chapter>. Si vous préférez continuer sans vous préoccuper de la
    vieille femme, rendez-vous au <chapter to="269"></chapter>.
</p>
