<h1>66</h1>

<p>
    La porte est fermée à clé ; sans doute est-elle équipée d'un système qui ne permet de l'ouvrir que dans un seul sens
    afin de protéger les parties supérieures de la mine des conséquences d'une éventuelle catastrophe (dans ce cas, les
    mineurs seraient pris au piège mais, après tout, la vie d'un Gobelin ne vaut pas grand-chose...) Il n'y a pas
    d'autre issue autour de vous et il ne vous reste plus qu'à essayer de défoncer la porte (en vous rendant au
    <chapter to="228"></chapter>), à moins que vous ne préfériez utiliser une Formule Magique pour tenter de l'ouvrir :
</p>

<div class="row-fluid">
    <span class="span1">VEN</span>
    <span class="span1">UBI</span>
    <span class="span1">BLE</span>
    <span class="span1">CLE</span>
    <span class="span1">DOM</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="329"></chapter></span>
    <span class="span1"><chapter to="423"></chapter></span>
    <span class="span1"><chapter to="310"></chapter></span>
    <span class="span1"><chapter to="373"></chapter></span>
    <span class="span1"><chapter to="350"></chapter></span>
</div>
