<h1>268</h1>

<p>La porte est fermée à clé. Vous pouvez essayer de l'enfoncer en vous rendant au <chapter to="93"></chapter> ; si vous préférez
    recourir à une Formule Magique pour tenter de l'ouvrir, voici le choix qui vous est offert :
</p>

<div class="row-fluid">
    <span class="span1">DOM</span>
    <span class="span1">POI</span>
    <span class="span1">VEN</span>
    <span class="span1">UBI</span>
    <span class="span1">CLE</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="351"></chapter></span>
    <span class="span1"><chapter to="311"></chapter></span>
    <span class="span1"><chapter to="374"></chapter></span>
    <span class="span1"><chapter to="449"></chapter></span>
    <span class="span1"><chapter to="291"></chapter></span>
</div>

<img src="img/sorcery/01/bande.gif"/>
