<h1>441</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Pièce d'Or ? Si ce n'est pas le cas, vous ne pouvez utiliser cette
    Formule et le petit Elvin fond une nouvelle fois sur vous en vous infligeant une deuxième blessure qui vous coûte
    encore 2 points d'ENDURANCE. (retournez au <chapter to="203"></chapter> et choisissez à nouveau).

    Si vous avez une Pièce, vous
    la posez sur votre poignet et vous prononcez la Formule. Un bouclier invisible se forme aussitôt autour de votre
    bras et vous assure une protection efficace. Retournez au <chapter to="203"></chapter> et combattez le petit Elvin, mais en
    ôtant 2 points de sa Force d'Attaque à chaque fois que vous lancerez un Assaut contre lui ; votre bouclier vous
    donne ainsi un avantage. Lorsque le combat sera terminé, la Pièce d'Or aura perdu toute valeur, il ne vous restera
    plus qu'à la jeter.
</p>
