<h1>409</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule en vous concentrant sur la serrure qui produit bientôt
    un cliquetis indiquant que le mécanisme s'est mis en mouvement. Quelques instants plus tard, le pêne glisse hors de
    la gâche et vous parvenez à ouvrir la porte de la cage. La femme enfermée à l'intérieur vous remercie
    chaleureusement et se déclare prête à vous donner une juste récompense. Si vous souhaitez qu'elle vous offre un
    objet qui vous sera utile dans le recours à certaines Formules Magiques, rendez-vous au <chapter to="248"></chapter>. Si vous
    préférez un objet qui vous aidera à mieux combattre, rendez-vous au <chapter to="122"></chapter>.
</p>