<h1>400</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Pièce d'Or ? Si ce n'est pas le cas, l'Ogre bondit sur vous et vous
    attaque tandis que vous vous efforcez en vain de prononcer la Formule. Le coup qu'il vous porte vous fait perdre 2
    points d'ENDURANCE et vous retournez au <chapter to="285"></chapter>.

    Si vous avez une Pièce d'Or, vous la posez sur votre
    poignet et vous prononcez la Formule. Un bouclier invisible se forme aussitôt autour de la pièce et vous pouvez à
    présent combattre l'Ogre en bénéficiant d'une protection efficace.

    Retournez au <chapter to="285"></chapter> et affrontez
    votre adversaire, mais chaque fois que vous lancerez un Assaut, vous aurez le droit de réduire de 2 points sa Force
    d'Attaque, grâce à la protection de votre bouclier. Lorsque le combat sera terminé, la Pièce d'Or ne vous sera plus
    d'aucun usage : elle se sera transformée en un morceau de métal sans valeur.
</p>
