<h1>258</h1>

<p>
    Vous ouvrez le couvercle de la boîte et vous faites aussitôt un bond en arrière : à l'intérieur se trouvent 5 Pièces
    d'Or et une clé, mais elles sont gardées par un redoutable SCORPION. Si vous le désirez, vous pouvez essayer de
    saisir les <a data-target="#chapter258-special" data-toggle="modal">Pièces d'Or ou la clé</a>,
    mais vous ne pourrez prendre qu'un seul objet à la fois (chaque Pièce d'Or comptant pour un objet).

    Chaque fois que vous essaierez de prendre quelque chose dans la boîte,
    vous devrez <i>Tenter votre Chance</i>. Si vous êtes Chanceux, vous parviendrez à vous emparer de l'objet choisi,
    mais si vous êtes Malchanceux, vous serez piqué par le Scorpion et vous perdrez la <i>moitié</i> de vos points
    d'ENDURANCE (si votre total d'ENDURANCE est un nombre impair, vous devrez arrondir au chiffre inférieur).

    Lorsque vous en aurez terminé avec le contenu de cette boîte, rendez-vous au <chapter to="199"></chapter>
    si vous avez réussi à prendre la clé. Si vous préférez vous intéresser à l'autre boîte,
    rendez-vous au <chapter to="251"/> ; vous pouvez également quitter le village en vous rendant au <chapter to="196"></chapter>.
</p>

<p class="integrator">
    Dans la version actuelle, vous ne pouvez que tenter d'obtenir la clé.
</p>

<div ng-include src="'partials/chapters/01/chapter258-special.html'"></div>
