<h1>216</h1>

<p>
    Ces créatures sont des ELVINS, de petits êtres à moitié humains, réputés pour leur espièglerie. Ils habitent un
    village un peu plus loin, en amont de la rivière, et passent le plus clair de leur temps à faire toutes sortes de
    farces. Les Elvins ont la faculté d'éteindre ou d'allumer à leur guise le halo de lumière qui les entoure. Ils
    peuvent ainsi disparaître à volonté puis, tandis que vous les cherchez, reparaître soudain devant vous pour vous
    faire sursauter. Un de leurs tours préférés consiste à se fondre dans l'obscurité et à se laisser tomber à vos pieds
    : ils vous font ainsi trébucher et vous vous retrouvez par terre pour leur plus grand plaisir. Bien entendu, la
    farce vous semblera beaucoup moins drôle qu'à eux, mais vous parviendrez malgré tout à conserver votre calme. Leurs
    petits jeux dureront une heure environ puis ils s'en fatigueront et disparaîtront dans les bois. Vous attendrez en
    vain qu'ils se montrent à nouveau, mais ils vous auront oublié et il sera temps alors de trouver un abri pour passer
    la nuit. Lorsque l'aube se lèvera, vous reprendrez votre marche en vous rendant au <chapter to="148"></chapter>.
</p>
