<h1>204</h1>

<p>
    L'homme prend les 3 Pièces d'Or que vous lui donnez et vous tend un morceau d'étoffe que vous utiliserez comme
    serviette. Vous vous déshabillez et vous vous baignez dans l'eau de la cascade en compagnie de deux autres
    villageois et, bien entendu, de Jann le Marmouscule. L'eau vous rafraîchit, mais elle est aussi revigorante et vous
    sentez une énergie bienfaisante rayonner dans votre corps. Cette chute d'eau a des vertus curatives et vos blessures
    s'en trouvent guéries : vos points d'HABILETÉ, d'ENDURANCE et de CHANCE retrouvent aussitôt leur niveau
    <i>initial</i>, tel qu'il était au début de votre aventure. L'eau vous guérira également de toutes les maladies que
    vous auriez pu attraper (mais pas des malédictions qui pèsent éventuellement sur vous). Vous retournez à présent au
    village où vous trouvez facilement l'auberge. Rendez-vous au <chapter to="92"></chapter>.
</p>

<img src="img/sorcery/01/moon.gif"/>

<p class="integrator">Les maladies et malédictions ne sont pas prise en compte dans cette version.</p>

<!-- TODO Cure disease... but not curses -->
