<h1>280</h1>
<p>
    Si vous n'avez examiné qu'un ou deux des objets qu'il vous propose,
    vous pouvez en choisir un autre dans la liste ci-dessous.
    Mais si vous avez déjà examiné trois objets, vous n'avez plus le droit d'en voir d'autres
    et il vous faut à présent quitter le marchand en vous rendant au <chapter to="91"></chapter>.
</p>
<p>
    La potion d'herboriste <chapter to="107"></chapter><br/>
    Le glaive <chapter to="214"></chapter><br/>
    La flûte <chapter to="22"></chapter><br/>
    La hache <chapter to="141"></chapter><br/>
    Le sac de dents <chapter to="5"></chapter><br/>
    Le bijou <chapter to="60"></chapter>
</p>


