<h1>23</h1>

<p>
    Cette cabane sert de poste de garde à une sentinelle TROLL.
    Toutes les vingt minutes, le Troll sort de la cabane pour faire une ronde de dix minutes dans les environs.
    Avec un peu de chance, vous passerez devant le poste de garde
    pendant l'une de ces périodes de vingt minutes et le Troll enfermé à l'intérieur ne vous verra pas.
    Si le dé vous a donné&nbsp;:
</p>

<div class="row-fluid">
    <div class="span3">1 ou 2</div>
    <div class="span4">Rendez-vous au <chapter to="245"></chapter></div>
</div>

<div class="row-fluid">
    <div class="span3">3 ou 4</div>
    <div class="span4">Rendez-vous au <chapter to="69"></chapter></div>
</div>

<div class="row-fluid">
    <div class="span3">5 ou 6</div>
    <div class="span4">Rendez-vous au <chapter to="99"></chapter></div>
</div>


<p>
    Si vous avez <i>Tenté votre Chance,</i> et que vous ayez été Chanceux, rendez-vous au <chapter to="167"></chapter>. Si vous
    avez été Malchanceux, rendez-vous au numéro correspondant au chiffre obtenu avec un seul dé.
</p>

<p>
    <a data-target="#chapter23-special" data-toggle="modal" class="btn btn-primary btn-small">
        <i class="icon icon-white icon-random"></i>&nbsp;
        Lancez les dés
    </a>
</p>

<img src="img/sorcery/01/flower.gif"/>

<div ng-include src="'partials/chapters/01/chapter23-special.html'"></div>
