<h1>117</h1>

<p>Vous allez <a data-toggle="modal" data-target="#fight" ng-click="startFight(117, 187)">combattre l'ASSASSIN</a> :</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">ASSASSIN</div>
    <div class="span2">8</div>
    <div class="span2">6</div>
</div>

<p>Si vous souhaitez recourir à la magie pour l'affronter, vous avez le choix entre les Formules suivantes :</p>

<div class="row-fluid">
    <span class="span1">LOU</span>
    <span class="span1">ECU</span>
    <span class="span1">ZAP</span>
    <span class="span1">TUE</span>
    <span class="span1">FIX</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="368"></chapter></span>
    <span class="span1"><chapter to="452"></chapter></span>
    <span class="span1"><chapter to="305"></chapter></span>
    <span class="span1"><chapter to="393"></chapter></span>
    <span class="span1"><chapter to="342"></chapter></span>
</div>

<p>
    Si vous êtes vainqueur, rendez-vous au <chapter to="153"></chapter>.
    Vous pouvez décider de lui laisser la vie sauve lorsque son total d'ENDURANCE aura été réduit à 3 points ou moins;
    mais pour cela, il faudra que vous ayez indiscutablement le dessus,
    c'est-à-dire que votre propre total d'ENDURANCE ne soit pas inférieur à 6.
    Dans cette dernière hypothèse, rendez-vous au <chapter to="187"></chapter>.
</p>
