<h1>25</h1>

<p>

    Vous implorez votre déesse, mais rien ne se produit. Vous essayez encore, mais il semble qu'elle ne vous écoute pas.
    Quelques instants plus tard, les petits hommes reviennent, vous arrachent à votre cage et vous transportent comme un
    paquet jusqu'à la grande marmite posée sur le feu. Vous êtes ensuite jeté dans l'eau dont la température s'élève un
    peu trop à votre goût. C'est alors que quelque chose se passe enfin... Des nuages noirs s'amoncellent au-dessus du
    camp et, lorsqu'ils parviennent à votre hauteur, une pluie torrentielle s'en échappe qui éteint aussitôt le feu et
    rafraîchit sensiblement l'eau de votre bain forcé. Vos liens se relâchent, vous vous en débarrassez sans difficulté
    et vous vous hissez hors de la marmite. Libra n'est pas restée sourde à votre appel ! Les Chasseurs de Têtes,
    sentant bien qu'un phénomène surnaturel vient de se produire, se sont enfuis dans la forêt et vous pouvez à présent
    vous échapper à votre tour. Rappelez-vous que vous n'aurez plus le droit, au cours de cette première aventure, de
    demander secours à Libra. Vous ne pourrez à nouveau l'invoquer que lorsque vous serez arrivé dans la ville de Kharé.
    Vous ramassez vos affaires et vous disparaissez dans la forêt. Rendez-vous au <chapter to="254"></chapter>.
</p>