<h1>198</h1>

<p>
    Il vous répond que vous trouverez l'auberge du village un peu plus loin sur la droite, accompagnant ses paroles d'un
    geste de la main pour vous indiquer la direction à prendre. En ayant choisi de venir à ce paragraphe, vous allez
    pouvoir prendre note d'une règle de jeu que vous n'auriez découverte autrement que par l'expérience. Le temps
    pendant lequel se déroule cette aventure est divisé en <i>jours</i> ; or, chaque jour, vous devrez prendre un repas,
    sinon vous perdrez des points d'ENDURANCE pour cause de sous-alimentation. Vous aurez donc régulièrement le choix
    entre manger quelques-unes des Provisions que vous transportez dans votre Sac à Dos ou vous restaurer dans une
    auberge. Si vous passez une journée sans manger, vous devrez en subir les conséquences. Et lorsque la nuit viendra,
    vous aurez le choix entre dormir ou poursuivre votre chemin jusqu'à l'aube. Là encore, si vous décidez de vous
    reposer, vous gagnerez des points d'ENDURANCE et vous en perdrez si vous passez une nuit blanche. Mais vous devrez
    choisir avec discernement les moments où vous déciderez de manger ou de dormir car, parfois, des endroits où il
    semblerait qu'on puisse se reposer ou prendre un repas en toute sécurité cachent en fait des dangers insoupçonnés.
    Vous vous dirigez à présent vers l'auberge que le villageois vous a indiquée. Rendez-vous au <chapter to="257"></chapter>.
</p>
