<h1>72</h1>

<p>
    En examinant les inscriptions gravées sur la hache, vous parvenez à déchiffrer le message suivant&nbsp;:
    «&nbsp;Cette hache a été fabriquée pendant l'Année du Bœuf pour le compte de Glandragor le Protecteur.
    Seul son propriétaire en connaît les pouvoirs&nbsp;».
    Le chiffre 233 a également été gravé sur la hache. Vous pouvez la garder comme arme de secours, mais
    si vous en faites usage, vous devrez diminuer d'un point votre Force d'Attaque à chaque Assaut.
    Rendez-vous au <chapter to="126"></chapter>.
</p>