<h1>356</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et aussitôt, vous vous sentez grandir. Quelques instants
    plus tard, vous avez une taille trois fois supérieure à la normale. L'Elvin vous contemple avec une stupeur mêlée de
    crainte : de toute évidence, il hésite, ne sachant pas s'il doit vous combattre ou s'enfuir. Vous pouvez, quant à
    vous, soit l'attaquer, soit <a data-target="#test-luck" data-toggle="modal">Tentez votre Chance.</a>
    Si vous êtes Chanceux, il s'enfuit et entraîne avec lui ses
    compagnons qui disparaissent dans la forêt. Vous pouvez alors vous rendormir. Vous vous éveillerez à l'aube et vous
    vous rendrez au
    <chapter to="148"></chapter>. Mais si vous êtes Malchanceux, l'Elvin se tiendra prêt à combattre. Si vous devez l'affronter,
    rendez-vous au <chapter to="203"></chapter> ; vous pourrez cependant, compte tenu de votre taille actuelle, doubler vos points
    d'HABILETÉ pendant toute la durée du combat.
</p>