<h1>206</h1>

<p>Vous êtes entouré de cadavres de serpents. Votre chance ne vous a pas abandonné, mais vous n'êtes pas sorti d'affaire
    pour autant. Il vous est impossible en effet de vous extraire de cette fosse et vous êtes désormais condamné à
    mourir de faim ; si votre estomac supporte la viande de serpent crue, vous pourrez survivre quelques jours de
    plus... Il vous reste cependant une dernière chance d'échapper à votre triste sort : faire appel à la déesse Libra.
    Encore faut-il pour cela que vous n'ayez pas déjà eu recours à elle depuis le début de votre aventure. Si vous ne
    l'avez encore jamais sollicitée, rendez-vous au <chapter to="273"></chapter>.</p>
