<h1>159</h1>

<p>
    Un peu plus loin sur le sentier, vous découvrez un autre objet : il s'agit cette fois d'un médaillon qui renferme le
    portrait d'une femme ; à l'évidence, ce bijou a été dérobé à un voyageur ignorant la nature de l'Herbe Voleuse.
</p>

<img src="img/sorcery/01/pic159.jpg"/>

<p>
    <a ng-click="addItem('item.medallion.woman')">Vous pouvez prendre le médaillon</a> si vous le désirez.
    Un peu plus tard, vous parvenez à nouveau sur la berge de la
    rivière, loin en aval du village. Rendez-vous au <chapter to="231"></chapter>.
</p>
