<h1>122</h1>

<p>
    Elle vous donne le Brassard d'Escrime de Ragnar. Tant que vous le porterez, vous aurez le droit d'ajouter 2 points à
    votre Force d'Attaque, lors des combats, si l'arme dont vous vous servez est une épée. Si vous utilisez une autre
    arme, le Brassard ne vous donnera aucun avantage. Rendez-vous à présent au
    <chapter to="87"></chapter>.
</p>

<img src="img/sorcery/01/lizard.gif"/>

<p class="integrator">Cette amélioration n'est pas prise en compte dans cette version.</p>

<!--TODO +2 skills if sword -->
