<h1>35</h1>

<p>Vous vous arrêtez en bordure du village et vous vous installez pour la nuit.
    <a data-target="#eat" data-toggle="modal">Vous pouvez manger quelques-unes de vos Provisions</a>
    (l'équivalent d'un repas) si toutefois vous en avez dans votre Sac à Dos. Vous gagnerez alors 2 points
    d'ENDURANCE si c'est votre premier repas de la journée et 1 seulement si vous avez déjà mangé. Vous vous endormez
    bientôt, mais vous êtes réveillé brutalement par trois Svinns qui vous plaquent contre le sol en vous immobilisant
    les bras. Ils vous conduisent peu après dans une petite cabane. Rendez-vous au <chapter to="71"></chapter>.
</p>
