<h1>221</h1>

<p>
    La grotte n'est pas très profonde et elle semble vide. Le sol est jonché de
    <a ng-click="addItem('item.small.pebbles')">petits cailloux</a> ; vous apercevez également un gros
    <a ng-click="emptyBackpack(); addItem('item.broken.stool')">tabouret cassé</a>, un
    <a ng-click="addItem('item.net')">filet à larges mailles</a> et un énorme
    <a ng-click="addItem('item.large.skull')">crâne</a> qui ressemble à celui d'un homme en
    beaucoup plus grand. Ces indices vous amènent à conclure que ces grottes sont habitées par des Géants. Vous pouvez
    prendre ce qui vous intéresse parmi les objets décrits (y compris des
    cailloux) mais si vous décidez d'emporter le tabouret sachez qu'il est si gros que vous devrez abandonner votre Sac
    à Dos et tout ce qu'il contient pour pouvoir le transporter; vous n'aurez le droit de conserver que votre arme. Vous
    pouvez à présent repartir ; si vous souhaitez inspecter l'autre grotte, rendez-vous au <chapter to="207"></chapter>. Si vous
    préférez poursuivre votre chemin, rendez-vous au <chapter to="250"></chapter>.
</p>

<img src="img/sorcery/01/serpent.gif"/>
