<h1>166</h1>

<p>Quelle Formule allez-vous choisir ?</p>

<div class="row-fluid">
    <span class="span1">SOM</span>
    <span class="span1">SIX</span>
    <span class="span1">SAC</span>
    <span class="span1">LOI</span>
    <span class="span1">TUE</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="332"></chapter></span>
    <span class="span1"><chapter to="295"></chapter></span>
    <span class="span1"><chapter to="313"></chapter></span>
    <span class="span1"><chapter to="380"></chapter></span>
    <span class="span1"><chapter to="427"></chapter></span>
</div>

<p>Si vous ne connaissez aucune de ces Formules, ou si vous préférez ne pas les utiliser, il vous faudra compter sur
    votre seule arme. Rendez-vous dans ce cas au <chapter to="20"></chapter>.</p>

<img src="img/sorcery/01/bande.gif"/>
