<h1>67</h1>

<p>Vous vous levez de bonne heure et vous vous remettez en route peu après que l'aube s'est levée. Jann est toujours
    présent, voletant autour de votre tête tandis que vous avancez le long du chemin.Avez-vous pris un repas hier ?
    <a data-target="#eat-yesterday" data-toggle="modal">Si ce n'est pas le cas</a>, vous perdez 3 points d'ENDURANCE.
    Deux directions s'offrent à vous : vous pouvez prendre un
    sentier montant qui mène vers l'est (rendez-vous au <chapter to="135"></chapter>) ou un sentier descendant orienté à l'ouest
    (rendez-vous au <chapter to="51"></chapter>). Lequel choisirez-vous ?
</p>
