<h1>192</h1>

<p>
    Vous vous asseyez et vous marmonnez un vague commentaire au sujet de la boue qui souille les chemins à cette époque
    de l'année. Le vieil homme émet un grognement d'approbation ; peu à peu, les conversations reprennent dans la
    taverne et vous vous mettez vous-même à bavarder avec votre voisin de table. Celui-ci vous apprend qu'il est fermier
    et que ses terres se trouvent en bordure du village ; il voit et entend beaucoup de choses et il sait en effet que
    la Couronne des Rois a été volée, mais les affaires du monde ne l'intéressent guère. Vous lui parlez ensuite de vous
    et, bientôt, vous échangez toutes sortes de plaisanteries en riant de bon cœur. Enfin, il se lève pour prendre
    congé.
</p>

<p>
    « En sortant de Kristatanti, deux chemins s'offrent à toi, étranger, dit-il, l'un te mènera à la maison
    d'Alianna et tu auras besoin de toute ta présence d'esprit si jamais elle est là. L'autre chemin monte dans les
    collines, jusqu'au Léa-Ki, le Domaine des Géants. Que la chance de Sindla accompagne ton voyage ; et prends ceci qui
    te sera peut-être utile ».
</p>

<p>
    Il vous tend un fruit en forme de pomme qu'il a fait pousser lui-même. C'est une Bomba
    dont les vertus nourrissantes sont très grandes : lorsque vous la mangerez en même temps qu'un repas normal, elle
    vous permettra de doubler votre gain d'ENDURANCE. Vous saluez le vieil homme en lui souhaitant bonne nuit. Cette
    heureuse rencontre vous fait gagner 2 points de CHANCE. Il vous faut à présent prendre une décision : allez-vous
    passer la nuit à l'auberge (rendez-vous au <chapter to="211"></chapter>)
    ou quitter le village pour trouver dans la forêt un endroit où
    dormir à la belle étoile (rendez-vous au <chapter to="62"></chapter>) ?
</p>

<p class="integrator">Cette amélioration n'est pas prise en compte dans cette version.</p>

<!--TODO Handle BOMBA-->