<h1>135</h1>

<p>
    Vous suivez le chemin pendant un certain temps. Alors que vous venez de traverser une étendue de broussailles, une
    odeur agréable vient flatter votre odorat. Un peu plus loin sur la droite, vous apercevez un champ de fleurs noires.
    Le sentier qui traverse ce champ mène au sommet d'une colline puis redescend dans une vallée. D'après Jann, ce
    serait le plus court chemin pour atteindre le village de Torrepani, votre prochaine étape. Si vous ne lui faites pas
    confiance, vous pouvez utiliser une Formule Magique pour essayer d'en savoir plus :
</p>

<div class="row-fluid">
    <span class="span1">FIN</span>
    <span class="span1">SUD</span>
    <span class="span1">VEN</span>
    <span class="span1">MAG</span>
    <span class="span1">DEV</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="435"></chapter></span>
    <span class="span1"><chapter to="341"></chapter></span>
    <span class="span1"><chapter to="419"></chapter></span>
    <span class="span1"><chapter to="321"></chapter></span>
    <span class="span1"><chapter to="394"></chapter></span>
</div>

<p>
    Vous pouvez également décider de continuer tout droit en vous rendant au <chapter to="73"></chapter> ; enfin, vous avez
    également la possibilité de revenir sur vos pas et de prendre le chemin qui descend la colline à la sortie de
    Birritanti (rendez-vous pour cela au <chapter to="51"></chapter>).
</p>
