<h1>330</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Votre Formule n'aura aucun effet, car vous ne possédez pas le Médaillon Incrusté de
    Pierreries qu'elle nécessite. Vous tombez au fond de la fosse et vous vous rendez au
    <chapter to="277"></chapter> où il vous sera demandé de lancer les dés.
</p>

<p>
    Mais comme vous avez tenté vainement de prononcer une Formule que vous ne pouviez pas utiliser,
    vous devrez ajouter 3 points au chiffre que les dés vous donneront.
</p>

<p class="integrator">Ce dernier point n'est pas implémenté.</p>

<!-- TODO Extra dice on fall at 277 -->