<h1>134</h1>

<img src="img/sorcery/01/good_sun.gif"/>

<p>
    Il vous en coûtera 3 Pièces d'Or pour un copieux repas et 3 Pièces également pour une chambre : ce sont les prix
    qu'on pratique dans cette auberge.
    <a data-toggle="modal" data-target="#buy-and-eat">Vous pouvez prendre un repas</a>
    si vous en avez les moyens. Le menu comporte du bouillon de renard des collines avec une
    garniture de riz, un plat nourrissant qui vous fera gagner 3 points d'ENDURANCE si vous n'avez pas encore mangé
    aujourd'hui ; si vous avez déjà mangé, vous ne gagnerez que 2 points d'ENDURANCE. Si vous souhaitez coucher dans
    cette auberge, rendez-vous au <chapter to="115"></chapter>.
    Si vous n'avez pas suffisamment d'argent pour cela, ou si vous ne
    voulez pas payer, vous quitterez le village et vous chercherez un abri pour établir votre campement.
    Rendez-vous au <chapter to="14"></chapter>.
</p>