<h1>231</h1>

<p>
    Un peu plus loin, vous trouvez un autre pont qui enjambe la rivière ; le chemin vous mène à ce pont que vous
    traversez, puis il monte vers les collines. Le tracé du sentier est sinueux et il monte en pente douce au flanc de
    la colline. Soudain, vous recevez un gland de chêne sur la tête et vous entendez un éclat de rire dans les
    feuillages, au-dessus de vous. En levant les yeux, vous apercevez de minuscules silhouettes qui volent de branche en
    branche. Un autre gland vous tombe sur la tête, puis un autre encore. Ce sont des ELVINS qui vous bombardent ainsi.
</p>

<img src="img/sorcery/01/pic231.jpg"/>

<p>Vous pouvez essayer de vous protéger en utilisant l'une de ces Formules :</p>

<div class="row-fluid">
    <span class="span1">ZIP</span>
    <span class="span1">HOR</span>
    <span class="span1">ECU</span>
    <span class="span1">SUR</span>
    <span class="span1">YAF</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="359"></chapter></span>
    <span class="span1"><chapter to="408"></chapter></span>
    <span class="span1"><chapter to="296"></chapter></span>
    <span class="span1"><chapter to="382"></chapter></span>
    <span class="span1"><chapter to="340"></chapter></span>
</div>

Si vous ne souhaitez pas recourir à la magie, rendez-vous au <chapter to="85"></chapter>.
