<h1>172</h1>

<p>
    Vous appelez, mais personne ne répond dans la cabane. Vous écartez alors les rideaux qui tiennent lieu de porte et
    vous jetez un coup d'oeil à l'intérieur.
</p>

<p>
    Au milieu de la pièce se trouve une table autour de laquelle sont disposés trois tabourets. Deux boîtes ont été
    placées côte à côte sur la table.
</p>

<img src="img/sorcery/01/pic172.jpg"/>

<p>
    Si vous souhaitez entrer et examiner ces boîtes, rendez-vous au <chapter to="145"></chapter> ; si vous préférez aller voir ce
    qui se passe dans une autre maison, vous avez le choix entre celle aux rideaux verts,
    (rendez-vous au <chapter to="88"/>) et celle aux rideaux marron (rendez-vous au <chapter to="74"></chapter>).
</p>
