<h1>28</h1>
<p>
    Vous entrez dans le village. De jeunes autochtones vous croisent et observent avec quelque surprise votre étrange
    accoutrement. Par comparaison aux vôtres, leurs vêtements sont rudimentaires et tous les habitants du village
    portent des cheveux longs roulés en chignon au sommet de leur crâne. Vous arrivez sans encombre au centre du
    village. Si vous voulez chercher une auberge pour la nuit, rendez-vous au <chapter to="211"></chapter> ; si vous préférez vous
    détendre quelques instants en allant boire une bière dans une taverne, rendez-vous au <chapter to="266"></chapter>.
</p>