<h1>127</h1>

<p>
    Pendant la plus grande partie de la matinée, vous suivez un chemin sinueux au flanc d'une colline. Vous pouvez, si
    vous le désirez, faire une halte et manger quelques-unes de vos Provisions ;
    <a ng-click="eatAndGain(2)">vous gagnerez ainsi 2 points d'ENDURANCE.</a>
    Peu avant midi, vous arrivez à une bifurcation qui vous donne le choix entre deux chemins : d'une part
    un sentier qui descend dans une vallée peu profonde, puis remonte le versant de la colline opposée et, d'autre part,
    un chemin menant à un pont de bois et de corde qui enjambe la vallée entre deux collines. Si vous voulez traverser
    le pont, rendez-vous au <chapter to="27"></chapter> ; si vous préférez descendre dans la vallée, rendez-vous au
    <chapter to="38"></chapter>.
</p>

<img src="img/sorcery/01/bande.gif"/>
