<h1>15</h1>

<p>Tandis que l'Ogre agonisant laisse échapper ses derniers râles, vous examinez les lieux. Vous essayez à votre tour de
    concasser quelques-unes de ces pierres noires mais, contrairement à l'Ogre, vous ne parvenez pas à tourner la
    manivelle de la machine. Deux pierres précieuses ont cependant déjà été dégagées de leur gangue&nbsp;; elles
    sont posées sur la table et vous pouvez les
    prendre. Chacune d'elle vaut 10 Pièces d'Or, mais si vous vous en servez pour acheter un objet valant moins que
    cette somme, sachez qu'on ne vous rendra pas la monnaie. En d'autres termes si, par exemple, vous souhaitez vous en
    servir pour acheter une marchandise qui vaut 2 Pièces d'Or, vous devrez donner la pierre entière en perdant ainsi
    l'équivalent de 8 Pièces d'Or. Vous pouvez à présent quitter la pièce et la grotte puis revenir au croisement
    (rendez-vous au <chapter to="144"></chapter>).
</p>

<p class="integrator">
    Dans cette vesion, les pierres seront simplement comptabilisées comme 20 pièces d'or.
</p>

<!-- TODO 2 stones worth 20 gold pieces, non refundable -->