<h1>53</h1>

<p>
    Le souffle haletant, vous attendez ; par bonheur, vos prières ont été entendues. Le bloc de rocher, en effet,
    ralentit, produisant des grincements suraigus tandis que des freins invisibles interrompent son élan et l'arrêtent
    enfin. Quelques instants plus tard, il recommence à rouler sur lui-même, mais dans la direction opposée cette fois
    et, bientôt, il disparaît de votre vue, au bout du tunnel.

    Vous décidez de retourner dans la grande caverne où vous
    pourrez prendre, soit le passage de gauche (rendez-vous au <chapter to="16"></chapter>), soit celui de droite (rendez-vous au
    <chapter to="3"></chapter>), Souvenez-vous que vous n'aurez plus le droit, au cours de cette aventure, de faire appel à la
    déesse Libra.
</p>
