<h1>220</h1>

<p>
    Un peu plus loin, au bas de la colline, vous faites une halte pour vous reposer. Vous vous asseyez sur un rocher et
    vous parcourez du regard le paysage qui s'étend devant vous ; le chemin mène à une vallée au cœur de laquelle vous
    apercevez un gros village blotti entre trois collines. Le soleil se couche et vous décidez de vous diriger vers ce
    bourg. En marchant, une branche vous effleure le visage et vous entendez aussitôt un pépiement joyeux ; une petite
    créature de la taille de votre pouce apparaît alors, voletant au-dessus de votre épaule.
</p>

<img src="img/sorcery/01/pic220.jpg"/>

<p>
    Le petit être ressemble à un enfant minuscule, son corps est gracile et sa peau verte ; deux ailes transparentes lui
    permettent de voler çà et là comme un insecte. La créature semble tout à fait amicale et se pose sur votre épaulé.
    Si vous désirez lui parler, rendez-vous au <chapter to="171"></chapter> ; si vous préférez essayer de vous en débarrasser en
    ayant recours à la magie, vous avez le choix entre les Formules suivantes :
</p>

<div class="row-fluid">
    <span class="span1">SIX</span>
    <span class="span1">EMU</span>
    <span class="span1">SUR</span>
    <span class="span1">HOU</span>
    <span class="span1">MUR</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="387"></chapter></span>
    <span class="span1"><chapter to="336"></chapter></span>
    <span class="span1"><chapter to="451"></chapter></span>
    <span class="span1"><chapter to="300"></chapter></span>
    <span class="span1"><chapter to="306"></chapter></span>
</div>
