<h1>266</h1>

<p>
    Vous trouvez une taverne dans laquelle vous entrez. Des voix rocailleuses s'élèvent à l'intérieur et les
    conversations vont bon train ; dès que vous faites votre apparition, cependant, le silence s'installe peu à peu
    tandis que tous les regards se tournent vers vous pour vous examiner d'un air soupçonneux.
</p>

<img src="img/sorcery/01/pic266.jpg"/>

<p>
    Plusieurs autochtones des collines sont assis autour d'une table. Le patron de l'endroit vous apprend que ce village
    s'appelle Kristatanti et qu'une chope de bière dans son établissement vous coûtera 1 Pièce d'Or. Si vous n'avez pas
    les moyens de vous en offrir une, il ne vous reste plus qu'à quitter la taverne en vous rendant au <chapter to="62"></chapter>.
    Sinon, payez-le, prenez votre chope et allez vous asseoir à la table, à côté d'un vieil homme ridé
    (rendez-vous au <chapter to="192"></chapter>)
    ou d'un homme jeune au visage taillé à coups de serpe (rendez-vous au <chapter to="96"></chapter>).
</p>
