<h1>361</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous une Dent de Géant dans votre Sac à Dos ? Si ce n'est pas le cas,
    rendez-vous au <chapter to="256"></chapter>. Si vous en avez trouvé une au cours de votre aventure, vous la laissez tomber sur
    le sol et vous prononcez la Formule. L'énorme créature observe votre manège d'un regard interrogateur puis vous
    faites tous deux un bond en arrière lorsqu'un panache de fumée s'élève soudain entre vous. Un autre Géant apparaît
    dans la fumée et celui-ci vous est entièrement dévoué.
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(361, 265)">
        Vous lui ordonnez donc de combattre :
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">GEANT DES COLLINES</div>
    <div class="span2">9</div>
    <div class="span2">11</div>
</div>

<div class="row-fluid">
    <div class="span3">GEANT MAGIQUE</div>
    <div class="span2">8</div>
    <div class="span2">9</div>
</div>

<p>
    Menez le combat à son terme. Si le Géant des Collines terrasse votre allié, il vous faudra achever vous-même le
    combat. Si c'est votre Géant qui tue l'autre, il disparaîtra dès la fin de l'affrontement.
    Vous vous rendrez ensuite au <chapter to="265"></chapter>.
</p>
