<h1>142</h1>

<p>
    Vous dégainez votre arme et vous essayez de fracasser la serrure.

    Lancez 2 dés ; si le chiffre obtenu est inférieur à
    votre total d'HABILETÉ, vous parvenez à briser la serrure et à libérer la femme, rendez-vous dans ce cas au
    <chapter to="90"></chapter>.

    Si le chiffre obtenu est égal ou supérieur à votre total d'HABILETÉ, la serrure reste intacte.

    Chaque fois que vous tenterez d'ouvrir ainsi la porte, votre arme sera légèrement abîmée et vous perdrez 1 point
    d'HABILETÉ lorsque vous utiliserez cette même arme dans un combat. Si vous disposez de deux armes, vous pouvez
    utiliser celle dont vous vous servez le moins afin de préserver l'autre, ce qui vous évitera d'être pénalisé lors de
    futurs combats. Vous devez essayer au moins une fois de briser la serrure ; ensuite vous pouvez décider de
    renouveler l'opération si la première tentative s'est révélée infructueuse, mais vous avez également le droit
    d'abandonner et de quitter la maison en vous rendant au <chapter to="278"></chapter>.
</p>

<p class="integrator">
    Cette séquence n'est actuellement pas disponible; rendez-vous directement au <chapter to="90"></chapter>.
</p>

<img src="img/sorcery/01/bande.gif"/>

<!-- TODO Implement lock breaking rule.