<h1>303</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous des petits Cailloux dans votre Sac à Dos ? Si ce n'est pas le cas,
    hâtez-vous de retourner au
    <chapter to="63"></chapter> pour faire un autre choix. Si vous avez des Cailloux, vous prononcez la Formule et vous les jetez
    sur les serpents. Ils explosent en touchant leur but, tuant plusieurs des reptiles et répandant la panique parmi les
    autres. Trois Cailloux suffisent à tenir les serpents à distance. Mais vous n'êtes pas sorti de la fosse pour autant
    et le seul moyen de vous en échapper consiste à faire appel à la déesse Libra. Si vous n'avez pas déjà eu recours à
    elle, rendez-vous au <chapter to="273"></chapter> . Sinon, il n'y a plus rien à faire et votre mission s'achève ici...
</p>

<img src="img/sorcery/01/lizard.gif"/>
