<h1>244</h1>

<p>
    Vous jetez une Pièce d'Or au mendiant. &laquo;Vous êtes bien bon, voyageur&raquo;, dit-il.
    Il retourne alors la Pièce
    entre ses doigts et l'expression de son visage s'anime aussitôt.
    &laquo;Mais c'est une Pièce d'Or !&raquo; s'exclame-t-il,
    &laquo;vous êtes trop généreux avec un pauvre mendiant aveugle ; et une telle générosité mérite d'être payée de
    retour&raquo;. Il sort de sa poche une clé de cuivre et insiste pour vous en faire cadeau. &laquo;Il y a des années
    de cela, vous dit-il, je vivais à Kharé où j'exerçais le métier de geôlier dans la prison locale. Kharé est une
    ville malfaisante peuplée de toutes sortes de créatures. Si vous y allez, méfiez-vous des YEUX-ROUGES, car vous
    risqueriez en n'y prenant pas garde de partager mon triste sort et d'être condamné à vous faire mendiant après avoir
    perdu la vue. Là-bas, on se méfie des étrangers, mais si jamais les gardes de la ville vous faisaient prisonnier,
    cette clé vous serait fort utile &raquo;. Le chiffre 206 est gravé sur la clé. Vous la prenez, vous remerciez le
    mendiant et vous poursuivez votre chemin en vous rendant au <chapter to="58"></chapter>.
</p>
