<h1>73</h1>

<p>
    À mesure que vous traversez le champ de Lotus Noirs, l'odeur devient plus douce.
</p>

<img src="img/sorcery/01/pic073.jpg"/>

<p>
    Vous vous sentez l'esprit léger et vous vous mettez à bondir, envahi par une joie soudaine et irrépressible. Jann,
    toujours perché sur votre épaule, est tout aussi gai. La tête vous tourne, vous êtes saisi de vertiges et, bientôt,
    vous tombez par terre, parmi les fleurs. Dans votre chute vous heurtez quelque chose de dur et vous vous apercevez
    avec horreur qu'il s'agit d'un squelette. Ce sentiment d'horreur n'est cependant que de courte durée car, un instant
    plus tard, vous perdez connaissance. Le doux parfum du Lotus Noir est un poison mortel et vous venez de pousser
    votre dernier soupir. À jamais votre corps reposera dans le champ de la mort noire...
</p>

<!-- TODO Dead -->