<h1>187</h1>

<p>
    Il vous demande grâce et, lorsque vous consentez à interrompre le combat, il déborde de reconnaissance. Il se
    ressaisit et soigne ses blessures en vous apprenant qu'il se nomme Letorve et qu'il est assassin et voleur. Il
    provoque toujours les voyageurs en duel pour s'entraîner mais ne pensait pas que vous seriez un adversaire à sa
    taille. Lui aussi se dirige vers Kharé et pour vous remercier de l'avoir épargné, il s'engage à rester toujours
    votre ami. Son appui sera précieux lorsque vous serez dans la ville. Une fois parvenu à Kharé, vous rencontrerez à
    nouveau Letorve et il promet qu'il vous apportera alors son aide. Rendez-vous au paragraphe
    <b>79</b> du deuxième volume de <i>Sorcellerie!</i> pour découvrir en quoi cette aide consistera. Il ne vous
    accompagnera pas au long de votre voyage cependant et vous le voyez bientôt disparaître dans la forêt. Cette
    rencontre a été très fructueuse et vous fait gagner 2 points de CHANCE. Poursuivez à présent votre chemin en vous
    rendant au <chapter to="212"></chapter>.
</p>

<!-- TODO Allow chapter 97 when starting volume 2 -->