<h1>222</h1>

<p>
    Le soleil s'est levé depuis une heure environ lorsque vous entendez des bruits au-dehors. La porte s'ouvre et cinq
    Svinns font leur entrée, suivis par un vieil homme aux cheveux gris, vêtu d'une toge aux vives couleurs. Le
    vieillard s'annonce sous le nom de Proséus, chef des Svinns, et vous présente ses excuses pour vous avoir fait ainsi
    prisonnier. Puis il adresse un signe de tête à un serviteur qui vous apporte aussitôt du pain et du lait.
    <a ng-click="addStamina(2)">Si vous prenez ce repas</a>, vous gagnerez 2 points d'ENDURANCE.
</p>

<p>
    Le chef vous déclare ensuite qu'il entend vous charger
    d'une mission de la plus haute importance. Sa fille, une enfant, a été capturée par des maraudeurs qui l'ont offerte
    à un puissant démon des grottes. C'est sa seule et unique héritière et personne jusqu'à présent, malgré plusieurs
    tentatives, n'a réussi à l'arracher à ses gardiens. &laquo;Nous sommes désespérés, vous dit le chef des Svinns, et
    nous n'avons plus d'espoir qu'en vous : il faut que vous sauviez ma fille. Si vous y parvenez, vous pourrez choisir
    votre récompense&raquo;.
</p>
<p>
    Bien que Proséus soit un personnage plutôt bienveillant, il est clair qu'il ne vous laisse
    pas le choix et, sans attendre votre réponse, il vous fait conduire hors du village, le long d'un chemin qui mène au
    sommet d'une autre colline ; là, une fosse a été creusée dans le sol et les Svinns qui vous ont escorté préparent
    une sorte de panier en corde dans lequel ils vont vous descendre tout au fond de la fosse. C'est là sans doute une
    entrée secrète qui vous permettra d'accéder à la grotte du démon.
</p>
<p>
    Si vous souhaitez faire une ultime tentative de
    fuite, rendez-vous au <chapter to="215"></chapter> ; si, en revanche, la perspective d'une coquette récompense vous séduit
    suffisamment pour accepter la mission, rendez-vous au <chapter to="100"></chapter>.
</p>
