<h1>260</h1>

<p>
    Le niveau de l'eau s'élève rapidement et vous êtes bientôt projeté contre le plafond. Mais Libra ne vous a pas
    abandonné et une poche d'air se forme autour de votre tête. Vous parvenez alors à respirer librement en vous
    débattant dans l'eau et vous retrouvez votre calme en vous rendant compte que vous ne courez plus le risque d'être
    noyé. Quelques minutes plus tard, la pièce se vide de son eau et vous vous retrouvez sur le sol, indemne, quoique
    trempé de part en part. Le mur qui s'était dressé derrière vous glisse dans le sol, et vous retournez dans la grande
    caverne pour choisir un autre passage. Si vous voulez prendre à droite, rendez-vous au <chapter to="3"></chapter> ; si vous
    préférez aller à gauche, rendez-vous au <chapter to="16"></chapter>.</p>
