<h1>348</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et vous attendez.
    Les Bandits s'immobilisent un instant, pensant qu'il va se passer quelque chose, mais en réalité,
    rien ne se produit&nbsp;! Cette Formule n'a d'effet que sur les créatures dénuées d'intelligence.
    Les Bandits bondissent alors sur vous et l'un d'eux vous donne au bras un coup d'épée qui vous fait
    perdre 2 points d'ENDURANCE. Retournez au <chapter to="104"></chapter>, soit pour les combattre l'arme à la main,
    soit pour choisir une autre Formule.
</p>

