<h1>226</h1>

<p>
    Sur le chemin qui vous mène hors du village, vous rencontrez un mendiant aveugle assis par terre contre un mur.
    Lorsque vous passez devant lui, il vous demande l'aumône. Son apparence est pitoyable : il n'a que la peau sur les
    os et ses vêtements se réduisent à quelques lambeaux d'étoffe. Ses yeux sont peints en noir pour montrer qu'il est
    aveugle. Tandis que vous vous demandez si vous allez ou non lui donner une pièce, un char à bœufs apparaît dans la
    rue. Voyant que vous êtes un étranger, le conducteur vous demande s'il peut vous amener quelque part. Allez-vous
    accepter son offre en vous rendant au <chapter to="129"></chapter>, ou préférez-vous refuser et donner plutôt une Pièce d'Or
    au mendiant (rendez-vous dans ce cas au
    <chapter to="244"></chapter>) ?
</p>
