<h1>273</h1>

<p>
    Les serpents forment sous vos yeux une véritable échelle vivante qui s'élève jusqu'au bord de la fosse ! Lorsque
    l'échelle est terminée, il ne vous reste plus qu'à y monter pour rejoindre le passage ; vous retournez alors dans la
    grande caverne : là, vous avez le choix entre tourner à droite (rendez-vous au <chapter to="3"></chapter>) ou à gauche
    (rendez-vous au <chapter to="16"></chapter>). Souvenez-vous que vous ne pourrez plus désormais faire appel à Libra au cours de
    cette aventure.
</p>

<img src="img/sorcery/01/deathbird.gif"/>
