<h1>401</h1>

<p>
    Avez-vous une Dent de Gobelin dans votre Sac à Dos ? Si ce n'est pas le cas, vous prononcez la Formule sans que rien
    ne se passe et les Elvins, bien entendu, ne sont pas impressionnés le moins du monde ; ils vous attachent à nouveau
    les mains et vous décochent quelques coups de pied qui vous font perdre 2 points d'ENDURANCE.
    (rendez-vous au <chapter to="218"></chapter>).

    Si vous avez une Dent de Gobelin, vous la jetez sur le sol et vous prononcez la Formule
    (vous perdez 1 point d'ENDURANCE) ; aussitôt, un
    Gobelin entier apparaît devant leurs yeux. Ils sont d'abord méfiants, car ils n'aiment pas les Gobelins, mais leur
    inquiétude disparaît lorsque vous leur montrez que la créature vous obéit au doigt et à l'œil. Vous pouvez faire
    danser votre Gobelin sur un air de gigue, lui ordonner de faire le poirier sur la tête et sans les mains et, si le
    cœur vous en dit, vous pouvez également lui faire chanter un air ; sachez cependant que les Gobelins chantent si
    faux qu'on a peine à le croire : vous vous attirerez donc des protestations... Pour clore le spectacle, vous
    commandez à l'obéissante créature de se prosterner devant les Elvins et d'embrasser le bout de leurs bottes. Lorsque
    enfin le Gobelin disparaît, les petits Elvins vous félicitent. Vous bavardez encore quelques instants avec eux puis
    ils vous rendent votre Sac à Dos et vous laissent repartir. Rendez-vous au <chapter to="196"></chapter>.
</p>

<img src="img/sorcery/01/bande.gif"/>
