<h1>338</h1>

<p>
    Vous perdez 4 points d'ENDURANCE. Vous prononcez la Formule et le Géant laisse tomber sa massue. Il pousse un
    grognement et se penche pour la ramasser, mais elle lui échappe à nouveau des mains. De toute évidence, votre
    Formule fait son effet ! Le Géant essaye encore par deux fois de saisir sa massue mais il n'y parvient pas et décide
    de vous combattre à mains nues.

    <a data-toggle="modal" data-target="#fight" ng-click="startFight(338, 256)">
        Vous allez devoir l'affronter,
    </a>
    mais il n'aura pas d'arme :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">GEANT DES COLLINES</div>
    <div class="span2">6</div>
    <div class="span2">11</div>
</div>

<p>Si vous êtes vainqueur, rendez-vous au <chapter to="265"></chapter>.</p>

<img src="img/sorcery/01/bande.gif"/>
