<h1>453</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Vous prononcez la Formule et vous vous mettez aussitôt à grandir pour atteindre
    quelques instants plus tard une taille trois fois supérieure à la normale. La créature s'immobilise. A présent, vous
    pouvez, si vous le souhaitez, <a data-target="#test-luck" data-toggle="modal">Tenter votre Chance.</a>

    Si vous êtes Chanceux, le monstre s'enfuit dans la forêt.

    Si vous êtes Malchanceux, ou si vous décidez de ne pas <i>Tenter votre Chance</i>, la créature continue de vous
    attaquer mais vous pourrez la combattre en doublant votre total d'HABILETÉ. Retournez au <chapter to="123"></chapter>.
</p>

<img src="img/sorcery/01/aigle.gif"/>
