<h1>328</h1>

<p>
    Vous perdez 1 point d'ENDURANCE. Avez-vous de la Cire d'Abeille dans votre Sac à Dos ? Si ce n'est pas le cas, il
    vous faut perdre 3 points d'ENDURANCE supplémentaires tandis que le Gobelin vous attaque ;
    rendez-vous alors au <chapter to="47"></chapter>.

    Si vous avez de la Cire vous devrez en enduire la lame de votre épée et retourner au
    <chapter to="47"></chapter>. Vous combattrez le Gobelin à la manière habituelle mais chaque coup que vous lui porterez lui
    vaudra une perte de 4 points d'ENDURANCE au lieu de 2, tant que votre épée sera sous l'effet de la Formule Magique.

    Dès que le combat sera terminé, votre arme retrouvera ses propriétés normales ; notez que vous avez utilisé pour
    cette Formule la moitié de la Cire d'Abeille dont vous disposiez.
</p>
