<h1>104</h1>
<p>
Les Bandits avancent vers vous en poussant des grognements. Vous pouvez les combattre tour à tour :
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">Premier BANDIT</div>
    <div class="span2">7</div>
    <div class="span2">6</div>
</div>

<div class="row-fluid">
    <div class="span3">Deuxième BANDIT</div>
    <div class="span2">7</div>
    <div class="span2">8</div>
</div>

<p>
    Si vous êtes vainqueur, rendez-vous au <chapter to="56"></chapter>.
    Vous avez également la possibilité d'affronter vos adversaires en choisissant de recourir à la magie&nbsp;:
</p>

<div class="row-fluid">
    <span class="span1">HOR</span>
    <span class="span1">JIG</span>
    <span class="span1">BAM</span>
    <span class="span1">LOI</span>
    <span class="span1">INV</span>
</div>

<div class="row-fluid">
    <span class="span1"><chapter to="288"></chapter></span>
    <span class="span1"><chapter to="308"></chapter></span>
    <span class="span1"><chapter to="327"></chapter></span>
    <span class="span1"><chapter to="348"></chapter></span>
    <span class="span1"><chapter to="371"></chapter></span>
</div>

<p>
    Si vous ne connaissez aucune de ces Formules Magiques,
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(104, 56)">
        il faudra vous battre l'arme au poing.
    </a>
</p>