<h1>45</h1>

<p>
    <a data-target="#eat-yesterday" data-toggle="modal">Avez-vous mangé hier</a> ? Si vous avez pris un repas à l'auberge
    ou pioché dans vos Provisions, vous ne subirez aucune pénalité ; en revanche, si vous n'avez rien mangé de la
    journée, vous vous sentez affamé et vous perdez 3 points d'ENDURANCE. A partir du village de Kristatanti, deux
    chemins s'offrent à vous. Choisissez-en un en vous rendant soit au <chapter to="125"/>, soit au <chapter to="226"></chapter>.
</p>
