<h1>13</h1>

<p>Vous suivez un chemin en pente abrupte qui descend dans une étroite vallée. Vous traversez ensuite un cours d'eau sur
    un pont de bois, puis vous remontez le flanc de la colline opposée. Vous êtes parvenu à mi-hauteur, lorsque vous
    entendez une branche craquer dans les broussailles et, soudain, une énorme créature &mdash;
    de la taille d'un ours &mdash; se dresse devant vous.</p>

<img src="img/sorcery/01/pic013.jpg"/>

<p>L'animal a une fourrure noire et blanche et sa queue touffue traîne derrière lui. Il vous barre le passage et se met
    à grogner d'un air menaçant. Allez-vous l'attaquer (rendez-vous au <chapter to="252"></chapter>) ou essayer de le contourner
    en évitant toute violence (rendez-vous au <chapter to="236"></chapter>)&nbsp;?</p>
