<h1>47</h1>

<p>
    Le Gobelin sent que vous êtes prêt à l'affronter et il se lève aussitôt en tenant à la main une grosse massue de
    pierre.
    <a data-toggle="modal" data-target="#fight" ng-click="startFight(47, 186)">
        Vous pouvez le combattre, si vous le souhaitez :
    </a>
</p>

<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span2">HABILETÉ</div>
    <div class="span2">ENDURANCE</div>
</div>

<div class="row-fluid">
    <div class="span3">GOBELIN</div>
    <div class="span2">7</div>
    <div class="span2">6</div>
</div>

<p>
    Si vous êtes vainqueur, rendez-vous au <chapter to="186"></chapter>. Si vous ne voulez pas vous battre, vous pouvez
    recourir à la magie :
</p>

<div class="row-fluid">
    <span class="span1">FIL</span>
    <span class="span1">BAM</span>
    <span class="span1">TEL</span>
    <span class="span1">ZAP</span>
    <span class="span1">YAF</span>
</div>
<div class="row-fluid">
    <span class="span1"><chapter to="328"></chapter></span>
    <span class="span1"><chapter to="397"></chapter></span>
    <span class="span1"><chapter to="309"></chapter></span>
    <span class="span1"><chapter to="438"></chapter></span>
    <span class="span1"><chapter to="289"></chapter></span>
</div>

<img src="img/sorcery/01/deathbird.gif"/>
