<h1>213</h1>

<p>
    Elle vous maudit lorsqu'elle vous voit fouiller sa maison. Il ne faut pas prendre ses paroles à la légère cependant,
    car la malédiction d'Alianna vous fait
    perdre 2 points d'HABILETE ; vous ne retrouverez ces deux points que lorsque la malédiction sera levée.
    Vous jetez un rapide coup d'œil dans les tiroirs et les armoires, mais vous ne parvenez à découvrir qu'un petit sac
    contenant du sable fin et 2 Pièces d'Or. Vous pouvez emporter ce maigre butin si vous le désirez, puis vous
    quitterez la maison. Poursuivez votre chemin en vous rendant au <chapter to="278"></chapter>.
</p>

<p class="integrator">
    Les malédictions ne sont pas prise en compte dans cette version.
    2pts d'habileté vous ont été retirés.
    Si vous parvenez à vous en débarasser, utilisez le menu "Jeu"
    pour adapter vos points d'habileté.
</p>

<!-- TODO Handle curses (here, removed 2pts skills, not listed as curse) -->
