<h1>246</h1>
<p>
    Tandis que l'aube se lève sur le deuxième jour de votre voyage, vous marchez dans l'air frais du matin en montant le
    flanc de la colline. Lorsque vous parvenez au sommet, vous vous immobilisez soudain : à votre gauche se trouve une
    clairière où plusieurs piquets sont solidement plantés dans le sol ; or, à chacun de ces piquets est attachée une
    <span style="font-style: italic">tête</span>. Certaines de ces têtes sont encore intactes, d'autres à demi
    décomposées. Il y a là des têtes d'hommes, de
    Gobelins et d'une ou deux créatures que vous n'arrivez pas à identifier. Les yeux et la bouche de chacune d'elles
    sont soigneusement cousus. Un grand X a été peint sur le tronc d'un arbre et, de toute évidence, il s'agit là d'un
    signe interdisant d'aller plus loin. A quelque distance, le chemin aboutit à une bifurcation dont l'une des branches
    part vers la gauche et l'autre vers la droite ; vous ignorez cependant quel est le chemin qu'il vous est défendu
    d'emprunter. Si vous voulez continuer le long du chemin montant qui part vers la droite, rendez-vous au
    <chapter to="68"></chapter> ; si
    vous préférez le chemin qui descend, vers la gauche, le versant de la colline, rendez-vous au <chapter to="40"></chapter>.
</p>