<h1>88</h1>

<p>
    Vous vous approchez de la porte et vous appelez, mais personne ne vous répond. Vous écartez alors les rideaux qui
    masquent l'entrée et vous pénétrez à l'intérieur de la cabane. Des coussins sont disposés en cercle dans la pièce et
    une musique jouée sur des flûtes invisibles s'élève dès que vous franchissez le seuil. C'est un air joyeux et
    reposant ; vous vous asseyez sur les coussins pour l'écouter. Avez-vous une flûte dans votre Sac à Dos ? Si oui,
    vous pouvez la prendre et en jouer à votre tour (rendez-vous au <chapter to="11"></chapter>).
    Sinon, rendez-vous au <chapter to="179"></chapter>.
</p>
