<h1>181</h1>

<p>
    Vous marchez sur une brindille qui se brise sous vos pas avec un claquement sec. Quelque chose remue alors dans l'une
    des grottes et vous entendez une créature s'approcher. Un instant plus tard une haute silhouette vêtue de haillons
    surgit de la grotte : c'est un GÉANT armé d'une lourde massue. Si vous voulez vous préparer au combat, rendez-vous
    au <chapter to="162"/>. Si vous préférez essayer de lui parler, rendez-vous au <chapter to="256"></chapter>.
</p>

<img src="img/sorcery/01/good_sun.gif"/>
