<h1>57</h1>

<p>
    Vous marchez à pas rapides parmi les herbes et soudain, votre pied heurte un petit sac posé par terre. Vous le
    ramassez : c'est une bourse qui contient 12 Pièces d'Or que vous pouvez vous approprier. Mais, en rangeant votre
    trouvaille dans votre Sac à Dos, vous vous apercevez que vous avez perdu l'un des objets qu'il contenait. Choisissez
    vous-même l'objet manquant et rayez-le de votre <i>Feuille d'Aventure</i> (si vous ne possédiez aucun objet, vous
    devrez rayer soit vos Provisions, soit l'Or dont vous disposiez avant de trouver la bourse). Tandis que vous
    fouillez dans vos affaires, les hautes herbes qui vous entourent se penchent vers vous et tentent de s'enrouler
    autour de votre Sac à Dos. Ces herbes sont des HERBES VOLEUSES et si vous n'y prenez pas garde, elles s'efforceront
    de vous dérober les objets que vous transportez. Sachant cela, vous devrez surveiller attentivement votre Sac à Dos.
    Poursuivez à présent votre chemin en vous rendant au <chapter to="159"></chapter>.
</p>