<h1>84</h1>

<p>
    Votre manque de sommeil vous coûte 2 points d'ENDURANCE. Et, tandis que vous poursuivez votre chemin, il y a de
    fortes chances pour que le bruit de vos pas attire des créatures nocturnes. Rendez-vous au <chapter to="123"></chapter> pour
    voir si vous allez faire de mauvaises rencontres ; battez-vous si nécessaire, puis <i>revenez à ce paragraphe.</i>
    Lorsque vous en aurez fini avec d'éventuels adversaires, rendez-vous au <chapter to="31"></chapter>.
</p>

<p class="integrator">
    Le site vous redirigera ici automatiquement après votre passage au 123.
</p>

