<h1>295</h1>

<p>
    Vous perdez 2 points d'ENDURANCE. Lorsque vous prononcez la Formule, cinq doubles de vous-même apparaissent aussitôt
    devant la créature qui passe à l'attaque. Choisissez un chiffre entre 1 et 6 : c'est celui qui vous représente
    vous-même ; <a data-target="#roll-dices" data-toggle="modal">lancez ensuite un dé</a> :
    si ce chiffre sort, la créature ne s'est pas trompée et c'est bien vous qu'elle
    attaque. Rendez-vous dans ce cas au
    <chapter to="20"></chapter> et menez le combat. Si c'est un autre chiffre qui sort, vous pouvez vous enfuir tandis que le
    monstre se battra vainement contre l'une des images créées. Vous vous rendrez alors au
    <chapter to="193"></chapter>.
</p>
