<div class="container">

    <div class="hero-unit">

        <div class="row">
            <div class="span8">
                <h1>Sorcellerie !</h1>

                <p>
                    Revivez l'aventure épique de ce jeu dont vous êtes le héros et partez en quête de la Couronne des Rois.
                    Sorcier ou guerrier, le premier volume de la série s'offre à vous.
                </p>

                <p><a href="#/play" class="btn btn-primary btn-large">Commencer &raquo;</a></p>
            </div>
            <div class="span2">
                <img src="img/sorcery/01/collines_malefiques-small.jpg"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Sans dés</h2>

            <p>
                Pas besoin de tenir à jour votre feuille d'aventure ni de lancer les dés :
                vous faites les bons choix de chapitres et le site s'occupe de tenir à jour vos progrès.
            </p>
            <p><a class="btn" href="#/intro">En savoir plus &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Alpha</h2>

            <p>
                Version "alpha", sommairement testée et avec des limitations.
                Ca peut parfois casser mais c'est jouable!
            </p>

            <p><a class="btn" href="#/intro">En savoir plus &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Un livre</h2>

            <p>
                &laquo;&nbsp;Les Collines Maléfiques&nbsp;&raquo;, premier volume d'une série de quatre tomes,
                en version jouable en ligne. Sauvegardes locales, sans compte.
            </p>
            <p><a class="btn" href="#/intro">En savoir plus &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>Mis en ligne par Youri</p>
    </footer>

</div>
