<div id="intro" class="container-fluid">

    <h1>Au fait&hellip;</h1>

    <h2>Sans dés ni feuille</h2>

    <p>
        Vous ne devez pas tenir à jour votre feuille d'aventure, les objets dans votre sac à dos
        ni lancer les dés durant les combat : le site s'en charge pour vous.
    </p>

    <h2>Alpha</h2>

    <p>
        Attention : version sommairement testée, vous risquez d'essuyer quelques plâtres.
        C'est brut de décoffrage et réalisé sans moyens gigantesques. Pas d'animations ni de gadgets,
        juste le minimum pour jouer!
    </p>

    <p>Limitations connues :</p>
    <ul>
        <li>
            À vous de recommencer quand vos points d'endurance tombent à zéro.
            Vous êtes assez grand pour savoir quand vous êtes mort.
        </li>
        <li>
            Pas de gestion de la chance durant les combat pour porter un coup plus fort
            ou diminuer les effets d'une blessure.
        </li>
        <li>
            Certaines séquences ou particularités ne sont pas gérées. Cela sera indiqué dans le chapitre
            en question.
        </li>
    </ul>

    <h2>Sauvegardes locales</h2>

    <p>
        Toutes les sauvegardes s'effectuent localement, dans votre navigateur. Vous ne pouvez pas
        commencer l'aventure sur votre tablette et la terminer sur votre PC.
    </p>

    <h2>Triche</h2>

    <p>
        Vous pouvez tricher, si ça vous amuse, mais cela n'a pas vraiment d'intérêt.
        Contrairement à la version papier, si vous échouez,
        recommencer est très rapide puisque clicker sur des liens est infiniment plus commode que de
        tourner des pages. Les combats se font en quelques clicks...
    </p>

    <p>
        Le menu "Jeu" vous permet d'adapter vos points d'ENDURANCE, d'HABILETE, de CHANCE ainsi
        que votre or, vos armes et les objets de votre sac en cours d'aventure.
    </p>

</div>