<div id="book-spells" class="container-fluid">

<div ng-include src="'partials/book-spells/menu-bar.html'"></div>

<h1>Le Livre des Formules Magiques</h1>

<h2>Indications relatives à l'exercice de la Magie</h2>

<p>
    Plus vous vous familiariserez avec les Formules Magiques contenues dans ce livre, plus vous aurez de chances de
    mener à bien vos différentes aventures.
</p>

<p>
    En apprenant dès maintenant les six formules de base, vous pourrez très vite commencer à jouer.
    Ces formules vous permettront de faire face à la plupart des obstacles que vous rencontrerez,
    mais elles vous coûteront cher en points d'ENDURANCE, et vous devrez, bien souvent,
    vous en remettre plutôt à votre épée, notamment lorsqu'il s'agira de combattre des créatures peu redoutables.
    Sinon, votre total d'ENDURANCE aura tôt fait de baisser dangereusement.

    D'autres formules sont plus économiques en matière d'ENDURANCE mais l'occasion de les utiliser
    vous sera offerte moins fréquemment, et elles vous demanderont un plus grand effort de mémoire. Les formules les
    moins coûteuses sont celles qui nécessitent le secours d'un objet magique qu'il vous faudra tout d'abord trouver
    avant de pouvoir y recourir. Sachez aussi qu'il pourrait vous en coûter cher si vous vous mêliez de vouloir
    deviner certaines formules sans les avoir préalablement apprises ! En effet, certains codes de trois lettres qui
    vous sont donnés au cours de l'aventure ne correspondent à rien : ce sont des pièges destinés à mettre vos
    connaissances à l'épreuve. Si vous choisissiez une telle formule fantaisiste, vous perdriez aussitôt plusieurs
    points d'ENDURANCE sans en retirer le moindre avantage. De même, si vous choisissez d'utiliser une formule qui
    exige la possession d'un objet magique, vous serez également pénalisé si vous ne disposez pas de cet objet.
    Votre mémoire devra donc être fidèle ! D'autant qu'en certaines circonstances, de telles erreurs pourraient tout
    simplement vous faire passer de vie à trépas !
</p>

<p>
    Enfin, il reste à préciser que les Formules Magiques ne se retrouvent pas toutes dans cette première aventure.
    Certaines d'entre elles n'apparaîtront que dans la deuxième, la troisième ou la quatrième aventure de
    <i>Sorcellerie !</i>. Il en est même quelques-unes qui ne sont pas utilisées du tout !

    Dans les prochains livres, les six
    formules de base seront moins souvent offertes à votre choix. D'une manière générale, les formules sont classées
    selon leur utilité mais <i>jusqu'à un certain point seulement</i>. Il ne s'agit pas là d'une règle absolue. Un
    apprenti Sorcier devrait pouvoir réussir la première quête sans trop de difficultés mais, par la suite, les
    aventures qui lui seront proposées deviendront progressivement plus ardues.
</p>

<p>
    Vous ne tarderez pas à acquérir une certaine expérience dans l'usage des formules de magie. Les codes qui les
    désignent, la façon dont elles sont classées et soumises à votre choix, comportent une certaine logique : à vous
    de découvrir peu à peu cette logique. La pratique vous rendra de plus en plus habile à exercer vos pouvoirs
    magiques : c'est ainsi que vous deviendrez un expert dans l'art de la sorcellerie.
</p>

<div style="margin-top: 30px" ng-include src="'partials/book-spells/menu-bar.html'"></div>

</div>
