<div id="book-spells" class="container-fluid">

<div ng-include src="'partials/book-spells/menu-bar.html'"></div>

<h1>Le Livre des Formules Magiques</h1>

<h2>Règles concernant l'usage de la Magie</h2>

<p>
    Au cours de votre entraînement, vous aurez appris plusieurs Formules Magiques qui pourront vous aider dans votre
    aventure. Vous trouverez la liste complète de ces formules et de leurs effets à la fin de ces explications.
</p>

<p>
    Les Formules Magiques sont chaque fois désignées par un code de trois lettres. Tout au long de votre quête, vous
    aurez la possibilité de recourir à la magie pour surmonter certaines difficultés ou vous défendre contre vos
    adversaires. Dans le déroulement de chaque aventure de la série Sorcellerie !, il n'est fait référence
    aux diverses formules que par la mention de ces codes de trois lettres : vous devrez donc en apprendre
    certains par cœur afin de pouvoir les identifier. Ainsi, avant de vous lancer dans votre quête, il vous
    faudra consacrer quelque temps à étudier ces formules pour les inscrire dans votre mémoire comme le ferait un
    mage véritable. Bien entendu, vous ne pourrez pas vous les rappeler toutes du premier coup mais, à force d'en
    faire usage, elles vous deviendront de plus en plus familières et vous connaîtrez par cœur les plus utiles. Pour
    commencer, essayez d'en apprendre entre six et dix (celles qui vous aideront le plus au départ de votre quête
    vous sont indiquées plus loin). Lorsque la magie vous fera défaut, vous vous fierez à votre habileté de bretteur
    pour combattre certaines créatures de rencontre. Avec un peu de chance, vous pourrez mener avec succès votre
    aventure grâce à ces quelques formules, mais votre tâche sera bien sûr facilitée à mesure que vos pouvoirs
    magiques s'étendront. Chaque fois que vous ferez usage de magie - quel qu'en soit le résultat, fructueux ou
    infructueux -, vous devrez fournir un effort de concentration qui puisera dans vos réserves d'énergie. Vous
    perdrez ainsi des points d'ENDURANCE pour chaque formule utilisée. Le nombre de points perdus vous est précisé
    sous chacune des Formules Magiques et vous devrez réduire d'autant votre total d'ENDURANCE.
</p>

<p>
    Quelques-unes de ces formules ne peuvent être mises en pratique qu'avec le secours d'un objet doté de propriétés
    particulières, un Joyau ou un Anneau magique, par exemple. Si vous essayez de recourir à une telle formule sans
    être en possession de l'objet nécessaire, vous gaspillerez en vain vos points d'ENDURANCE, car la formule
    restera alors sans effet. Vous avez tout loisir d'étudier le Livre des Formules aussi longtemps que vous le
    désirerez avant d'entreprendre votre quête, mais dès que vous aurez commencé à jouer vous n'aurez plus le
    droit de vous y référer : vous ne pourrez compter que sur votre seule mémoire jusqu'à la fin de
    l'aventure. Vous n'êtes pas davantage autorisé à recopier tout ou partie de ces formules en guise
    d'aide-mémoire. En effet, lorsque vous vous trouverez face à une créature qui vous prendra par surprise, vous
    n'aurez pas le temps de feuilleter vos notes ou les pages du livre, il vous faudra réagir immédiatement en
    faisant le choix le plus judicieux possible.
</p>

<p>Voici les six formules les plus utiles à connaître dans l'immédiat :</p>

<div class="row-fluid">
    <div class="span2">
        Code
    </div>
    <div class="span8">
        Effet
    </div>
    <div class="span1">
        Coût
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        ZAP
    </div>
    <div class="span8">
        Fait jaillir un éclair de votre index.
    </div>
    <div class="span1">
        4
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        HOR
    </div>
    <div class="span8">
        Vous permet de vous protéger par un champ de force invisible
    </div>
    <div class="span1">
        4
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        LOI
    </div>
    <div class="span8">
        Vous donne le pouvoir de contrôler la volonté d'une créature.
    </div>
    <div class="span1">
        4
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        MOU
    </div>
    <div class="span8">
        Rend singulièrement maladroites les créatures qui en sont victimes
    </div>
    <div class="span1">
        4
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        FEU
    </div>
    <div class="span8">
        Vous permet de faire jaillir une boule de feu que vous pouvez lancer sur un adversaire.
    </div>
    <div class="span1">
        4
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        MUR
    </div>
    <div class="span8">
        Dresse devant vous un mur magique qui vous met hors d'atteinte de tout projectile.
    </div>
    <div class="span1">
        4
    </div>
</div>

<p>
    ZAP et FEU sont des formules d'attaque particulièrement efficaces.
    HOR et MUR sont très utiles pour vous défendre
    contre toutes sortes d'agressions. Quant à LOI et MOU, elles vous permettront de vous sortir de situations
    délicates.
</p>

<p>
    Sachez que ces formules se révéleront souvent beaucoup plus puissantes qu'il ne serait nécessaire -elles coûtent
    d'ailleurs assez cher en points d'ENDURANCE - mais elles sont d'un bon secours face à de nombreux adversaires ou
    obstacles. A mesure que vous apprendrez davantage de formules, vous pourrez en choisir d'autres, aussi efficaces
    contre certains dangers, mais qui vous coûteront cependant moins de points d'ENDURANCE. A présent, lisez à
    nouveau la liste ci-dessus, puis cachez de votre main la colonne <i>Effet</i>. De combien de formules êtes-vous
    capable de vous souvenir ? Lorsque vous les saurez toutes par cœur, vous pourrez commencer votre quête.
</p>

<div style="margin-top: 30px" ng-include src="'partials/book-spells/menu-bar.html'"></div>

</div>
