<div id="book-spells" class="container-fluid">

<div ng-include src="'partials/book-spells/menu-bar.html'"></div>

<h1>Le Livre des Formules Magiques</h1>

<div class="spell-page">
    <p class="spell">ZAP</p>

    <p>Cette formule constitue une arme très puissante : elle vous permet en effet de faire jaillir de votre main un
        éclair qui viendra frapper l'ennemi vers lequel vous aurez pointé votre index. La formule ZAP se révèle efficace
        contre pratiquement toutes les créatures qui ne disposent pas de protections magiques. Elle exige cependant une
        forte concentration et une grande dépense d'énergie.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">FEU</p>

    <p>Grâce à cette formule, vous pouvez lancer une boule de feu jaillie de votre main en direction d'un ennemi. Cette
        arme est efficace contre toutes les créatures -qu'elles disposent ou non de pouvoirs magiques - à l'exception de
        celles qui sont invulnérables au feu. La boule enflammée inflige de graves brûlures à l'adversaire qui en est
        frappé, mais elle s'éteint dès qu'elle a atteint son but.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">HOR</p>

    <p>Voici une formule particulièrement efficace qui vous permet de dresser autour de vous une barrière magique :
        cette protection invisible interdit à toute créature - y compris la plupart de celles disposant de pouvoirs
        magiques - de s'approcher de vous. La mise en pratique de cette formule vous demandera un grand effort de
        concentration mais le champ de force ainsi créé comporte des avantages certains : d'une part, il est extrêmement
        puissant et, d'autre part, vous pouvez l'orienter et le modeler selon vos besoins, en ménageant, par exemple, un
        passage étroit qui donne la possibilité de le franchir si vous le jugez nécessaire.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">MUR</p>

    <p>Encore une formule qui vous permet de créer devant vous un mur invisible. Vous resterez ainsi hors d'atteinte de
        tout projectile ou adversaire qui pourrait vous menacer. C'est là un moyen de défense très utile en de
        nombreuses circonstances.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">LOI</p>

    <p>En faisant usage de cette formule, vous parviendrez à contrôler la volonté d'un adversaire qui vous attaque.
        L'agression cessera aussitôt, et l'ennemi vous obéira sans réserve. Cette formule, cependant, n'est efficace que
        lorsqu'elle s'applique aux créatures dénuées d'intelligence, et ses effets sont de courte durée.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE. </p>
</div>

<div class="spell-page">
    <p class="spell">MOU</p>

    <p>Lorsqu'on utilise une telle formule contre un adversaire qui tient un objet quelconque (une arme par exemple), la
        créature devient maladroite et incapable de coordonner ses gestes. Elle laissera alors tomber l'objet, le
        ramassera tant bien que mal, le laissera échapper à nouveau, bref, elle ne pourra plus vous faire le moindre mal
        avec son arme tant qu'elle restera sous l'influence du sortilège.</p>

    <p class="spell-cost">Coût : 4 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">GRO</p>

    <p>Lorsque vous ferez usage sur vous-même de cette formule, votre corps triplera de volume. Vous deviendrez donc
        beaucoup plus fort et vous pourrez ainsi mieux combattre des adversaires de grande taille. Faites attention,
        cependant, de ne pas utiliser cette formule dans des espaces réduits : vous risqueriez de rester coincé !</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">ECU</p>

    <p>Pour vous servir de cette formule, vous aurez obligatoirement besoin d'une Pièce de monnaie, quelle qu'elle soit.
        Vous devrez poser cette Pièce sur votre poignet et prononcer la formule. Aussitôt, la Pièce se collera à votre
        peau et produira un champ magnétique circulaire d'un mètre de diamètre. Ce disque invisible fera office de
        bouclier et vous protégera contre toutes les armes courantes. Lorsque les effets de la formule se seront
        dissipés, la Pièce de monnaie ne sera plus utilisable en tant que telle.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">CLE</p>

    <p>En ayant recours à cette formule, vous aurez le pouvoir d'ouvrir toutes les portes fermées à clé. Le sortilège
        agit directement sur la serrure et il ne vous reste plus qu'à pousser le battant. Si la porte est fermée de
        l'intérieur par un verrou, celui-ci se libérera immédiatement. La formule CLE reste cependant sans effet
        lorsqu'on se trouve devant une porte fermée par quelque procédé magique.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">FIL</p>

    <p>Pour utiliser cette formule, vous aurez besoin de Cire d'Abeille. Vous devrez frotter avec cette Cire le fil de
        toute arme tranchante (épée, hache, poignard, etc.) en prononçant simultanément la Formule Magique. L'arme
        deviendra alors aussi coupante qu'un rasoir et infligera des blessures deux fois plus graves à vos adversaires.
        Ainsi, au lieu de perdre 2 points d'ENDURANCE à chaque coup porté, ils en perdront 4.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">DEV</p>

    <p>Vous pourrez avoir recours à cette formule lorsque vous soupçonnerez la proximité d'un piège quelconque. Une fois
        prononcée, la formule DEV vous indiquera par communication télépathique si oui ou non un piège existe dans les
        environs et, si oui, quel est le meilleur moyen de l'éviter. Au cas où vous seriez déjà pris dans un piège, ce
        sortilège pourra dans certains cas en minimiser les effets.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">SIX</p>

    <p>C'est sur vous-même que vous pourrez faire usage de ce sortilège. Il a pour effet de créer cinq images de
        vous-même. Ces images sont toutes semblables et chacune d'elle a le pouvoir de prononcer une Formule Magique ou
        de lancer une attaque. Toutes cependant se comporteront exactement de la même manière, comme si elles étaient
        reflétées dans un miroir. Les créatures qui se trouveront en présence de ces répliques de vous-même seront
        incapables de discerner l'original des différentes copies et elles vous combattront tous les six, vous et vos
        cinq images, sans savoir où se tient leur véritable adversaire. </p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">JIG</p>

    <p>Lorsque vous jetterez ce sort, quiconque en sera victime éprouvera une irrésistible envie de danser. Mais, pour
        pouvoir faire usage de cette formule, vous aurez besoin d'une petite Flûte de Bambou sur laquelle vous jouerez
        des airs de gigue. Tant que vous continuerez à jouer, la créature dansera, ce qui devrait vous donner le temps
        de vous échapper à moins que vous ne préfériez assister au spectacle... </p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">GOB</p>

    <p>L'utilisation de cette formule nécessite la possession d'une ou plusieurs Dents de Gobelins. Une fois la formule
        prononcée, chacune de ces Dents donnera naissance à un Gobelin tout entier. Plus vous aurez de Dents, plus ils
        seront nombreux. Vous pourrez même créer toute une armée de Gobelins. Une fois apparus, ces Gobelins combattront
        tout ennemi que vous leur désignerez ou accompliront n'importe quelle tâche selon vos désirs. Dès qu'ils se
        seront acquittés de la mission dont vous les aurez chargés, ils disparaîtront d'eux-mêmes.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE par Gobelin ainsi créé.</p>
</div>

<div class="spell-page">
    <p class="spell">OGR</p>

    <p>Pour jeter ce sort, vous aurez besoin d'une Dent de Géant. Lorsque vous aurez prononcé la formule, la Dent fera
        naître un Géant de 3,50 mètres. La créature ainsi créée vous obéira en tout point et vous pourrez lui faire
        combattre un ennemi ou accomplir une tâche qui demande une force exceptionnelle. Dès qu'il se sera acquitté de
        la mission que vous lui aurez confiée, le Géant disparaîtra de lui-même. </p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">COL</p>

    <p>Si vous disposez d'un Pot de Colle, vous pourrez faire usage de cette formule : vous obtiendrez alors une colle
        extra-forte qui prendra instantanément. Grâce à cette substance aux propriétés décuplées, vous pourrez coller
        n'importe quelle créature sur le sol ou contre un mur. Il sera nécessaire, cependant, que votre victime entre en
        contact avec la Colle contenue dans le Pot. Pour parvenir à ce résultat, il vous suffira de jeter le Pot au pied
        de votre adversaire, ou de le poser au sommet d'une porte légèrement entrebâillée ; lorsque la créature ouvrira
        la porte elle recevra la Colle sur la tête.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">UBI</p>

    <p>Cette formule vous sera utile dans certaines situations périlleuses, lorsque vous aurez besoin de savoir quel est
        le plus sûr moyen de vous échapper d'un endroit. Dès que vous aurez prononcé la formule, vous serez
        immédiatement attiré vers la sortie la plus sûre et, s'il existe à proximité un objet grâce auquel vous pourriez
        vous défendre contre une créature qui vous menace, vous serez aussitôt poussé vers lui par une étrange force
        psychique.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">DOC</p>

    <p>Grâce à ce sortilège, les potions médicinales que vous possédez verront leurs effets décuplés et vous pourrez
        ainsi guérir les blessures de toute créature, homme ou animal, à qui vous ferez boire l'un quelconque de ces
        breuvages. Vous pourrez faire usage sur vous-même de cette formule, mais sachez qu'elle ne permet pas de ramener
        à la vie une créature morte.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE</p>
</div>

<div class="spell-page">
    <p class="spell">LEN</p>

    <p>En jetant ce sort à l'un quelconque de vos adversaires vous diviserez par six la rapidité de ses mouvements et de
        ses réflexes. La créature semblera alors se mouvoir au ralenti, comme dans un rêve, et vous pourrez ainsi
        prendre la fuite ou remporter la victoire beaucoup plus facilement.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">SOU</p>

    <p>Grâce à ce sortilège, vous pourrez créer l'image d'un fabuleux trésor composé de pièces d'or ou d'argent, de
        pierres précieuses et de bijoux. Ces richesses vous permettront de détourner l'attention d'une créature, de lui
        payer une somme due ou de la corrompre. Mais dès que vous serez hors de vue, le trésor disparaîtra de
        lui-même.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">MAG</p>

    <p>Voici une Formule Magique qui vous protégera contre les effets de la plupart des sorts qu'on pourrait vous jeter.
        Il vous faudra la prononcer très vite, avant que votre adversaire n'ait eu le temps d'user de son sortilège.
        Votre formule neutralisera aussitôt la magie de votre ennemi et il s'agit donc là d'une arme défensive très
        efficace. Elle ne vous protégera pas cependant contre tous les sortilèges adverses : face à certains d'entre
        eux, en effet, elle restera inopérante.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE. </p>
</div>

<div class="spell-page">
    <p class="spell">PAN</p>

    <p>Voici une formule aux effets spectaculaires ; elle demande cependant une grande concentration mentale. Vous devez
        la prononcer en dirigeant votre énergie psychique sur de petits Cailloux. Une fois qu'ils auront été soumis à
        vos pouvoirs, vous pourrez vous en servir comme projectile : ils exploseront alors dès qu'ils atteindront leur
        cible. Ces Cailloux peuvent causer de grands dommages et ils ont également la propriété de produire une forte
        détonation lorsqu'ils explosent.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">CHU</p>

    <p>Cette formule vous sera fort utile si vous tombez dans une fosse ou de quelque hauteur que ce soit. Dès que vous
        l'aurez prononcée en effet, vous deviendrez aussi léger qu'une plume et vous atterrirez en douceur sans vous
        faire de mal.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">FOL</p>

    <p>Ce sortilège constitue un bon moyen de défense : il vous permet en effet de jeter la plus grande confusion dans
        l'esprit d'une créature qui vous attaque. Votre agresseur perdra alors la notion de la réalité, mais vous devrez
        cependant user prudemment de cette formule car une créature ainsi égarée peut agir de manière irrationnelle et
        imprévisible.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">NUI</p>

    <p>Cette formule ne peut être utilisée que dans une pièce fermée et dépourvue de fenêtres. Dès qu'elle est
        prononcée, une obscurité d'un noir d'encre règne aussitôt dans la pièce, même si des torches et des chandelles y
        sont allumées. Vous serez alors le seul à voir clairement les lieux, tandis que toute autre créature se trouvant
        en votre présence deviendra ainsi totalement aveugle. Les effets de ce sortilège ne sont que temporaires.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">BOU</p>

    <p>En prononçant cette formule, vous devrez répandre du Sable sur le sol à l'endroit désiré (devant une créature qui
        vous attaque, par exemple). Aussitôt, ce Sable formera une mare de sable mouvant dans laquelle votre adversaire
        s'enlisera dès qu'il y aura posé le pied.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">PUE</p>

    <p>Lorsque vous prononcerez cette formule, une odeur infecte se répandra aussitôt alentour. Cette puanteur est si
        épouvantable que toute créature en ayant respiré une bouffée sera immédiatement prise de vomissements. Vos
        adversaires dotés d'un sens de l'odorat se trouveront ainsi considérablement affaiblis. Mais attention :
        vous-même serez victime de cette répugnante odeur si vous ne prenez pas la précaution de vous boucher le nez à
        l'aide de Tampons enfoncés dans les narines. Les créatures pourvues de grands nez seront plus sensibles que les
        autres à ce sortilège. </p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">TEL</p>

    <p>Pour faire usage de ce sortilège, vous devrez porter une Calotte de toile. Grâce à cette Calotte, vous pourrez
        lire les pensées de toute créature douée d'intelligence ; vous obtiendrez ainsi tous les renseignements dont
        vous aurez besoin : force et faiblesses de la créature en question, disposition des lieux, objets contenus dans
        tel ou tel endroit etc.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">HOU</p>

    <p>Pour pouvoir utiliser ce sortilège, vous devrez être en possession d'un Masque Noir qu'il vous faudra porter
        pendant que vous prononcerez la formule. Vous provoquerez alors une peur panique dans l'esprit de votre
        adversaire. Les créatures courageuses seront moins sensibles à ce sortilège que les êtres couards, et ses effets
        iront d'une simple sueur froide à un état d'épouvante spectaculaire qui réduira votre adversaire à un petit tas
        de chair tremblotante blottie peureusement dans un coin de la pièce.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE. </p>
</div>

<div class="spell-page">
    <p class="spell">BOF</p>

    <p>Ce sortilège n'a d'effet qu'au cours d'un combat : il vous permettra alors de démoraliser complètement votre
        adversaire qui n'aura plus aucune volonté de vaincre. Toute créature atteinte par cet état dépressif deviendra
        plus facile à neutraliser ; méfiez-vous cependant, car votre victoire ne sera pas forcément assurée pour
        autant.</p>

    <p class="spell-cost">Coût : 2 points d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">AMI</p>

    <p>Vous ne pourrez faire usage de ce sortilège que si vous possédez un Bijou en Or. Dès que vous aurez prononcé
        cette formule, toute créature, homme ou animal, se trouvant à proximité éprouvera tout à coup une très grande
        affection à votre égard. Cela ne signifie nullement que les créatures en question renonceront à vous combattre
        si telle est leur mission : vous pourrez simplement obtenir d'elles des renseignements qu'elles ne vous auraient
        jamais donnés en temps normal. Parfois, elles vous apporteront même leur aide, bien qu'elles vous soient
        fondamentalement hostiles.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">BIS</p>

    <p>Ce sortilège, fort utile lors des combats, nécessite l'utilisation d'un Miroir au Cadre d'Or. En dirigeant ce
        Miroir vers votre adversaire, vous créerez aussitôt son double. Cette réplique de la créature sera sous le
        contrôle de votre volonté et combattra l'original. Les deux adversaires, la créature réelle et son image,
        disposeront des mêmes armes et seront de force égale. Seule la chance décidera de la victoire de l'un ou de
        l'autre. Dès la fin du combat - que la créature réelle l'ait emporté ou qu'elle ait été vaincue par son double
        -, la réplique ainsi créée disparaîtra immédiatement.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE. </p>
</div>

<div class="spell-page">
    <p class="spell">FOR</p>

    <p>Pour pouvoir faire usage de cette formule, vous devrez tout d'abord boire une Potion d'Eau de Feu. Le sortilège
        augmentera alors les effets du breuvage et vous disposerez d'une force deux à trois fois supérieure à la
        normale. Le sortilège n'agit que provisoirement, mais suffisamment longtemps en principe pour vous permettre de
        remporter un combat ou d'accomplir un exploit exigeant une force exceptionnelle.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">ROC</p>

    <p>L'usage de cette formule nécessite l'emploi d'une Poudre de Pierre. Lorsque vous prononcerez la formule, vous
        devrez jeter cette Poudre sur la créature que vous souhaitez neutraliser. Les mouvements de votre adversaire se
        feront aussitôt plus lents, puis il s'immobilisera et sa peau prendra une teinte grise. Quelques instants plus
        tard, il se sera transformé en une statue de pierre.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">HOP</p>

    <p>En utilisant cette formule sur vous-même, vous deviendrez extraordinairement rapide et vous pourrez courir,
        parler, penser ou vous battre trois fois plus vite qu'à l'ordinaire. Vous devrez toutefois renifler de la Poudre
        Jaune avant de pouvoir faire usage de ce sortilège.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">VEN</p>

    <p>Pour utiliser cette formule vous devrez être en possession de la Trompe à Vent, un instrument en forme de
        trompette qui produit un son discordant. En prononçant la formule, vous vous concentrerez sur la Trompe puis
        vous soufflerez dans cette dernière après l'avoir orientée dans la direction choisie par vous. Il en sortira
        alors un vent terriblement violent, capable de renverser une créature de la taille d'un homme ou de balayer
        toutes sortes d'objets. </p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">FIX</p>

    <p>Ce sortilège peut s'appliquer indifféremment à des créatures ou à des objets. Il a pour effet d'immobiliser la
        créature ou l'objet en question à l'endroit où il se trouve, même s'il est en train de voler. Pour pouvoir
        utiliser cette formule, vous devrez disposer d'une Branche de Jeune Chêne. La créature ou la chose ainsi
        paralysées ne bougeront plus jusqu'à ce que vous ayez quitté les environs.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">SOM</p>

    <p>Ce sortilège permet d'endormir les créatures qui en sont victimes. Pour en faire usage, vous aurez besoin d'un
        Pendule de Cuivre. La Formule Magique aura pour effet de concentrer l'attention de votre adversaire sur ce
        Pendule que vous balancerez lentement devant lui. La créature commencera alors à somnoler et tombera bientôt
        dans un sommeil profond. </p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">VOL</p>

    <p>Pour recourir à ce sortilège, vous devrez porter autour du cou un Médaillon Incrusté de Pierreries. En prononçant
        cette formule, vous aurez alors la faculté de flotter dans les airs à la hauteur qui vous conviendra. Vous
        pourrez rester ainsi suspendu entre ciel et terre aussi longtemps qu'il vous plaira et vous déplacer à
        volonté.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">INV</p>

    <p>Vous ne pourrez recourir à ce sortilège que si vous portez un Anneau de Perles Fines. Si vous possédez cet Anneau
        et que vous prononciez la formule, vous deviendrez aussitôt complètement invisible aux yeux de toute créature
        intelligente. Vous disposerez ainsi d'un avantage considérable lors de certains combats et vous aurez également,
        en d'autres circonstances, la possibilité de vous enfuir plus facilement. Sachez cependant que les créatures
        dotées d'un système auditif vous entendront vous déplacer et que les créatures de moindre intelligence se
        révéleront beaucoup moins sensibles à ce sortilège fondé sur l'illusion.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">LUX</p>

    <p>Pour pouvoir recourir à ce sortilège, vous devrez posséder le Joyau Solaire. Dès que vous aurez prononcé la
        formule, le Joyau se mettra à resplendir et vous pourrez en contrôler l'éclat à volonté : si, par exemple, vous
        voulez aveugler une créature, vous ferez briller le Joyau comme un soleil mais, s'il s'agit simplement de vous
        éclairer dans un endroit sombre, une lueur équivalente à celle d'une torche vous suffira.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">REV</p>

    <p>Cette formule ne peut être utilisée que si vous disposez d'un Bracelet d'Or. En prononçant la formule, vous
        concentrerez votre esprit sur l'illusion que vous voulez créer, par exemple un sol de charbons ardents, votre
        propre transformation en un démon, etc. Cette illusion apparaîtra alors comme une réalité aux yeux de la
        créature que vous aurez choisie pour victime ; vous pourrez ainsi prendre la fuite plus facilement ou
        impressionner suffisamment la créature en question pour qu'elle se montre moins dangereuse à combattre. Il est à
        noter que ce sortilège reste sans effet sur les êtres dénués d'intelligence. Sachez également que, si vous
        agissez en contradiction avec l'image créée (par exemple, en vous lançant à l'attaque d'un adversaire alors que
        vous vous êtes transformé en souris), l'illusion disparaîtra aussitôt.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">BLA</p>

    <p>Pour faire usage de ce sortilège, vous devrez porter une Perruque Verte.
        Grâce à cette Perruque et à la Formule Magique, vous aurez la faculté de cornprendre le langage de créatures non
        humaines (Gobelins, Orques, etc.) et de communiquer avec elles.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE. </p>
</div>

<div class="spell-page">
    <p class="spell">WAF</p>

    <p>Cette formule nécessite, tout comme la précédente, que vous disposiez d'une Perruque Verte. Le sortilège vous
        permettra alors de comprendre la plupart des animaux et de communiquer avec eux.</p>

    <p>Coût 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">ZIP</p>

    <p>Vous ne pourrez vous servir de ce sortilège que si vous possédez un Anneau constitué d'un Métal Vert provenant du
        Pic de la Roche. Lorsque vous aurez prononcé la formule en vous concentrant sur l'Anneau Vert, vous aurez la
        faculté de vous déplacer instantanément de quelques mètres en disparaissant puis en reparaissant un peu plus
        loin. Vous pourrez traverser de cette manière certains matériaux tels que le bois et l'argile, mais la pierre et
        le métal resteront infranchissables. Sachez que ce sortilège peut vous réserver de mauvaises surprises et,
        parfois même, ses effets se révéleront désastreux.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">VUE</p>

    <p>Vous aurez besoin, pour recourir à cette formule, d'un Globe de Cristal grâce auquel vous pourrez, dans certaines
        limites, avoir une vision de l'avenir. Vous devrez prononcer la formule en vous concentrant sur le Globe de
        Cristal que vous tiendrez dans vos mains. Vous n'aurez guère la faculté de choisir les moments de l'avenir que
        vous souhaitez connaître, sachez simplement qu'il s'agit, la plupart du temps, d'événements appartenant à un
        futur proche.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">RES</p>

    <p>Pour faire usage de cette formule, vous devrez disposer d'Eau Bénite. Le sortilège vous permettra de ramener à la
        vie le cadavre d'un homme ou d'un humanoïde (c'est-à-dire d'un être possédant deux bras, deux jambes, une tête,
        etc.). Il vous suffira pour cela de prononcer la formule en aspergeant d'Eau Bénite le corps de la créature.
        Cette résurrection ne s'opère pas instantanément - ne vous attendez pas à voir le mort se relever d'un bond - et
        celui qui en bénéficie n'en devient pas invulnérable pour autant, il peut être tué à nouveau. Après être ainsi
        ressuscitée, la créature restera pendant quelque temps somnolente et engourdie, mais elle aura cependant la
        force de répondre à vos questions.</p>

    <p class="spell-cost">Coût : 1 point d'ENDURANCE.</p>
</div>

<div class="spell-page">
    <p class="spell">ZED</p>

    <p>Seuls les magiciens de première force peuvent jeter ce sort, les autres n'ont pas suffisamment de facultés de
        concentration. En fait, dans toute l'histoire de la sorcellerie, cette formule n'a été employée qu'une seule
        fois. Celui qui en a fait usage était un Nécromancien aux pouvoirs considérables : on ne l'a jamais revu,
        cependant, et nul ne peut dire quels effets ce sortilège a entraînés. Les notes de ce Nécromancien ont été
        retrouvées par la suite, mais elles ne comportaient que de vagues indications et aucun magicien vivant ne peut
        décrire les conséquences de cette formule. Sachez seulement que c'est sans doute <i>le</i> sortilège le plus
        puissant dont on ait jamais entendu parler dans la tradition des grands sorciers.</p>

    <p class="spell-cost">Coût : 7 points d'ENDURANCE.</p>
</div>

<div style="margin-top: 30px" ng-include src="'partials/book-spells/menu-bar.html'"></div>

</div>
