<div id="adventure" class="container-fluid">

    <h1>Aventure</h1>

    <div ng-show="!started()">
        <p>Votre aventure n'a pas encore commencé.</p>
        <a class="btn btn-primary" ng-click="goToCharacterBuilder()">Créer votre personnage</a>
    </div>

    <div ng-show="started()">

        <p>Votre aventure est en cours. Vous êtes au chapitre <strong>{{adventure.chapter}}</strong>.</p>

        <div style="margin-top: 20px">
            <a class="btn btn-primary" ng-click="recordAndPlay()">
                <i class="icon icon-white icon-arrow-right"></i> Continuer
            </a>
            <a class="btn btn-primary" ng-click="edit = true">
                <i class="icon icon-white icon-edit"></i> Modifier
            </a>
            <a class="btn btn-danger" ng-click="goToCharacterBuilder()">
                <i class="icon icon-white icon-refresh"></i> Recommencer
            </a>
        </div>

        <div ng-show="edit">

            <h3>Personnage</h3>

            <div class="row-fluid character-title">
                <div class="span2"><span class="label">Habileté</span></div>
                <div class="offset1 span2"><span class="label">Endurance</span></div>
                <div class="offset1 span2"><span class="label">Chance</span></div>
            </div>

            <div class="row-fluid character-values">
                <div class="span2">
                    {{vitals.skills}}
                </div>
                <div class="offset1 span2">{{vitals.stamina}}</div>
                <div class="offset1 span2">{{vitals.luck}}</div>
            </div>

            <div class="row-fluid character-values">
                <div class="span2">
                    <btn class="btn btn-mini" ng-click="increaseSkills()">+</btn>
                    <btn class="btn btn-mini" ng-click="decreaseSkills()">-</btn>
                </div>
                <div class="offset1 span2">
                    <btn class="btn btn-mini" ng-click="increaseStamina()">+</btn>
                    <btn class="btn btn-mini" ng-click="decreaseStamina()">-</btn>
                </div>
                <div class="offset1 span2">
                    <btn class="btn btn-mini" ng-click="increaseLuck()">+</btn>
                        <btn class="btn btn-mini" ng-click="decreaseLuck()">-</btn>
                </div>
            </div>

            <h3>Sac à dos</h3>

            <div class="row-fluid" ng-repeat="(item, howMany) in backpack">
                <div class="span7">
                    <span>{{item | translate}}</span>
                    <span ng-show="howMany > 1"> ({{howMany}})</span>
                    <i class="icon icon-remove" ng-click="removeItem(item)"></i>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span7">
                    <select ng-model="newItem" ng-options="key as value for (key, value) in _collectableItems()">
                        <option value="">&mdash; Choisissez un objet &mdash;</option>
                    </select>
                    &nbsp;
                    <btn class="btn btn-small" ng-click="addItem(newItem)">+</btn>
                </div>
            </div>

            <h3>Armes</h3>

            <div class="row-fluid" ng-repeat="(weapon, extraSkills) in weapons">
                <div class="span7">
                    <span>{{weapon | translate}}</span>
                    <span ng-show="extraSkills > 0"> (+{{extraSkills}})</span>
                    <span ng-show="extraSkills < 0"> ({{extraSkills}})</span>
                    <i class="icon icon-remove" ng-click="removeWeapon(weapon)"></i>
                </div>
            </div>
            <div class="row-fluid" ng-show="noWeapon()">
                <div class="span7">
                    <span>Pas d'arme (-4)</span>
                </div>
            </div>

            <h3>Or</h3>

            <div class="row-fluid">
                <div class="span5">
                    {{adventure.gold}} Pièces
                    <btn class="btn btn-mini" ng-click="addGold(1)">+</btn>
                    <btn class="btn btn-mini" ng-click="decreaseGold(1)">-</btn>
                </div>

            </div>

            <a class="btn btn-primary" ng-click="recordAndPlay()" style="margin-top: 20px">
                <i class="icon icon-white icon-arrow-right"></i> Continuer</a>
            </a>

        </div>

    </div>

</div>